[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]
 

[% widget = c.stash.widget %]
[% WRAPPER "boilerplate/widget" -%]

    [% # Pull in all sections - each of these should be conditional but under what parameters? %]
	[% # Users could just to show or hide empty sections...      %]
    [%# Sections themselves can optionally be composed of subsections 
    
    The template names are actually in the stash.  This should be unnecessary...

    %]

[% WRAPPER "boilerplate/field" title="Image" %]
    [% image(c.config.tmp_img_url _'/' _ c.stash.fields.homology_image.data) %]
[% END %]
[% WRAPPER "boilerplate/field" title="Motif Summary" %]
  [% data = c.stash.fields.motif_homologies.data %] 
   <table  border= 0, width= '100%' >
   <tr align= 'left'><th>Database</th><th>Description</th><th>Accession</th></tr>
   [% FOREACH obj IN data.accession.sort %]
   <tr><td>[% data.database.$obj %]</td><td>[% data.description.$obj %]</td>
    <td><a href= "[% c.uri_for_action('report', 'motif' , data.accession.$obj ) %]">[% data.accession.$obj %]</a></td></tr>
   [% END %]
   </table>   
[% END %]
[% WRAPPER "boilerplate/field" title="Best BLAST Hits" %]
  [% data = c.stash.fields.best_blastp_matches.data %] 
   <table  border= 0, width= '100%' >
   <tr align= 'left'><th>Species</th><th>Hit</th><th>Description</th><th>BLAST E-value</th><th>% Length</th></tr>
   [% FOREACH obj IN data.hit.keys.nsort %]
   <tr><td>[% data.species.$obj %]</td>
    <td><a href= "[% c.uri_for_action('report', 'protein' , data.hit.$obj ) %]">[% data.hit.$obj %]</a></td>
    <td width=45%>[% data.description.$obj %]</td><td>[% data.evalue.$obj %]</td><td>[% data.plength.$obj %]</td> </tr>
  [% END %]
   </table>   
[% END %]
[% END %]
