[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]
 

[% widget = c.stash.widget %]
[% WRAPPER "boilerplate/widget" -%]

    [% # Pull in all sections - each of these should be conditional but under what parameters? %]
	[% # Users could just to show or hide empty sections...      %]
    [%# Sections themselves can optionally be composed of subsections 
    
    The template names are actually in the stash.  This should be unnecessary...

    %]

[% WRAPPER "boilerplate/field" title="Image" %]
  <img src= "[% c.config.tmp_img_url %]/[% c.stash.fields.homology_image.data %]" />
[% END %]
 
[% END %]
