[%
#Genes
build_data_table(
    order = ['name','type', 'bp_inv', 'assay', 'phenotype', 'reference'],
    columns={
        name        => "Gene",
        type        => "Type",
        'bp_inv'    => 'Anatomical Sites',
        'assay'     => 'Assay',
        'phenotype' => 'Phenotype',
        'reference' => 'Reference'
    },
    key = 'genes'
);
%]