[%
WRAPPER $field_block  title="Molecules" key="molecules";
	build_data_table (
		order = [
			'molecule',
			'evidence',
			],
		columns = {
			molecule      => 'Molecule',
			evidence      => 'Supporting evidence'
			},
		key = 'molecules');
END;
%]