<h2 style="float:left">[% fields.name.data.label %]</h2>
	
[% 

WRAPPER highlight_box;

   taxonomy;

   WRAPPER $field_block title="Type" key="sequence_type";
	fields.sequence_type.data;
   END;

END;
'<div style="clear:left;padding:1em 0;" class="text-width">';
	 markup(fields.description.data);

WRAPPER $field_block title="Identity" key='identity';
	 fields.identity.data;
END;

WRAPPER $field_block title="Method" key='method';
        fields.method.data;
END;

remarks;
'</div>';
%]