[% 

WRAPPER $field_block title="ORFeome Assays" key="orfeome_assays";
    tags2link(fields.orfeome_assays.data.values, '<br>', 'Results');
END;

WRAPPER $field_block title="Source Clone" key="source_clone";
    tags2link(fields.source_clone.data);
END;

WRAPPER $field_block title="Microarray Assays" key="microarray_assays";
    tags2link(fields.microarray_assays.data, '<br />', 'Results');
END;

WRAPPER $field_block title="PCR Products" key="pcr_products";
    tags2link(fields.pcr_products.data, '<br />', 'Results');
END;

WRAPPER $field_block title="Matching cDNAs" key="matching_cdnas";
    tags2link(fields.matching_cdnas.data, '<br />', 'Results');
END;

WRAPPER $field_block title="Library" key='library';
     fields.library.data.name _ '<br />';
     '<div class="description">' _ fields.library.data.description _ '</div>';
      IF fields.library.data.vector;
        '<b>Vector</b>: ' _ 
          tag2link(fields.library.data.vector);
      END;
END;

%]