      [% tag2link(item.name) %]
      [% UNLESS item.name.data.coord.defined('start'); gbrowselink(item.name) END;%]

    </li>
    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span>

[% desc = item.concise_description.join('<br />') %]
<div class="text-min">
  [% markup(desc, 1, 1, 1, 0) %]    
</div>
