      [% tag2link(item.name) %]
    </li>
    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span>

[% desc = item.description.1 %]
<div class="text-min" style="height:auto;max-height:2.4em;">
  [% markup(desc) %]    
</div>
[% IF desc.length > 150 %]
  <div class="more">
  <div class="ui-icon ui-icon-triangle-1-s"></div>
  </div>
[% END %]