      [% tag2link(item.name) %]
    </li>
    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span>

[% desc = item.description.1 %]
<div class="text-min">
  [% markup(desc) %]    
</div>
