      [% tag2link(item.name) %]
    </li>
        [% IF item.taxonomy %]
    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span><br />
    [% END %]
        [% item.description %] <br />