      [% tag2link(item.name) %]
    </li>
    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span>

    <div class="text-min" style="height:auto;max-height:2.4em;">
       [% item.genotype %]    
    </div>

