      [% tag2link(item.name) %]
      [% gbrowselink(item.name) %]
    </li>

    <span class="species">[% item.taxonomy.genus %] [% item.taxonomy.species %]</span> <br />
[% IF item.gene %]
  Corresponding Gene: [% tags2link(item.gene, ', ') %]
[% END %]
[% desc = item.remark.join('<br />') %]
<div class="text-min" >
  [% markup(desc) %]
</div>