 
 
If you would like to become an operator, please go to this <a href="http://www.google.com/talk/service/badge/New?style=2&nickname=help desk" target="_blank"><b>link</b></a>
<br>
and copy paste the html code into here:<br>
<form method="POST" onsubmit="window.location.href='[% c.uri_for('add_operator') %]' + '?content='+ escape(this.content.value);return false;">
<textarea id="content" rows="10" cols="80" ></textarea>
<p>
<input type='submit' value='Continue'/> 
</p>
</form>
 
 
 