<p>Thank you for using WormBase!
</p>

<p>

To reset your password, please click on the following link:<br>
  <a href="[% c.secure_uri_for("/password/index") %]?id=[% token %]">[% c.secure_uri_for("/password/index") %]?id=[% token %]</a><br>

</p> 
<p>
Thank you,<br /><br />
The WormBase Consortium<br />
help@wormbase.org
</p> 
