[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% WRAPPER $field_block title='Summary' key='summary' %]
   [% IF fields.summary.data; fields.summary.data; END %]
[% END %]

[% WRAPPER $field_block title='Methods' key='methods' %]
   [% FOREACH method IN fields.methods.data.sort %]
   	  [% WRAPPER $field_block title=method.replace('_', ' ') %]
	  	 [% IF fields.methods.data.$method.pairs.0.value # it's a packed obj %]
		 	[% tag2linkAll(fields.methods.data.$method) %]
		 [% ELSE %]
		 	[% fields.methods.data.$method.sort.join(', ') || 'No extra data' %]
		 [% END %]
	  [% END %]
   [% END %]
[% END %]

[% WRAPPER $field_block title='Regulation' key='regulation' %]
   [% FOREACH reg_type IN fields.regulation.data.sort %]
   	  [% WRAPPER $field_block title=reg_type.replace('_', ' ') %]
	  	 [% tag2linkAll(fields.regulation.data.$reg_type) %]
	  [% END %]
   [% END %]
[% END %]

[% WRAPPER $field_block title='Regulators' key='regulators' %]
   [% FOREACH regulator IN fields.regulators.data.sort %]
   	  [% WRAPPER $field_block title=regulator.replace('_',' ') %]
	  	 [% IF fields.regulators.data.$regulator.pairs.0.value # it's a packed obj %]
		 	[% tag2linkAll(fields.regulators.data.$regulator) %]
		 [% ELSE # it's just text %]
		 	[% fields.regulators.data.$regulator.sort.join(', ') %]
		 [% END %]
	  [% END %]
   [% END %]
[% END %]

[% WRAPPER $field_block title='Targets' key='targets' %]
   [% FOREACH target_type IN fields.targets.data.sort %]
   	  [% WRAPPER $field_block title=target_type.replace('_', ' ') %]
	  	 [% tag2linkAll(fields.targets.data.$target_type) %]
	  [% END %]
   [% END %]
[% END %]

