<h2>[% fields.name.data.label %]</h2>

[%

WRAPPER highlight_box; END;

'<div class="description">';
   fields.summary.data;
'</div>';

WRAPPER $field_block title='Methods' key='methods';
   FOREACH method IN fields.methods.data.sort;
   	  WRAPPER $field_block title=method.replace('_', ' ');
	  	 IF fields.methods.data.$method.pairs.0.value;  # it's a packed obj
		 	tags2link(fields.methods.data.$method);
		 ELSE;
			fields.methods.data.$method.sort.join(', ') || 'No extra data';
		 END;
	   END;
    END;
END;

WRAPPER $field_block title='Type Of Change' key='type_of_change';
   FOREACH reg_type IN fields.type_of_change.data.sort;
   	  # WRAPPER $field_block title=reg_type.replace('_', ' ');
	  reg_type.replace('_',' ');
	  '<br />' _ tags2link(fields.type_of_change.data.$reg_type);
	  #END;
    END;
END;

WRAPPER $field_block title='Regulated By' key='regulators';
   FOREACH regulator IN fields.regulators.data.sort;
   	WRAPPER $field_block title=regulator.replace('_',' ');
	  	 IF fields.regulators.data.$regulator.pairs.0.value; # it's a packed obj
		    tags2link(fields.regulators.data.$regulator);
		 ELSE; # it's just text
		 	fields.regulators.data.$regulator.sort.join(', ');
		 END;
	   END;
    END;
END;

WRAPPER $field_block title='Regulates' key='';
	FOREACH regulation IN fields.regulates.data;

	    '<b>' _ regulation.regulation_type _ ":</b><br />";
	    
	    FOREACH condition_type IN regulation.conditions;
		# Print out a semi-prose description.
		tag2link(regulation.target);

  	        value = condition_type.value;
		cond_type = FILTER lower; condition_type.key; END;
		cond_type = cond_type.replace('_', ' ');
		IF value;
	            " in $cond_type: ";
		    IF condition_type.key == 'Subcellular_localization';
			FOREACH val IN value;
			    val;
			    UNLESS loop.last; ', '; END;
			END;
		    ELSE;
			tags2link(value,', ');
		    END;
		END;
		'<br >';
            END;
        END;

       IF fields.reference_expression_pattern.data;
          "See the " _ tags2link(fields.reference_expression_pattern.data)  _ " for a reference of where this gene regulation event is thought to occur.";
       END;
END;

WRAPPER $field_block title='Molecule Regulators' key='molecule_regulators';
   tags2link(fields.molecule_regulators.data);
END;

remarks;

%]