  [% WRAPPER "boilerplate/widget" -%]
whata
    [% IF genetic_position %]
       [% INCLUDE "generic/genetic_position.tt2" %]
    [% END %]

    [% IF interpolated_position %]
       [% INCLUDE "generic/interpolated_position.tt2" %]
    [% END %]

    [% IF genomic_position %]
       [% INCLUDE "gene/genomic_position.tt2" %]
    [% END %]

    [% IF genomic_environs %]
       [% INCLUDE "gene/genomic_environs.tt2" %]
    [% END %]

  [% END %]


