[%

   # Alleles
   WRAPPER $field_block title="Alleles" key="alleles";
       build_data_table(
            order=['variation','molecular_change','locations', 'phen_count'],
            columns={ variation         => 'Allele',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
                      aa_change         => 'Protein<br /> change',
                      aa_position       => 'Amino acid<br />position',
                      isoform           => 'Isoform',
                      method_name       => 'Method'
            },
            key='alleles',
            );
   END;

   # Polymorphisms
   WRAPPER $field_block title="Polymorphisms & Natural variants" key="polymorphisms";
        build_data_table(
            order=['variation','type','molecular_change','locations', 'effects','aa_change','aa_position','phen_count'],
            columns={ variation         => 'Polymorphism',
                      type              => 'Type',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
                      aa_change         => 'Protein<br /> change',
                      aa_position       => 'Amino acid<br />position',
            },
            key='polymorphisms',
            classsearch='variation');
    END;


%]
