<h3> Natural Copy Number Variants</h3>

<p>
Dozens of independent natural isolates of <span class="species">C. elegans</span>
have been recovered, from multiple locations around the world. The genomes of
some of these isolates contain large (>10 kb) deletions, duplications or
insertions, relative to the reference wildtype strain, Bristol N2. Deletions
are named with the prefix <em>niDf</em> (natural isolate deficiency) followed
by a number. Duplications and insertions are named with the prefix <em>niDp</em>
(natural isolate duplication or insertion), followed by a number. Numbers for 
<em>niDf</em> and <em>niDp</em> variants are assigned by application to: 
<span class="email">genenames@wormbase.org</span>
</p>

