<h3>Genetic Loci</h3>

<ul>
<li>
Genes are given names consisting of three or four italicized letters, 
a hyphen, and an italisized Arabic number, e.g., <em>dpy-5</em> or <em>let-37</em> or <em>mlc-3</em>.
The gene name may be followed by an italicized Roman numeral, to indicate the linkage group on which
the gene maps, e.g., <em>dpy-5 I</em>< or <em>let-37 X</em> or <em>mlc-3 III</em>.

<li>For genes defined by mutation, the gene names refer to the mutant phenotype originally detected or most easily scored e.g.
<ul>
<li>dumpy (<em>d</em>um<em>py</em>) in the case of <em>dpy-5</em>
<li>lethal (<em>let</em>hal) in the case of <em>let-37</em>.
</ul>


<li>For genes defined on the basis of sequence similarity or sequence features,
the gene name refers to the predicted protein product or RNA product e.g.
<ul>
<li><em>my</em>osin <em>l</em>ight chain in the case of <em>mlc-3</em>,
<li><em>super</em>o<em>xide</em> <em>d</em>ismutase in the case of <em>sod-1</em>,
<li><em>NPHP</em> (human kidney disease nephronophthisis gene) in the case of <em>nph-4</em>.
<li><em>r</em>ibosomal <em>RN</em>A in the case of <em>rrn-1</em>.
</ul>

<li>Genes with related properties are usually given the same three-letter name
and different numbers. For example, there are three known myosin light chain genes: <em>mlc-1, mlc-2, mlc-3</em>,
and more than twenty different dumpy genes: <em>dpy-1, dpy-2, dpy-3</em>, and so on.

<li>Genes can be given names corresponding to homologous named genes in other standard genetic organisms. e.g.
<ul>
<li><em>rnt-1</em> is the <span class="species">C. elegans</span> ortholog of the Drosophila gene <em>runt</em>.
<li><em>wrn-1</em> is the <span class="species">C. elegans</span> ortholog of the human gene WRN1, responsible for Werner's syndrome.
</ul>

<li>Gene names that are memorable, informative and simply explained are encouraged.

<li>Genes in a paralogous set related to a single named gene in another organism are
 sometimes given the same gene name and number, followed by a distinguishing decimal. 
e.g. four <span class="species">C. elegans</span> genes homologous to <em>SIR2</em> in <span class="species">S. cerevisiae</span>
have been given the names <em>sir-2.1, sir-2.2, sir-2.3, sir-2.4</em>.

<li>Pseudogenes, for which there is good evidence that no functional product is ever
generated, can be indicated by adding the optional italic suffix <em>ps</em> to the gene name, as in <em>msp-48ps</em>.

<li>Gene names based solely on RNAi phenotypes or high-throughput analysis of gene expression or protein interaction are discouraged.

<li>Gene names including <em>c</em> (for <em>Caenorhabditis</em>), <em>ce</em> (for <span class="species">C. elegans</span>), <em>n</em> (for nematode) or <em>w</em> (for worm) are discouraged. Instead, an optional prefix <em>Cel</em>- can be added to indicate the species origin.

<li>A limited number of genes have been given temporary <em>tag</em>- names (<em>tag</em> = 
<em>t</em>emporarily <em>a</em>ssigned <em>g</em>ene name). These are genes for which 
deletion alleles have been generated by reverse genetic methods, but which have not
yet been given more informative names based on sequence or mutant phenotype.
When sufficient information becomes available, each <em>tag</em> name will be
replaced by an appropriate standard 3-letter or 4-letter name.

<li>A limited number of genes, named on the basis of sequence homology,
have been given non-standard names ending with alphanumeric identifiers
rather than with simple numbers, in order to make these names closer to
the generally accepted names used in other organisms. e.g. <em>eif-3.B,
eif-3.C</em> encode proteins of the conserved translation factor eIF3.

</ul>


<h4>Gene Name Conflicts</h4>

<p>
Gene names that have been established in the published literature
and databases should preferably not be changed. In cases where a
gene has received multiple names, one name will be adopted as the 
main name for the gene. Other names will continue to be listed in 
databases. Whenever possible, name changes or the adoption of a 
single main name should be made with the approval of all laboratories 
concerned.
</p>


<h4>Homologous Genes</h4>

<p>
If a homolog of a known <span class="species">C. elegans</span> gene
is identified in a related species such as <span class="species">Caenorhabditis briggsae</span>,
this can be given the same gene name, preceded by three italic letters
referring to the species, and a hyphen. For example, <em>Cbr-tra-1</em>
is the name for the <em>C. briggsae</em> homolog of the 
<span class="species">C. elegans</span> gene <em>tra-1</em>. The 
<span class="species">C. elegans</span> homolog of a gene identified
and named in another organism can be distinguished by the same convention,
using "Cel-" as an optional prefix. For example, <em>Cel-snt-1</em> 
defines the <span class="species">C. elegans</span> synaptotagmin gene.
</p>


<h4>Alleles and Mutations</h4>

<ul>
<li>
Every mutation has a unique designation. Mutations are given names
consisting of one or two italicized letters followed by an italicized
Arabic number, e.g., <em>e61</em> or <em>mn138</em> or <em>st5</em>. 
The letter prefix refers to the laboratory of isolation, as registered
with the <a href="http://www.cbs.umn.edu/CGC/nomenclature/labhead.html">CGC</a>.
There are currently more than 500 registered laboratories. For example, <em>e</em>
refers (originally) to the MRC Laboratory of Molecular Biology (Cambridge, U.K.),
(currently) to the laboratory of J. Hodgkin (University of Oxford), and <em>st</em> 
refers to the laboratory of R.H. Waterston (originally at Washington University,
St. Louis, MO, currently at the University of Washington, Seattle).

<li>
When gene and mutation names are used together, the mutation name is included
in parentheses after the gene name, e.g., <em>dpy-5(e61), let-37(mn138)</em>.
When unambiguous (e.g., if only one mutation is known for a given gene or if
all work on a gene described in a publication used a single mutation cited in 
a Methods section), gene names are used in preference to mutation names 
(<em>let-37</em> rather than <em>mn138</em> or <em>let-37(mn138)</em>).

<li>
Optional suffixes indicating characteristics of a mutation can follow a 
mutation name. These are usually two-letter nonitalicized letters, e.g., 
<em>hc17</em>ts, where ts stands for temperature-sensitive, or <em>pk15</em>te,
where te stands for transposon-excision.

<li>
Mutations created by <em>in vitro</em> mutagenesis should receive standard
allele names. For cases where a pre-existing genomic mutation is 
re-created by <em>in vitro</em> mutagenesis, it is still desirable to give 
the new mutation a new name.

<li>
The wild-type allele of a gene is defined as that present in the Bristol 
N2 strain, stored frozen at the CGC and other locations. Wild-type alleles
can be designated by a plus sign immediately after the gene name, <em>dpy-5+</em>,
or, more commonly, by including the plus sign in parentheses, <em>dpy-5(+)</em>.
</ul>


<h4>Gene Knockouts</h4>

<li>
Most gene knockouts constructed to date are small deletions (<5 kb) generated
by transposon excision or by chemical mutagenesis. These are named as alleles,
sometimes with the optional suffix te (transposon-excision) or ko (knockout). 
Example: <em>zyx-1(gk190)</em> is a 777 bp deletion in the <em>zyx-1</em> gene.

<li>
Some knockouts have been made by insertion of a selectable marker, such as
<em>unc-119(+)</em>. These are named as alleles, with an optional descriptor 
defining the selected marker following the unique allele name, and preceded 
by a double colon. Example: <em>jf61 = zhp-3(jf61::unc-119+)</em>

<li>
Some of the small deletions generated by reverse genetic methods may remove
parts of two adjacent genes. If only two genes appear to be affected, then
the deletion is given a single allele name, but the genotype is written with
both gene names coupled with an ampersand (&amp;). Example: allele <em>ok615</em>
is a 1422 bp deletion of two adjacent genes, so it can be written <em>rad-54&tag-157(ok615)</em>.

<li>
Deletions that affect more than two genes are named as Deficiencies ''(Df)'',
as described in the Chromosomal Aberrations section.
</ul>


<h4>Modifers: Suppressors, Revertants and Enhancers</h4>

<li>
There is no special nomenclature for modifier mutations. Many extragenic
suppressor loci are called <em>sup</em> (40 <em>sup</em> loci defined so
far, with a wide variety of properties and mechanisms). An increasing
number of more specific modifier gene classes have been established, such
as <em>smu</em> (suppressor of <em>mec</em> and <em>unc</em>), and <em>smg</em>
(<em>s</em>uppressor with <em>m</em>orphogenetic effect on <em>g</em>enitalia)
and <em>sel</em> (<em>s</em>uppressor/<em>e</em>nhancer of <em>l</em>in-12).

<li>
Intragenic suppressors or modifiers are indicated by adding a second
mutation name within parentheses; for example, <em>unc-17(e245e2608)</em>
is an intragenic partial revertant of <em>unc-17(e245)</em>.

<li>
Mutations known to be chromosomal rearrangements, rather than intragenic lesions,
are named differently, as described in the Chromosomal Aberrations section.



<h4>Chromosomal Aberrations</h4>

<li>
Duplications (<em>Dp</em>) deficiencies (<em>Df</em>), inversions (<em>In</em>)
and translocations (<em>T</em>) are known in <span class="species">C. elegans</span>
cytogenetics; these are given italicized names consisting of the laboratory
mutation prefix, the relevant abbreviation, and a number, optionally followed
by the affected linkage groups in parentheses (e.g., <em>eT1(III;V), mnDp5(X;f)</em>,
where <em>f</em> indicates a free duplication). Chromosomal balancers of unknown
structure can be designated using the abbreviation <em>C</em>, e.g., <em>mnC1(II)</em>.
</ul>
