<h3>Mitochondrial Genome</h3>

<p>
The mitochondrial genotype of a worm can be expressed using the standard
nomenclature, using <em>M</em> as the abbreviation for the mitochondrial
linkage group. The mitochondrial genotype is written as the last element 
in the genotype, following the nuclear genotype. Heteroplasmic combinations, 
where mitochondria of different genotypes co-exist in the same cytoplasm, 
can be expressed using a double forward slash, //. For example: <em>uaDf5//+</em>.
</p>