<h3>Phenotypes</h3>

<ul>
<li>
Phenotypic characteristics can be described in words, e.g., 
dumpy animals or uncoordinated animals. If more convenient, 
a nonitalicized 3-letter or 4-letter abbreviation, which 
usually corresponds to a gene name, may be used. The first 
letter of a phenotypic abbreviation is capitalized, e.g., 
Unc for uncoordinated, Dpy for dumpy. If necessary to 
distinguish among related but distinguishable phenotypes, 
the relevant gene number can be added, e.g., Unc-4 and 
Unc-13 to differentiate the distinct phenotypes produced 
by mutations in the two genes <em>unc-4</em> and <em>unc-13</em>. 
Abbreviations that do not correspond to gene names can 
also be used, e.g., Muv for multiple vulval development, 
and Daf-c for dauer-formation-constitutive. WormBase 
maintains a standard set of defined phenotype descriptors 
(the <a href="http://wormbase.org/db/misc/phenotype">WormBase Phenotype Ontology</a>).
</li>

<li>
A common and accepted convention, when comparing a mutant 
with the wild-type, is to use the prefix non- to refer to 
the wild-type phenotypes, for example, non-Lin (= wild type 
cell lineage) or Dpy non-Unc (= wild type with respect to 
movement, but dumpy with respect to body shape).
</li>
</ul>
