<h3>Proteins</h3>

<ul>
<li>
The protein product of a gene can be referred to by the relevant gene name, 
written in non-italic capitals, e.g., the protein encoded by <em>unc-13</em>
can be called UNC-13. Where more than one protein product is predicted for a
gene (usually as a result of alternative message processing), the 
different proteins are distinguished by additional capital letters, e.g., TRA-1A, TRA-1B.
</li>

<li>
Mutant protein products can be named by the missense change, for example a
mutant TRA-1A protein with a Pro to Leu change at codon 79 would be written: TRA-1A (P79L).
</li>
</ul>
