<h3>RFLPs and SNPs</h3>

<ul>
<li>
Polymorphic sites, which are mostly <b>RFLPs</b> (restriction fragment length
polymorphisms) or <b>SNPs</b> (single nucleotide polymorphisms), are designated
by an italic letter <em>P</em> and an italic number, preceded by the allele 
prefix for the laboratory responsible for identifying the site.
</li>
</ul>

<p>
Examples: <em>stP17</em> and <em>stP196</em> are RFLPs identified in the 
laboratory of R. H. Waterston, <em>amP6</em> and <em>amP15</em> are SNPs
identified in the laboratory of K. Kornfeld.
</p>