<h3>Transposons and Transposon Insertions</h3>

<ul>
<li>
<span class="species">C. elegans</span> transposons are called Tc1, Tc2, etc., where
each number represents a different family. Transposon names are not italicized 
except when included in a genotype. Different races of <span class="species">
C. elegans</span> have different distributions of these transposons, which result 
in polymorphic differences from the reference wild-type strain Bristol N2. These 
natural differences between races are given polymorphism names, as described below.
</li>

<li>
The endogenous transposons of <span class="species">C. elegans</span> can be 
mobilized to generate new insertional mutations. In addition, foreign transposons
such as Mos1 can be introduced by transformation, and then mobilized to create
new insertions. All these newly generated transposon insertions can be named as
simple mutations, with an optional suffix indicating the nature of the transposon.
They are treated as alleles of named genes if they are located within the
boundaries of a gene. Example: <em>r293</em> is a Tc1 insertion in the gene <em>unc-54</em>.
An optional descriptor can also be added after a double colon to indicate the
nature of the insertion. Example: <em>unc-54(r293::Tc1)</em>.
</li>

<li>
Note that such insertions may often be silent in terms of gene activity, for example 
if an insertion occurs within an intron and can be spliced out.
</li>

<li>
Newly generated transposon insertions, especially those located in apparently
intergenic regions, may also be given <em>Ti</em> (transposon insertion) names.
These consist of a prefix identifying the laboratory of origin, the two letters
<em>Ti</em>, and a number, all italicized. Example: <em>eTi13</em> is an
insertion of a Mos transposon into an intergenic region on <em>LGIII</em>.
</li>
</ul>
