[% WRAPPER "boilerplate/widget" -%]

    [% # Pull in all sections - each of these should be conditional but under what parameters? %]
        [% # Actually, it would be cool if users could just to show or hide empty sections...      %]
    [% # Sections themselves can optionally be composed of subsections %]

    [% FOREACH field IN fields %]
       [% IF $field %]
          [% INCLUDE "boilerplate/field.tt2" key="$field" %]
       [% END %]
    [% END %]
	
[% END %]

