version: "3.7"
services:
  nginx-proxy:
    image: nginx:1.13.7
    ports:
      - "${CATALYST_PORT}:80"
    volumes:
      - "./proxy/conf.d:/etc/nginx/conf.d"
      - "./logs/nginx:/var/log/nginx"
  website:
    image: 357210185381.dkr.ecr.us-east-1.amazonaws.com/wormbase/website:WS279.1
    init: true
    expose:
      - "5000"
    volumes:
      - "/usr/local/wormbase/website-shared-files/html:/usr/local/wormbase/website-shared-files/html"
      - "/usr/local/wormbase/services:/usr/local/wormbase/services"
      - "/usr/local/wormbase/databases:/usr/local/wormbase/databases"
      - "./logs:/usr/local/wormbase/website/logs"
    environment:
      - APP=${CATALYST_APP}
      - ACEDB_HOST=${ACEDB_HOST}
      - ACEDB_PORT=2005
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - JWT_SECRET='${JWT_SECRET}'
  jbrowse:
    image: gmod/wormbase-jbrowse:WS279
    expose:
      - "80"
  jbrowse-protein:
    image: gmod/wormbase-jbrowse-protein:WS279
    expose:
      - "80"
  upstream-proxy:
    image: nginx:1.13.7
    expose:
      - "3001"
    volumes:
      - "./proxy/upstream-proxy/conf.d:/etc/nginx/conf.d"
      - "./logs/upstream-proxy:/var/log/nginx"