############################################################
#
#  WormBase Local Configuration
#
#  This file contains site-specific configuration.
#  Values set here will over-ride the defaults.
#
############################################################


######################################################
#
#  WormBase Production Configuration
#
#  Settings in this file over-ride the default
#  wormbase.conf settings when the app is launched
#  by starman-production.sh.
#
#  See wormbase.conf for a description of directives.
#
######################################################

# What type of installation
installation_type = development

# Google Maps API
google_api_key    = ABQIAAAAX6AZGEUlM28m4mzs0PsGkhRVfLFVmRFz44kSxZwC_XT2TLrxixTVyjZlGBxla25vFXfsh17xrvYj0g

# SSL
enable_ssl        = 1

# REQUIRED FOR PRODUCTION: Base URL
#base = http://beta.wormbase.org/

######################################################
#
#   Debugging 
#
######################################################

debug                = 0
fatal_non_compliance = 0
timer                = 0

<stacktrace>
    enable      1
</stacktrace>

<Plugin::ErrorCatcher>
    enable      1
</Plugin::ErrorCatcher>

<Plugin::ErrorCatcher::Email>
    to      oicr@wormbase.org   
    from    oicr@wormbase.org 
    use_tags 1
  #  subject Error Report from: %h; %F, line %l
</Plugin::ErrorCatcher::Email>




########################################################
#
#  EMAILS
#
########################################################

# Issue tracking and reporting
issue_email = you@youremail.org

# Registering a new account
register_email = you@youremail.org


########################################################
#
#  Cache
#
########################################################

# cache_content: Should this webapp try to cache content?
# Uncomment to turn off caching
cache_content = false

# Cache root (pregenerated HTML)
cache_root = /usr/local/wormbase/databases/%s/cache

# By default, we cache to couchdb on localhost
# Production and staging override to cache to web6
# Master Couch
# host = 127.0.0.1

<Model::CouchDB>
         host = 206.108.125.165
         port = 5984
</Model::CouchDB>


########################################################
#
#  Database Locations and Authorization
#
#  By default, we use remote data sources for
#  convenience but expect this to be overriden
#  by the wormbase_local.conf.
#
########################################################

# wormbase_user exists only on wb-web6 (206.108.125.165)
<Model::Schema>
  schema_class = WormBase::Schema
  <connect_info>  
        dsn =  dbi:mysql:wormbase_user:hostname=localhost
        user = wormbase
        password =
   </connect_info>
</Model::Schema>

<Model::WormBaseAPI>
  class = WormBase::API
  <args>
    <pre_compile>
      base =  /usr/local/wormbase/databases/
      gene = /gene/
      position_matrix = /position_matrix/
      
      rnai_details_file =  rnai_data.txt
      gene_rnai_phene_file =  gene_rnai_pheno.txt
      gene_variation_phene_file =  variation_data.txt 
      phenotype_name_file =  phenotype_id2name.txt 
      gene_xgene_phene_file =  gene_xgene_pheno.txt 
      pm_id2consensus_seq_file = pm_id2consensus_seq.txt
      pm_id2source_pm_file = pm_id2source_pm.txt
      
      image_base         = /usr/local/wormbase/shared/website-shared-files/html/img
#     image_base_classic = /usr/local/wormbase/website-shared-files/html/images-website-classic
      gene_expr          = $image_base/virtualworm/Gene_Expr_Renders
      expr_object        = $image_base/virtualworm/Expr_Object_Renders
      picture            = $image_base/picture_object
      
    </pre_compile>

    conf_dir    = __path_to(conf)__/
    
    # Temporary directory in filesystem space    
    # tmp_base    = __path_to(root)__/tmp/
    # tmp_base      = /tmp/wormbase/
    # In production, this is an nfs mount
    tmp_base      = /usr/local/wormbase/shared/tmp/
 
    #different tools WB provides
    <tool> 
    <blast_blat>
        base =  /usr/local/wormbase/databases/
        blast = /blast/
        SCORE_KEY_IMAGE = score_key.png
        HSP_GENOME_LINK_PART_LIMIT = 10
        HSP_ALIGNMENT_IMAGE_LIMIT  = 10
        BLAST_EXEC_DIR = /usr/local/wormbase/services/blast
        BLAT_CLIENT = /usr/local/wormbase/services/blat/bin/gfClient
        b_genome = c_elegans  c_briggsae c_brenneri c_japonica c_remanei b_malayi m_hapla m_incognita p_pacificus h_contortus
        b_protein = c_elegans  c_briggsae c_brenneri c_japonica c_remanei b_malayi p_pacificus  
        b_gene = c_elegans c_briggsae
        b_est = c_elegans  
        ARCHIVES = WS100 WS110 WS120 WS130 WS140 WS150 WS160 WS170 WS180 WS190
    </blast_blat>
       protein_aligner
        nucleotide_aligner
        tree
    <print>
      PRO_EXEC = ./CutyCapt
    </print>
    </tool>
    <database>
        # tmp directory for sockets and lock files.
    # This *must* be distinct from above since
    # to prevent collisions of lock files in production.
    tmp = /tmp/wormbase/    
    <acedb>
        # Acedb configuration
        delay = 600
        reconnect = 5
#       host = localhost mining.wormbase.org
        host = localhost
        port = 2005
        user =
        pass =
        cache_root = __path_to(root)__/cache/
        cache_expires = 3 weeks
        cache_size    = 100000000
        cache_auto_purge_interval =
    </acedb>

    <mysql>
      delay = 600
      reconnect = 3
#      host  = 206.108.125.165
      host  = localhost
      user  = wormbase
      pass  = 
      <data_sources>
          clustal  = 1
      </data_sources>
    </mysql>

    <gff>
      # MySQL configuration
      delay = 600
      reconnect = 3
#      host  = 206.108.125.165
      host  = localhost
      user  = wormbase
      pass  = 
        <data_sources>
        <c_elegans>
            adaptor = dbi::mysqlace
            aggregator = processed_transcript{coding_exon,5_UTR,3_UTR/CDS}
            aggregator = full_transcript{coding_exon,five_prime_UTR,three_prime_UTR/Transcript}
            aggregator = transposon{coding_exon,five_prime_UTR,three_prime_UTR}
            aggregator = clone
            aggregator = alignment
            aggregator = waba_alignment
            aggregator = coding{coding_exon}
            aggregator = pseudo{exon:Pseudogene/Pseudogene}
            aggregator = rna{exon/Transcript}
            aggregator = wormbase_cds{coding_exon,three_prime_UTR,five_prime_UTR}
            aggregator = motif_span{motif_segment/Motif}
        </c_elegans>
        <c_briggsae>
            adaptor    = dbi::mysqlace
            aggregator = wormbase_cds{coding_exon,three_prime_UTR,five_primer_UTR/CDS}
            aggregator = clone
            aggregator = alignment
            aggregator = waba_alignment
        </c_briggsae>
        <c_brenneri>
            adaptor    = dbi::mysqlace
            aggregator = wormbase_gene
        </c_brenneri>
        <c_remanei>
            adaptor    = dbi::mysqlace
            aggregator = wormbase_gene
        </c_remanei>
        <p_pacificus>
        </p_pacificus>
        <c_elegans_pmap>
            adaptor    = dbi::mysqlace
            aggregator = wormbase_gene
        </c_elegans_pmap>
        <c_elegans_gmap>
            adaptor    = dbi::mysqlace
            aggregator = wormbase_gene
        </c_elegans_gmap>
        </data_sources>
    </gff>
      </database>
  </args>
</Model::WormBaseAPI>
