---
# General configuration
# This is a combination of the old local_settings.pm
# and elegans.pm files
site        : WormBase Rearchitecture
debug       : 1

# Are we a mirror, master, or development site
site_type   : development
byline      : Catalyst Implementation



# Per-page configuration
# Perhaps these should be split into
# separate files?
#pages:
#  gene:
#    - sections: [identification, location, expression,
#                 function,gene_ontology,alleles,homology,similarities,
#                 reagents,bibliography ]
#available_widgets:
#  gene : [ identification
#           location
#           expression
#           function
#           gene_ontology
#           alleles
#           homology
#           similarities
#           reagents
#           bibliography
#         ]




#cacheroot   : /usr/local/wormbase/cache
#cacheexpires: '3 weeks'

#wormbase2blast : 'http://localhost'
#blast2wormbase : 'http://localhost'

## Where to redirect AQL queries
wormbase2aql   : 'http://localhost'
#aql2wormbase   : 'http://localhost'

# AceDB configuration
acedb_name: elegans

## By default, WormBase uses remote data sources. For faster
## performance, install the data sources locally.  Uncomment
## the sample configuration below and adjust as necessary
## for your system.
#acedb_host: localhost
#acedb_port: 2005
#acedb_user:
#acedb_pass:

# Where Bio::DB::GFF MySQL databases are running
#mysql_host: localhost
#mysql_user: nobody
#mysql_pass:
