#!/bin/sh

# This is a symbolic name of the application that
# corresponds to its directory on the file system
export APP="[% app %]"    # eg, tharris, development, staging, production
export APPLIB="WormBase"

cd /usr/local/wormbase/website/$APP/extlib
perl -Mlocal::lib=./
eval $(perl -Mlocal::lib=./)
cd /usr/local/wormbase/website/$APP

