[%# This is the downloads page at WormBase
    It would be better if it used some of
    staging code to auto-discover files on the
    FTP site, but this will do for now.
%]

<div id="userguide">


<div id="userguide-without-toc">
<h1>WormBase Data Downloads</h1>

<p>
WormBase provides a large number of precomputed files to facilitate
downstream analyses.
</p>


<h2>Public FTP site: <a href="ftp://ftp.wormbase.org/pub/wormbase">ftp.wormbase.org</a></h2>

<p>
WormBase maintains a public FTP where you can find many commonly requested files 
and datasets, the WormBase software and prepackaged databases. Check here first
for files of interest, then check the FTP site.  If you still can't find what
you are looking for, drop us an email at staff@wormbase.org and we'll be
happy to help.
</p>

<h2>File names and Formats</h2>

<p>
All data files provided on the WormBase FTP site abide by strict naming
and formatting conventions.  This makes it easy to programmatically download
and process all species hosted at WormBase (as well as to identify both
the contents and version of the file after downloading).
</p>

<p>
For example, every filename contains 
</p>

<p>
<pre>
   g_species.WSXXX.descriptor.suffix.compression
   |          |    |          |      |
   ^ organism |    |          |      compression algorithgm (.gz or .tgz at WormBase)
              |    |          file suffix (.fa, .gff2, .gff3, etc)
              |    a brief description of contents (annotations, genomic, etc)
              the WormBase version of the file

   Such as:
   c_elegans.WS225.annotations.gff2.gz
</pre>
</p>

<h2>Commonly Requested Data</h2>

<p>
Download the latest (production) release of WormBase and all subsidiary files (~40 GB):
</p>

<pre>
<a href="ftp://ftp.wormbase.org/pub/wormbase/releases/current-www.wormbase.org-release">
     ftp://ftp.wormbase.org/pub/wormbase/releases/current-www.wormbase.org-release</a>
</pre>

<p>
Download the latest (development) release of WormBase and all subsidiary files (~40 GB):
</p>

<p> 
<pre>
<a href="ftp://ftp.wormbase.org/pub/wormbase/releases/current-dev.wormbase.org-release">
     ftp://ftp.wormbase.org/pub/wormbase/releases/current-dev.wormbase.org-release</a>
</pre>
</p>


<h2>Downloads By Species</h2>


<p>
<b>Genomic Annotations</b><br />
WormBase provides raw genomics annotations for integration into your own local database. 
These annotations are distributed in the <a href="http://www.sanger.ac.uk/Software/formats/GFF/">
GFF file format</a> (both versions 2 and 3). Such files can be loaded into a relational 
schema using facilities provided by BioPerl.</p>

<p>
<div class="caveat-emptor">Links point to the most current assemblies. Additional datasets and older versions are available on individual pages for each species or the <a href="ftp://ftp.wormbase.org/pub/wormbase">WormBase FTP site</a>. See the <a href="/species/all">full species list</a> for sources and assembly versions</a>.</div>

<p>

<table border="1">
   <tr>
     <th>Species</th>
     <th>Annotations (.gz) </th>
     <th>Sequence (fa.gz)</th>
   </tr>


[% 
   
FOREACH option IN c.config.sections.species_list.keys.sort();
#      IF option.title eq "All Species"; NEXT; END;
       
       ftp_root = "ftp://ftp.wormbase.org/pub/wormbase/species/" _ option;

       genomic_fasta            = option _ '.current.genomic.fa.gz';
       protein_fasta            = option _ '.current.protein.fa.gz';
       cds_fasta                = option _ '.current.cds_transcripts.fa.gz';
       genomic_fasta_masked     = option _ '.current.genomic_masked.fa.gz';
       genomic_fasta_softmasked = option _ '.current.genomic_softmasked.fa.gz';

       gff2                     = option _ '.current.annotations.gff2.gz';
       gff3                     = option _ '.current.annotations.gff3.gz';
              
       sequence_dir = $ftp_root _ "/sequence";

      '<tr>';
           '<td><a href="/species/' _ option  _ '" class="species">' _ c.config.sections.species_list.$option.genus _ ' ' _ 
	             c.config.sections.species_list.$option.species _ '</a>';
           '</td>';
           '<td><a href="' _ ftp_root _ '/gff/' _ gff2 _ '">gff2</a> | '
	     _ '<a href="' _ ftp_root _ '/gff/' _ gff3 _ '">gff3</a></td>';

           '<td><a href="' _ sequence_dir _ '/genomic/' _ genomic _ '">genomic</a> | ';
           '<a href="' _ sequence_dir _ '/genomic/' _ genomic_masked _ '">masked</a> | ';
           '<a href="' _ sequence_dir _ '/genomic/' _ genomic_softmasked _ '">softmasked</a> | ';
           '<a href="' _ sequence_dir _ '/protein/' _ genomic_softmasked _ '">protein</a> | ';
           '<a href="' _ sequence_dir _ '/transcripts/' _ genomic_softmasked _ '">transcripts</a></td>';

      '</tr>';
END;
%]

</table>
</p>




<h2>Annotations</h2>

<h4>RNAi Clone Mapping</h4>

<h4>Microarray Data</h4>

<h4>Literature Citations</h4>



<h2>Software</h2>


</div>
</div>
