[%#

  Widget  : Gene.Identification
  Section : Concise Description
  Stash   : description => { description => '',
		  	     has_details => boolean,
      			   }

%]


  [% WRAPPER "boilerplate/section" title="Description" -%]
    [% WRAPPER "boilerplate/subsection" -%] 
      [% description %]
    [% END %]
  [% END %]
