<h1>Protein Alignments</h1>
<form method="POST" action="[% c.uri_for('tools','show_mult_align','run') %]">

Symbol: 
<input type="text" name="sequence" value="[% sequence %]" />(e.g. <cite>WP:CE25104</cite>)
<input type="submit" value ="Run" />
</form>