<h2>Understanding the data model</h2>

<p>
See <a href="http://wiki.wormbase.org/index.php/WormBase_Models">WormBase Models</a> on the <a href="http://wiki.wormbase.org/">WormBase Wiki</a> for details.
</p>
