<h3>Straight up MySQL (NOT RECOMMENDED)</h3>

<p>
<pre>
Description  : Access sequence annotation databases by direct MySQL query
Good for     : nothing
Skills       : writing SQL queries
Advantages   : none
Drawbacks    : You need to reverse engineer the data schema. Why would you do that?
</pre>
</p>