<div>

<p>
We offer extensive resources for users wishing 
to extend and leverage the data and infrastructure
of WormBase.
</p>

<p>
Questions? Suggestions?
</p>

<p>
Please contact: <a href="mailto:staff@wormbase.org">staff@wormbase.org</a> for details.


</div>