[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Anatomic expression patterns" -%]

      <!-- HARD CODED - FIX -->
      [%- FOR exp in anat_exp.have_image -%]
	  <p><a href="/db/gene/expression?name=[% exp %]"
                    onmouseover="balloon.showTooltip(event,'Expressed in $terms Click for details...')");>
		  <img src="/db/gene/expression?name=[% exp %];draw=1;thumb=400">
             </a>
          </p> 
            [% join(' ',exp.Pattern,exp.Subcellular_localization) %] [Details : [% url.Link(exp) %]]
       [%- END -%]

      [%- FOR exp in anat_exp.no_image -%]
	  <p><a href="/db/gene/expression?name=[% exp %]"
                    onmouseover="balloon.showTooltip(event,'Expressed in $terms Click for details...')");>
		  <img src="/db/gene/expression?name=[% exp %];draw=1;thumb=400">
             </a>
          </p> 
            [% join(' ',exp.Pattern,exp.Subcellular_localization) %] [Details : [% url.Link(exp) %]]
       [%- END -%]

[% END %]
