[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% IF Catalyst.config.use_classic %]

  [% WRAPPER "boilerplate/classic/subsection" title="Best BLASTP matches" -%]
    <!-- HARD CODED -->
    Best BLASTP matches to longest protein product [<a href="/db/seq/protein?name="[% longest_product %];class=Protein;details=blast_hits" -target="_blank">full list</a>] [<a href="/db/seq/show_mult_align?name=[% longest_product %];class=Protein" -target="_blank">Show alignments</a>]

    <table border="1">
    <tr><th>Species</th><th>Hit</th><th>Description</th><th>BLAST E-value</th><th>% Length</th></tr>
    [% FOR row=best_blastp_matches %]
       <tr>
         <td>[% row.0 %]</td>
         <td>[% row.1 %]</td>
         <td>[% row.2 %]</td>
         <td>[% row.3 %]</td>
         <td>[% row.4 %]</td>
       </tr>
    [% END %]
    </table>
  [% END %]

[% ELSE %]

  [% WRAPPER "boilerplate/section" title="Best BLASTP matches" -%]

    <!-- HARD CODED -->
  Best BLASTP matches to longest protein product [ [% url.Link(item=longest_product
                                                             text='full list') %] ] [<a href="/db/seq/show_mult_align?name=[% longest_product %];class=Protein" -target="_blank">Show alignments</a>]

    <table border="1">
    <tr><th>Species</th><th>Hit</th><th>Description</th><th>BLAST E-value</th><th>% Length</th></tr>
    [% FOR row=best_blastp_matches %]
       <tr>
         <td>[% row.0 %]</td>
         <td>[% row.1 %]</td>
         <td>[% row.2 %]</td>
         <td>[% row.3 %]</td>
         <td>[% row.4 %]</td>
       </tr>
    [% END %]
    </table>
  [% END %]

[% END %]
