[%#

  Page    : *
  Widget  : *
  Section : Name
  Stash   : name (string OR Ace::Object)

%]

[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


[% WRAPPER "boilerplate/field" title="Common Name" %]
	<a href="[% c.uri_for('/report','gene',common_name.resultset.data) %]" 
	   title="[% common_name.resultset.description %]">
	           [% common_name.resultset.data %]
	</a>

1. Once the template has loaded make an AJAX call for the field







[% END %]
