[% # This is a TT comment.  The '-' at the end "chomps" the newline.  You won't -%]
[% # see this "chomping" in your browser because HTML ignores blank lines, but  -%]
[% # it WILL eliminate a blank line if you view the HTML source.  It's purely   -%]
[%- # optional, but both the beginning and the ending TT tags support chomping. -%]
    
[% # Provide a title to root/lib/boilerplate/header -%]
[% META title = 'Simple Gene Search' -%]
    
<table>
<tr><th>Gene</th><th>Public name</th><th>Description</th></tr>
[% # Display each gene in a table row %]
[% FOREACH g IN genes -%]
  <tr>
    <td>[% g.name %]</td>
    <td>[% g.Public_name %]</td>
    <td>[% g.CGC_name %]</td>
  </tr>
[% END -%]
</table>