[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="4d (QVTR) expression movies" -%]
      <table>
      [%- FOR exp in fourd_exp -%]
         <tr valign="center">
            <!-- hard-coded -->
            <td>[% url.Link(item=exp text='<img src="/images/QVTR2.png">') %]</td>
            <td>"Interactive movies are available for a fluorescence reporter of this gene. [For fetails, see 
		  [% url.Link(item=exp text='Mohler WA') %]
  	    </td>
         </tr>
      [%- END -%]
      </table>
[%- END -%]
