[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="InParanoid Group(s)" -%]
    
    <i>Read more about <b>InParanoid</b> on the <a href="http://www.wormbase.org/wiki/index.php/Glossary_of_terms#inparanoid"> WormBaseWiki</a></i>

      [% FOR cluster=inparanoid_groups.keys %]
         <table border="1">
             <tr><th colspan="2">InParanoid cluster: [% cluster %]</th></tr>
             [% FOREACH species=inparanoid_groups.$cluster.keys.sort %]
                <tr>
                  <td>[% species %]</td>
                  <td>
                  [% FOREACH protein=inparanoid_groups.$cluster.$species %]
                     [% url.Link(item=protein action='Protein') %]; <br />
                  [% END %]
                 </td>
               </tr>
             [% END %]
          </table>
      [% END %]

      [% UNLESS inparanoid_groups %]
         <div class="notapplicable">[% bestname %] not currently assigned to any InParanoid groups.</div>
      [% END %]

[% END %]
