[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Microarray topology map position" -%]
    [% FOR m=microarray_topology_map_position %]
       [% url.Link(item=m text=m.Expr_map->Mountain %]	

	<!-- HARDCODED -->
        [see <a href="http://cmgm.stanford.edu/~kimlab/topomap/c._elegans_topomap.htm">Kim et al. Science (2001)</a>]
    [% END %]
[% END %]
