[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]
[% WRAPPER "boilerplate/widget" -%]

    [% # Pull in all sections - each of these should be conditional but under what parameters? %]
	[% # Users could just to show or hide empty sections...      %]
    [%# Sections themselves can optionally be composed of subsections 
    
    The template names are actually in the stash.  This should be unnecessary...

    %]

[% fields = c.stash.fields %]

[% WRAPPER "boilerplate/field" title="IDs" %]
  [% FOREACH id IN fields.ids.data.keys -%]
    <b>[% id %]</b>: [% fields.ids.data.$id %] <br />
  [% END %]

  [%# make this nices with css stuff and standardization %]
  <div class="ids">
      <div> Main Name: </div>
      <div> [% fields.common_name.data %] </div>

  </div>
[% END %]
[% WRAPPER "boilerplate/field" title="Description" %]
  [% fields.concise_description.data %]
[% END %]
[% WRAPPER "boilerplate/field" title="Species" %]
  <i>[% fields.taxonomy.data.genus %][% " " %][% fields.taxonomy.data.species %]</i>
[% END %]
[% WRAPPER "boilerplate/field" title="Gene Models" %]
  [% fields.gene_models.data %]
[% END %]
[% WRAPPER "boilerplate/field" title="History" %]
  FIND A WAY TO HANDLE HISTORY OBJECTS (maybe history should be its own widget?)
  <table>
  [% FOREACH obj IN fields.history.data.keys -%]
    [% FOREACH i IN fields.history.data.$obj.keys -%]
       <tr>
       <td> [% obj %]: </td>
       <td> [% i %] </td>
       <td>
       [% FOREACH j IN fields.history.data.$obj.$i.keys -%]
          [% fields.history.data.$obj.$i.$j %] <br />
       [% END %]
       </td>
       </td>
    [% END %]
  [% END %]
  </table>
[% END %]


[% END %]
