[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Pre-WormBase Information" -%]
    [% FOREACH o IN pre_wormbase_information %]
        [% o %]
    [% END %]

  [% WRAPPER "boilerplate/subfield" title="" -%]
      <!-- HARD CODED - FIX AND/OR MOVE TO WIKI -->
      Definitions of <a target="_blank" href="/db/gene/gene?name=[% gene %];class=Gene;details=abbreviations">abbreviations used</a> in the text.
  [% END %]

[% END %]
