[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Primer pairs" %]
    [% FOR primers=primer_pairs %]
       [%# url.Link(item=primers action="PCR_product") %]
    [% END %]
[% END %]
