[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Protein Domains" -%]
    <!-- motifs are actually sorted by position on the boilerplate -->
    [% FOR title=protein_domains.keys %]
       [% FOREACH motif=protein_domains.$title.keys %]
           [% url.Link(item=motif action="Motif" text=title) %]<br>
       [% END %]
    [% END %]
[% END %]
