[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Reactome Knowledgebase" %]
    [% FOR rk=reactome_knowledgebase %]
       [% rk %]
       [%# url.Link(transgene) %]
    [% END %]
[% END %]
