[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[%- WRAPPER "boilerplate/field" title="Rearrangements" -%]
     <!-- HARD-CODED -->
     Browse for rearrangements known to: <a href="/db/gene/rearrange?name=[% gene %];position=includes">include</a>,
      <a href="/db/gene/rearrange?name=[% gene %];position=excludes">exclude</a>,
      <a href="/db/gene/rearrange?name=[% gene %]">either include or exclude [% bestname %]</a>.
[%- END -%]
