[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Treefam" -%]
    <hr>
    [% FOR entry=treefam %]
       [% SET target=entry.0 %]
       [% SET treefam_id=entry.1 %]
       TreeFam ID: [%- url.Link(resource='Treefam'
	                    type='search'
	                    url_params=treefam_id) -%]
       <p>
       <div class="white">
          <iframe name="treefam" src=[%- url.Link(resource='Treefam'
                                                  type='image'
                                                  url_params=[treefam_id treefam_id]) -%] width="680" height="500" scrolling="auto"></iframe>
       </div>
    [% END %]

    <i>Phylogenetic trees provided by the [% url.Link(resource='Treefam') %] project.</i>
[% END %]
