[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% WRAPPER "boilerplate/widget" title="Overview" -%]

    [% # Pull in all sections - each of these should be conditional but under what parameters? %]
	[% # Users could just to show or hide empty sections...      %]
    [%# Sections themselves can optionally be composed of subsections 
    
    The template names are actually in the stash.  This should be unnecessary...

    %]

[% FOREACH field IN c.stash.fields.keys -%]
  [% WRAPPER "boilerplate/field" title=field %]
     [% data_pack = c.stash.fields.$field %]
     
     <table>
     [% FOREACH obj IN data_pack.keys -%]
        [% FOREACH i IN data_pack.$obj.keys -%]
            <tr>
            <td>[% i %]:</td>
            <td>[% data_pack.$obj.$i.join(', ') %] </td>
            </tr>
        [% END -%]
     [% END -%]
     </table>
  [% END %]
[% END -%]


    [%# PROCESS "gene/ids.tt2" %]
    [%# PROCESS "gene/concise_description.tt2" IF c.stash.concise_description %]
    [%# PROCESS "common_fields/taxonomy.tt2"   IF taxonomy %]
    [%# PROCESS "gene/gene_models.tt2"         IF gene_models %]
    [%# PROCESS "common_fields/history.tt2" %]

[% END %]
