[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Y1H and Y2H Interaction" -%]

    <!-- add a link to the interaction viewer -->
     <a href="[% url.Link(item=gene.name action='Gene' text='NBrowse') %]" -target="_blank">
          <!-- HARD CODED -->
	  <img src="/images/interaction_02.png"
     </a>

     [% url.Link(item=gene.name action='Gene' text='Launch NBrowse' target="_blank") %]

     <a href="[% url.Link(resource='nbrowse' text='NBrowse') %]
        [More details]
     </a>

    <table border="1" width="90%">
       <tr><th>Bait</th><th>Target</th><th width="30%">Reference</th></tr>

    [% FOR i=y1h_and_y2h_interactions %]
        <tr>
          <td align="left">[% url.Link(i[0]) %]</td>
          <td align="left">i[1]</td>
          <td align="left">[% url.Link(item=i[2] action=i[3]) %]</td>
        </tr>
    [% END %]
    </table>
[% END %]
