<div id="userguide">

<ol id="toc"></ol>
     

<div id="userguide-with-toc">
   <h1>User's Guide To WormBase</h1>


<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">General Description</a> 
<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">Release Notes</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Display Tools</a> 
</li></ol> 
</li><li> Basic Search Tools
<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">Simple Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Browse Genome</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">BLAST Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Batch Downloads</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Marker/Strain Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Genetic Map</a> 
</li></ol> 
</li><li> Search Tools
<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">Advanced Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">ePCR</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Gene Ontology</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Cell Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Neuron Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Expression Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Expression Profile Search</a> <b>DEPRECATED</b> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">RNAi Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Interval Search</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Genome Dumper</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Wormbase Suggest</a> 
</li></ol> 
</li><li> Individual Pages
<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">Gene Page</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Sequence Page</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Gene Ontology Page</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Microarray Page</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Person Page</a> 
</li></ol> 
</li><li> Other Resources provided by WormBase
<ol><li> <a href="[% c.uri_for('/userguide','general_description') %]">How To Obtain Reagents</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Full Text Journals</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">How to Register a New Gene Class or Gene Name</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">How to Register a New Laboratory and Receive Lab, Strain and Allele Designation Codes</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Embryonic Cell/Time Correlation Table 1</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Embryonic Stage/Time Correlation Table 2</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Life Stage System in WormBase</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Definitions for Life Stages</a> 
</li><li> <a href="[% c.uri_for('/userguide','general_description') %]">Wormpep file description</a> 
</li><li><a href="[% c.uri_for('/userguide','general_description') %]">Glossary of terms</a> 
</li><li><a href="[% c.uri_for('/userguide','general_description') %]">FAQs</a> 

</div>
</div>