
<h2>[% fields.name.data.label %]</h2>

[% WRAPPER highlight_box %]

[% END %]

	[% WRAPPER $field_block title="Definition" key="definition"-%] 
		[%  fields.definition.data %]
	[% END %]



	[% WRAPPER $field_block title="Synonyms" key="synonyms" -%] 
        [% fields.synonyms.data.join(', ') %]
	[% END %]






