[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = widget %]

   <p class="caveat-emptor">This should also include mapping data</p>

   [% WRAPPER $field_block title="Corresponding Gene" key="corresponding_gene" %]
         [% tag2link(fields.corresponding_gene.data) %]
   [% END %]

   [% WRAPPER $field_block title="Reference Allele" key="reference_allele" %]
            [% tag2link(fields.reference_allele.data) %]
   [% END %]

   [% WRAPPER $field_block title="Other Alleles" key="other_allele" %]

	  <section>
	      <div class="subfield">
    	          <div class="subfield-title">Sequenced alleles</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.sequenced_alleles %]
                [% tag2link(variation) %]
		      [% END %]
   	          </div>
              </div>
	  </section>

 	  <section>		      
	      <div class="subfield">
    	          <div class="subfield-title">Unsequenced alleles</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.unsequenced_alleles %]
                [% tag2link(variation) %]
		      [% END %]
	          </div>
              </div>
	  </section>

	  <section>
	      <div class="subfield">
    	          <div class="subfield-title">Polymorphisms</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.polymorphisms %]
    	                  <span class="allele">
                              <a href="[% c.uri_for_action('report', 'variation' , variation ) %]">[% variation %]</a>
			  </span>
		      [% END %]
                  </div>
	       </div>
	  </section>

   [% END %]
   

   [% WRAPPER $field_block title="Strains" key="strains" %]
             [% FOREACH strain IN fields.strains.data.all_strains %]
                [% IF fields.strains.data.cgc_strains.$strain %]
		    <span class="cgc-strain">		    
	        [% END %]

		[% IF fields.strains.data.strains_carrying_only_this_allele.$strain %]
                    <span class="strains-with-single-variation">
	        [% END %]
		  
		[% strain %]

		[% IF fields.strains.data.strains_carrying_only_this_allele.$strain %]
		    </span>
	        [% END %]

                [% IF fields.strains.data.cgc_strains.$strain %]
		    </span>
	        [% END %]
             [% END %]
	     <p>
	     Strains available from the CGC are shown in <span class="cgc-strain">italics</span>.<br />
	     Strains carrying this variation alone are shown in <span class="strains-with-single-variation">boldface</span>.
	     </p>

   [% END %]

   [% WRAPPER $field_block title="Rescued By Transgene" key="rescued_by_transgene" %]
         <a href="[% c.uri_for_action('report', 'transgene' , fields.rescued_by_transgene.data ) %]">[% fields.rescued_by_transgene.data %]</a>
   [% END %]

