[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = widget %]

   <p class="caveat-emptor">This should also include mapping data</p>

   [% WRAPPER $field_block title="Corresponding Gene" key="corresponding_gene" %]
         [% tag2link(fields.corresponding_gene.data) %]
   [% END %]

   [% WRAPPER $field_block title="Reference Allele" key="reference_allele" %]
            [% tag2link(fields.reference_allele.data) %]
   [% END %]

   [% WRAPPER $field_block title="Other Alleles" key="other_allele" %]

	  <section>
	      <div class="subfield">
    	          <div class="subfield-title">Sequenced alleles</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.sequenced_alleles %]
                [% tag2link(variation) %]
		      [% END %]
   	          </div>
              </div>
	  </section>

 	  <section>		      
	      <div class="subfield">
    	          <div class="subfield-title">Unsequenced alleles</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.unsequenced_alleles %]
                [% tag2link(variation) %]
		      [% END %]
	          </div>
              </div>
	  </section>

	  <section>
	      <div class="subfield">
    	          <div class="subfield-title">Polymorphisms</div>
	          <div class="subfield-content">
		      [% FOREACH variation IN fields.other_alleles.data.polymorphisms %]
    	                  <span class="allele">
                              <a href="[ % c.uri_for_action('report', 'variation' , variation ) %]">[% variation %]</a>
			  </span>
		      [% END %]
                  </div>
	       </div>
	  </section>

   [% END %]
   

   [% WRAPPER $field_block title="Strains" key="strains" %]
  <div class="toggle">Found [% searchlink('strain', object.name.data.id, fields.strains.data.total _ " " _ pluralize("strain", fields.strains.data.total)) %]</div>
  <div class="toggle-container">
    [% venn("Carrying " _ tag2link(object.name.data) _ " alone", fields.strains.data.singletons, 
            "Available from the CGC", fields.strains.data.cgc, 
            "", fields.strains.data.both, 
            "Other strains", fields.strains.data.other) %]
  </div>

   [% END %]

   [% WRAPPER $field_block title="Rescued By Transgene" key="rescued_by_transgene" %]
         <a href="[ % c.uri_for_action('report', 'transgene' , fields.rescued_by_transgene.data ) %]">[% fields.rescued_by_transgene.data %]</a>
   [% END %]

