[%

WRAPPER $field_block title="Gene" key="corresponding_gene";
    IF ref(fields.corresponding_gene.data);
       # pre-process individual cell to override default cell_content
       #separator on list-of-list
       corr_genes_new = [];
       FOREACH g IN fields.corresponding_gene.data;
         corr_genes_new.push(cell_content(g, ' ')); # use ' ' instead of </br>
       END;
       cell_content(corr_genes_new);
    ELSE;  # a comment instead of a list is returned, when too many genes
       fields.corresponding_gene.data;
    END;
END;

WRAPPER $field_block title="Reference allele" key="reference_allele";
         cell_content(fields.reference_allele.data);
END;


WRAPPER $field_block  title="Other alleles" key="other_alleles";
	build_data_table (
		order = [
			'allele',
			'type',
			'physical_type',
			'status',
			],
		columns = {
			allele        => 'Allele',
			type          => 'Type',
			physical_type => 'Classification',
			status        => 'Status',
			},
		key = 'other_alleles');
   END;

WRAPPER $field_block  title="Linked to" key="linked_to";
    cell_content(fields.linked_to.data);
END;

   # Strains
   WRAPPER $field_block title="Strains" key="strains";
      strains;
   END;


   WRAPPER $field_block title="Rescued By Transgene" key="rescued_by_transgene";
         tag2link(fields.rescued_by_transgene.data);
   END;

%]
