<h2 class="locus">[% fields.name.data.label %]</h2>

[%

WRAPPER highlight_box;
   status;

  WRAPPER $field_block title="Gene" key="corresponding_gene";
      fields.corresponding_gene.data.size <= 20 ? cell_content(fields.corresponding_gene.data) : '<div class="download-corresponding-gene"></div>';
  END;

  other_names;

  WRAPPER $field_block title="Comparative info";
    agr_logo_link('WB:' _ fields.name.data.id, 'allele');
  END;

END;

'<div class="description">';

    IF fields.variation_type.data.general_class.defined;
    '<div>';
      fields.variation_type.data.general_class.join('; ');
      IF fields.variation_type.data.physical_class; ': ';
        fields.variation_type.data.physical_class FILTER lower;
        IF fields.production_method.data;
	' via ' _ fields.production_method.data;
        END;
      END;
      '<br /><br />';
    '</div>';
    END;

remarks(no_toggle=1 no_field=1);

'</div>';

  IF fields.evidence.data.defined;
    cell_content(fields.evidence.data);
  END;

%]

<script type="text/javascript">
(function(){
  var holder = $jq.find("#widget-variation .download-corresponding-gene");
  console.log(holder);
  if (holder.length) {
    var data = [% json_encode(fields.corresponding_gene.data || []) %];
    var text = data.map(function(d) {
      return [d[0].id, d[0].label, d[1]].join("\t");
    }).join("\r\n");
    var filename = "coresponding_gene_for_[%- fields.name.data.id -%].txt";
    $jq(holder).html('<a href="data:text/plain,' + encodeURIComponent(text) + '" download="' + filename + '">Download genes ([% fields.corresponding_gene.data.size %])</a>');
    $jq(holder).find('a').click(function() {
      // IE
      if (window.navigator.msSaveBlob) {
        var blobObject = new Blob([text]);
        window.navigator.msSaveBlob(blobObject, filename);
      }
    });
  }
})();
</script>