<h2>WormBase index and dynamic site map.</h2>


<div id="antibody" style="visibility: hidden"></div>
Name: <input type="text" id="name" /><br />
<input type="button" id="okButton" value="OK" />

<a href="#">Click</a>

<div id="container1">
    <a href="#" onclick="load_widgets('antibody');">
    <div id="antibody">
    </div>
</div>





