<div id="front-menu">
<ul>
  <li>Home</li>
  <li><a href="db/gb2/gbrowse/c_elegans">Genome</a></li>
<!--  <li><a href="db/searches/blast_blat">Blast/Blat</a></li> -->
  <li><a href="biomart/martview">WormMart</a></li>
<!--  <li><a href="db/gene/gmap">Genetic map</a></li> -->
<!--  <li><a href="db/curate/submit">Submit</a></li> -->
<!--  <li><a href="db/misc/site_map">Site map</a></li> -->
  <li><a href="[% c.uri_for('/','debug') %]">Debugging Index</a></li>
</ul>
</div>
 
<div id="main">
  <h1>WormBase</h1>
   <center>
  [% PROCESS "boilerplate/search_bar.tt2" %]
  </center>
</div>
