[%- # This is the default layout -%]

    [% PROCESS header/default.tt2 %]


      <span class="message">[% status_msg %]</span>
      <span class="error">[% error_msg %]</span>


           [% content %]


    [% PROCESS footer/default.tt2 %]
