<h1>Protein Alignments</h1>

<p>This is the Wormbase protein aligner. To use it, enter a WormBase protein ID.</p>


<form method="POST" action="[% c.uri_for('tools','protein_aligner','run') %]">

Symbol: 
<input type="text" name="sequence" value="[% sequence %]" />(e.g. <cite>WP:CE25104</cite>)
<input type="submit" value ="Run" />
</form>