[% INCLUDE tool/protein_aligner/index.tt2 UNLESS noboiler %] 

[% msg %]
<p>
[% FOREACH row IN data %]
  [% count = count + 1  %]
  [% FOREACH obj IN row %]
      [% obj %]
  [% END %]
[% END %]

</p>