<div class="blast_container [% count %]" align="center">
    <table border="0">
        <tr>
            <td colspan="2" align="center">
                <h1>BLAST/BLAT RESULTS</h1>
            </td>

            <td>
            <div id="back_button">
                <a href="[% c.uri_for('tools','blast_blat') %]" onClick="history.go(-1); return false;">Back</a>
            </div>
            </td>

        </tr>
        <tr>
            <td valign="top">
                <div class="kviewer_container">
                    [% IF obj.kviewer_image_content %]
                        <font class="bold"><font class="italic">C. elegans</font> Chromosome Viewer</font>
                        <br/>
                        [% obj.kviewer_image_content %]
                        [% obj.kviewer_imagemap %]
                        <br/>
<!--
                        <font class="small">
                        * Chromosome viewer is limited to top [% kviewer_add_limit %] hits, and
                        links to the Genome Browser are limited to the top [% hsp_genome_link_part_limit %] HSPs<br/>
-->
                        </font>
                        <br/>
                    [% ELSE %]
                        <div class="spacer">&nbsp;</div>
                    [% END %]
                </div>    
            </td>
            <td valign="top">
                <div class="report_images">
                    <img src="[% obj.score_key_image_url %]"/>
                    <p/>
                    <img src="[% obj.alignment_image_url %]" usemap="#alignment"/>
                    <br/>
                    <font class="small">
                    * Links to the Genome Browser and alignment image are limited to top hits.<br/>
                    </font>
                    <map name="alignment">
                        [% FOREACH image_map_piece IN obj.image_map_pieces %]
                            <area shape="rect" coords="[% image_map_piece.coords %]" href="[% image_map_piece.href %]">
                        [% END %]
                    </map>
                </div>
                <br/>
                <div class="fixed_width">
		    [% expand_area_counter=0 %]
                    [% FOREACH re IN obj.result_file_content %]
			  <div class="report_[% re.type %]"> 
			    [% FOREACH line IN re.html %]
				[% IF line.link.defined %]
				   
				  [% IF re.type == "header" %]<font class="bold">[% tag2link(line.link.sequence_link) %][% line.line %]</font><br/>
				  [% ELSIF line.link.hit_sequence_link %]<a name="hit_anchor_[% line.link.current_hit %]"></a> >[% tag2link(line.link.hit_sequence_link) %][% line.line %]
				  [% ELSE %][% line.line %]<br/><br/>
				  [% END %]
				  [% IF line.link.expand_link %]
				     <img class="expand_button" expand_area_count="[% expand_area_counter %]" src="/blast_blat/blank.png"/>
				  [% END %]  
				  [% IF re.type == "header" %]<a href="[% line.link.alignment_link %]">[Alignment]</a>[% END %]
				  [% tag2link(line.link.genome_link) %]
				  [% tag2link(line.link.gene_link) %]
				  [% tag2link(line.link.protein_link) %]
				  [% tag2link(line.link.corr_gene_link) %]
				  
				  [% IF line.link.expand_link %]
				    <br/><div class="expand_area"  expand_area_count="[% expand_area_counter %]" expand_link="[% site.external_urls.gbrowse_image.base _ line.link.expand_link %]"></div>
				    [% expand_area_counter = expand_area_counter+1 %]
				   [% END %]  
				    
				[% ELSE %]	[% line %]
				[% END %]
			    [% UNLESS loop.last %]<br/> [% END %]
			    [% END %]
			  </div> 
			  <br/> 
		    [% END %]
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <div id="back_button">
                    <a href="/db/searches/blast_blat" onClick="history.go(-1); return false;">Back</a>
                </div>
            </td>
        </tr>
    </table>
</div>

