<h2>[% fields.name.data.label %]</h2>
	
[% 

WRAPPER highlight_box;


   WRAPPER $field_block title="Type" key="sequence_type";
	fields.sequence_type.data;
   END;

WRAPPER $field_block title="Identity" key='identity';
     fields.identity.data;
END;

END;

'<div class="description">';
#WRAPPER $field_block title="Description" key='description';
	 markup(fields.description.data);
#END;
'</div>';


remarks;

%]