[%- # This is the generic report page for species-associated entitities at WormBase -%]

[%
      species = species || object.name.data.taxonomy;
      breadcrumbs = [];

      IF (species == 'all' && class=='all');
        breadcrumbs.push('<span>All Species</span>');
      ELSE;
        breadcrumbs.push('<a href="' _ c.uri_for('/species','all').path _ '">Species</a>');
        species_name = c.config.sections.species_list.defined(species) ?
            c.config.sections.species_list.$species.title
            : (s_arr = species.split('_').1) ? species.substr(0,1) _ '. ' _ s_arr : species FILTER ucfirst;

        assembly = c.config.sections.species_list.defined(species) ?
            c.config.sections.species_list.$species.assembly_name : '';

        IF class == 'all';
          breadcrumbs.push('<span class="species">'
                _ species_name
                _ '</span>'
                _ (assembly ? "<span class=\"assembly-name\">(Genome assembly: $assembly)</span>" : ''));
        ELSE;
          class_title = c.config.sections.species.$class.title || c.config.sections.resources.$class.title;
          IF !(object.name.data.id.defined);
			class_title = pluralize(class_title);
		  END;
          IF species != 'all';
            breadcrumbs.push('<span class="species"><a href="' _ c.uri_for('/species',species).path _ '">'
                      _ species_name
                      _ '</a></span>'
                      _ (assembly ? "<span class=\"assembly-name\">(Genome assembly: $assembly)</span>" : ''));
          END;
          UNLESS object.name.data.label;
            breadcrumbs.push('<span>'_ class_title  _ '</span>');
          ELSE;
            breadcrumbs.push('<a href="' _ c.uri_for('/species',species,class).path _ '">'
                    _ class_title _ '</a>');
            breadcrumbs.push('<span>' _ markup(object.name.data.label, 0, 1, 1, 1) _ '</span>');
          END;
        END;
      END;
      report_page(breadcrumbs);
%]
