[% widgets = [] %]

[%# "all" species %]
[% IF species == 'all' %]
   
   [% SET class    = 'all_species_summary' %]
      [% title = "Species available at WormBase"  %]
      This is the full species index page at root/template/species/species-index.tt2
       <p>
            This could be folded into the report_page macro...
       </p>

       [% widgets.push({ title="Species" type="title"}) %]
       [% widget_list = ['overview','phylogeny', 'downloads'] %]

[% ELSE %]

  [% title = '<span class="species">' _ c.config.species_list.$species.Title _ '</span> Summary Page' %]
      This is the full species index page at root/template/species/species-index.tt2

      [% SET class    = 'species_summary' %]

      [% widgets.push({ title=c.config.species_list.$species.Title type="title"}) %]
      [% widget_list = ['overview', 'isolation', 'downloads', 'key_papers', 'resources'] %]

[% END %]



[% FOREACH widget_name IN widget_list -%]
    [% USE String(widget_name.replace('_', ' ')) %]
    [% title = widget_name FILTER ucfirst %]
    [% w = { id = widget_name
             title = String.capital
             href =  c.uri_for('/species','guide','component',species,widget_name)
             type = ''
            };
    %]
    [% widgets.push(w) %]
  [% END %]


  [%# Add the sidebar %]
  [% PROCESS "shared/sidebar_structure.tt2" widgets=widgets %]


    <script>
      
  [% UNLESS c.user_session.layout.$class.defined %]
    var leftList = ["overview"];
    var rightList = ["phylogeny"];
    resetLayout(leftList, rightList, 50);
  [% END %]

    </script>


