Species:
<br />

          [% FOREACH option IN c.config.species_list.keys %]
            <li><a href="/species/[% option %]">[% c.config.species_list.$option.Title %]</a></li>
          [% END %]


<br />
Classes:
<br />

          [% FOREACH option IN c.config.sections.species.keys %]
            [% IF option == 'title'; NEXT; END; %]
            <li><a href="/species/[% option %]">[% option %]</a></li>
          [% END %]