  [% title = "Species available at WormBase"  %]

  [% widgets = [] %]
  [% widgets.push({ title="Species" type="title"}) %]
  [% widget_list = ['phylogeny', 'downloads'] %]

  [% FOREACH widget_name IN widget_list -%]
    [% title = widget_name FILTER ucfirst %]
    [% w = { id = widget_name
             title = title
             href =  c.uri_for('/rest','widget','species_summary',widget_name)
             type = ''
            };
    %]
    [% widgets.push(w) %]
  [% END %]


  [% widgets.push({ title="My Workspace" type="title"}) %]
  [% FOREACH widget_name IN ['reports', 'my_library'] -%]
    [% widget = c.config.sections.me.widgets.$widget_name %]
    [% w = { id = widget_name
            title = widget.title
            href =  c.uri_for('/rest','widget','me',widget_name)
            type = "me"
            };
    %]
    [% widgets.push(w) %]
   [% END %]

  [%# Add the sidebar %]
  [% PROCESS "shared/sidebar_structure.tt2" widgets=widgets %]


    <script>
      
  [% UNLESS c.user_session.layout.$class.defined %]
    $jq("#nav-overview").trigger('open');
    [% UNLESS object %]
      resetLayout(["reports"], ["my_library"], 50);
    [% END %]
  [% ELSE %]
    var leftList = ["[% c.user_session.layout.$class.0.left.join('", "') %]"];
    var rightList = ["[% c.user_session.layout.$class.0.right.join('", "') %]"];
    resetLayout(leftList, rightList, [% c.user_session.layout.$class.0.leftWidth %]);
  [% END %]

    </script>


