commands:
  10mkdir:
    command: "mkdir -p /media/volume1"
  20mount:
    command: "mount /dev/sdj /media/volume1"
  30symlink:
    command: |
      test -L /usr/local/wormbase && rm /usr/local/wormbase
      ln -s /media/volume1/usr/local/wormbase /usr/local/wormbase

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdj=snap-0a7994a64e8a6ff1c
