commands:
  10mkdir:
    command: "mkdir -p /media/volume1"
  20mount:
    command: |
      if [ mountpoint -q /media/volume1 ] ; then umount /media/volume1 ; fi
      mount /dev/sdj /media/volume1
  30symlink:
    command: |
      if [ -L /usr/local/wormbase ] ; then rm /usr/local/wormbase ; fi
      ln -s /media/volume1/usr/local/wormbase /usr/local/wormbase

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdj=snap-0a029d369d75eaddb