commands:
  10mkdir:
    command: "mkdir -p /media/volume1"
  20mount:
    command: |
      mountpoint -q /media/volume1 && umount /media/volume1
      mount /dev/sdj /media/volume1
  30symlink:
    command: |
      test -L /usr/local/wormbase && rm /usr/local/wormbase
      ln -s /media/volume1/usr/local/wormbase /usr/local/wormbase

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdj=snap-0d0897db09f28afae
