<div id="page-with-no-widgets">

<ol id="toc"></ol>
     

<div id="documentation-with-toc">
  <h1>WormBase Policies</h1>

   <h2><a name="acceptable-use"></a>Acceptable Use Policy</h2>
<p>
Drafted: 08 January 2005
</p>
<h3>Data access policy</h3>
<p>
As a web-based resource, WormBase (http://www.wormbase.org) is designed for users interacting with the resource on a page-by-page basis.
</p>
<p>
Users wishing to automate data retrieval from WormBase should direct their scripts to the data mining server (mining.wormbase.org) instead of the primary WormBase server.
</p>
<p>
aceserver.cshl.org always hosts an up-to-date copy of the database and the software that drives WormBase. In addition, the underlying databases at aceserver (Acedb and the Mysql GFF databases) are available for programmatic access (see Mining via AcePerl and Mining via MySQL for examples).
</p>
<p>
In consideration of other users, we request that any script -- whether it be mining the web interface or directly interacting with the underlying databases -- send no more than one request every three seconds.
</p>
<p>
If these facilities do not provide adequate speed for your needs, you may download and install the database locally. For additional help, please contact help@wormbase.org.
</p>

<h3>In-line citations</h3>
<p>
We do our best to correctly annotate and cite sources when available. Users are encouraged to confirm these citations independently. Absence of a citation from WormBase does not imply that an appropriate citation does not exist.
</p>

<h2><a name="privacy-statement"></a>Privacy statement</h2>
<p>
WormBase logs the IP address of your browser and each database query. This is done in order to track usage statistics and to identify operational problems. This information is not used to identify individuals or organizations, and is never shared with third parties.
</p>
<p>
Cookies are used by the search pages in order to remember your search settings. Some cookies persist after you exit the browser, but they are never used for either identification or tracking purposes.
</p>


<h2><a name="copyright">Copyright</a></h2>
<p>
WormBase is copyright © 1999-2011 California Institute of Technology, Cold Spring Harbor Laboratory, Ontario Institute for Cancer Research, Washington University at St. Louis, and The Wellcome Trust Sanger Institute. 
</p>

<p>
Permission to use the information contained in this database was given by the researchers/institutes who contributed or published the information. Users of the database are solely responsible for compliance with any copyright restrictions, including those applying to the author abstracts. Documents from this server are provided "AS-IS" without any warranty, expressed or implied. 
</p>
<p>
WormBase is supported by a grant from the National Human Genome Research Institute at the US National Institutes of Health # P41 HG02223 and the British Medical Research Council.
</p>
</div>
</div>