
[%

    # use the field as if it comes from a widget;
    # only needed if wrapping it in a field block
    fields.fpkm_expression_summary_ls = fpkm_expression_summary_ls;

    IF fields.fpkm_expression_summary_ls;
        # used by per project fpkm plots
        by_study = fields.fpkm_expression_summary_ls.data.by_study;
        fpkm_data = fields.fpkm_expression_summary_ls.data.table.fpkm.data;
        # used by plot Julie proposes selected experiments
        experiments = fields.fpkm_expression_summary_ls.data.experiments;

        # hack to trick field_block into think fpkm_controls is a field
        fields.fpkm_controls = {
            description => 'Estimates of expression calculated by averaging the FPKMs for all control (untreated) samples for each life-stage',
            data => fields.fpkm_expression_summary_ls.data.controls || undef
        };

        fields.fpkm_summary_plot_data = {
            description => 'This shows the FPKM expression values of PolyA+ and Ribozero modENCODE libraries across life-stages. The bars show the median value of the libraries plotted. Other modENCODE libraries which were made using other protocols or which are from a particular tissue or attack by a pathogen have been excluded.',
            data => fpkm_data || undef
        };
    END;

    WRAPPER $field_block title="FPKM expression data from selected modENCODE libraries" key="fpkm_summary_plot_data";
        '<div class="fpkm-selected-container"></div>';
    END;

    WRAPPER $field_block title="Aggregate expression estimates" key="fpkm_controls";
        #table for control stats
        build_data_table(order = ['life_stage', 'control median', 'control mean'],
                         columns = {
                             life_stage => 'Life stage',
                             'control mean' => 'Mean'
                             'control median' => 'Median'
                         },
                         key='fpkm_controls');

    END;

    WRAPPER $field_block title="FPKM expression" key="fpkm_expression_summary_ls";

    '<div class="fpkm-plot-container">
        <div class="fpkm-plot-menu-container"></div>
        <div class="fpkm-plot-content-container">
            <div class="fpkm-plot-description"></div>
            <div class="fpkm-plot-canvas"></div>
        </div>
    </div>';

        FOREACH analysis IN fpkm_data;
            analysis.project_link = tag2link(analysis.project_info);
        END;

        # USE Dumper;Dumper.dump(fpkm_data);
        build_data_table(order = ['label', 'project_link', 'life_stage', 'value'],
                         columns = {
                             label => 'Name',
                             project_link => 'Project',
                             life_stage => 'Life Stage',
                             value => 'FPKM value'
                         },
                         passed_data = fpkm_data, key="analysis");

    '<div>';'</div>';
    END;


%]

[% IF fpkm_data; %]
<script type="text/javascript" >
    WB.FpkmPlots.makeFpkmBoxPlot($jq('.fpkm-plot-container'),[% json_encode(by_study); %], [% json_encode(fpkm_data); %]);
    WB.FpkmPlots.makeFpkmSummaryPlot($jq('.fpkm-selected-container'),[% json_encode(experiments); %], [% json_encode(fpkm_data); %]);
</script>
[% END; %]