
[% FOREACH h IN c.stash.history %]
  <li><div class="ellipsis">
    [% linkPage(h.page) %]
    
   <span id="fade"> - [% h.time_lapse %] 
  [% IF h.visits > 1 %]([% h.visits %] visits) [% END %]
  </span>
</div>
  </li>
[% END %]
<!--   <li><a id="fade" onclick='ajaxGet($jq("div#user_history"), "/rest/history?clear=1");'>clear history</span></li> -->