<div class="toggle">BLAST FULL LIST</div>  
<div  id="blast_details_dataTable">
  [% dataTable_list(['Hit','Species','Description','E Value','Source Range','Target Range'],blast_details.data,'blast_details_dataTable') %]
</div>
 
    
