<div>
[%
      x = [];
      FOREACH d IN blastp_details.data;
      x.push(d) IF d.e_value;
      END;
      build_data_table(order=['e_value', 'species', 'hit', 'description', 'source_range', 'target_range'],
                       columns={ species  => 'Species',
                                 hit      => 'Hit',
                                 description => 'Description',
                                 e_value   => 'BLAST e-value',
				 source_range => 'Source range',
				 target_range => 'Target range',
                                 percent  => '% Length'
                                },
		       key='blastp_details',
                       passed_data=x,
		       );
%]
</div>
