[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]

[% WRAPPER $field_block title="Curation History" key="history" -%]
   [% types = history.keys.sort %]
   <table  border= 0, width= '100%' >
   <tr align= 'left'>
   [% FOREACH type IN types %]
      [% IF type == 'prediction' %]<th>Predicted Gene</th>
      [% ELSIF type == 'status' %]<th>Event</th>
      [% ELSIF type == 'version' %]<th>WormPep Version</th>
      [% ELSE %] <th> [% type %] </th>
      [% END %]
   [% END %]
   </tr>
   [% FOREACH obj IN history.version.keys %]
   <tr>
      [% FOREACH type IN types %]
	  <td>[% history.$type.$obj %]</td>
      [% END %]
   </tr>
   [% END %]
   </table>   
[% END %]
