[% 

   WRAPPER $field_block title="Homology Groups" key="homology_groups";
      build_data_table(order=['type','id','title'],
     	               columns={type  => 'Type',
		                title => 'Title',
				id  => 'Link',
 		                },	    
	               key='homology_groups');
    END;

   WRAPPER $field_block title="Orthologs" key="orthologs";
        build_data_table(order=['species','gene'],
                         columns={ species => 'Species',
		                   gene    => 'Gene',
                                 },
                         key='orthologs');
     END;
  

     WRAPPER $field_block title="Protein Schematic" key="homology_image";
          # image(fields.homology_image.data);
	    image("/rest/field/protein/" _ object.name.data.id  _ "/homology_image?content-type=image/png");
     END;

%]
[% WRAPPER $field_block title="Motif Summary" key="pfam_graph"%]
  <iframe src ="[% c.uri_for('/rest/field','protein',object.name.data.id,'pfam_graph') %]" width="536" style="margin:0 auto" frameborder=0 scrolling="auto" ALLOWTRANSPARENCY="true">
  <p>Your browser does not support iframes.</p>
  </iframe> 

        [% WRAPPER $field_block title="" %]
           <div id="motif_details">
<div class="toggle load-toggle" href="[% c.uri_for('/rest','field','protein',object.name.data.id,'motif_details') %]" id="blast_details_toggle" >View full Motif Details</div> 
<div class="returned field"></div>
         </div>
      [% END %] 
[% END %]



[% best_blastp_matches %]

