[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]
 
[% 

   WRAPPER $field_block title="Homology Groups" key="homology_groups";
      build_data_table(order=['type','id','title'],
     	               columns={type  => 'Type',
		                title => 'Title',
				id  => 'Link',
 		                },	    
	               key='homology_groups');
    END;

   WRAPPER $field_block title="Orthologs" key="orthologs";
        build_data_table(order=['species','gene'],
                         columns={ species => 'Species',
		                   gene    => 'Gene',
                                 },
                         key='orthologs');
     END;
  

     WRAPPER $field_block title="Protein Schematic" key="homology_image";
          # image(fields.homology_image.data);
          c.flash.gd = fields.homology_image.data;
          image("/draw/protein");
     END;

%]

[% WRAPPER $field_block title="Motif Summary" %]
     
  <iframe src ="[% c.uri_for('/field','protein',object.name.data.id,'pfam_graph') %]" width="100%" style="margin:0 auto" frameborder=0 scrolling="auto" ALLOWTRANSPARENCY="true">
  <p>Your browser does not support iframes.</p>
  </iframe> 

  <div id="motif_details">
       <a class="update motif_details" href="[% c.uri_for('/rest','field','protein',object.name.data.id,'motif_details') %]">
          [View full Motif Details]
       </a>
  </div>   
[% END %]
   


[% best_blastp_matches %]

