[%

   WRAPPER $field_block title="Homology Groups" key="homology_groups";
      build_data_table(order=['type','id','title'],
     	               columns={type  => 'Type',
		                title => 'Title',
				id  => 'Link',
 		                },
	               key='homology_groups');
    END;

   WRAPPER $field_block title="Orthologs" key="orthologs";
        build_data_table(order=['species','gene'],
                         columns={ species => 'Species',
		                   gene    => 'Gene',
                                 },
                         key='orthologs');
     END;


     WRAPPER $field_block title="Protein Schematic" key="schematic_parameters";
          # image(fields.homology_image.data);
	 jbrowse_protein_schematic(fields.schematic_parameters.data);

	 WRAPPER toggle title="Legacy Protein Schematics";
           image("/rest/field/protein/" _ object.name.data.id  _ "/rest_homology_image?content-type=image/png");
	 END;

     END;

%]



[% best_blastp_matches %]


<script>
  WB.getPlugin("pfam", function(){
    $jq(".pfam_graph_homology").each(function() {
        var p = PfamGraphic;
        p.initialize();
        p.render("#" + this.id, $jq("#" + this.id).data("seq"));
    });
  });
</script>
