[%

   sequence;

   WRAPPER $field_block title="Estimated Molecular Weight" key="estimated_molecular_weight_data";
        fields.estimated_molecular_weight.data;
   END;

   WRAPPER $field_block title="Estimated Isoelectric Point" key="estimated_isoelectric_point";
        fields.estimated_isoelectric_point.data;
   END;

   WRAPPER $field_block title="Amino Acid Composition" key="amino_acid_composition";
        data = fields.amino_acid_composition.data;
        keys = data.keys.sort;
        '<table  border="0", width="100%" ><tr><td>';
             keys.join('</td><td>');
	      '</td></tr>';
           '<tr>';
            FOREACH key IN keys;
               '<td>' _ data.$key _ '</td>';
            END;
           '</tr>';
        '</table>';
    END;

%]