[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]

[% WRAPPER $field_block title="Protein Length" %]
  [% fields.protein_sequence.data.length %] aa
[% END %]

[% WRAPPER $field_block title="Protein Sequence" %]
  [% seq = fields.protein_sequence.data.seq %]
  [% format_seq = "" %]
  [% FOREACH line IN seq.chunk(80) %]
     [% format_seq = format_seq _ line.chunk(10).join(' ')  %]
     [% UNLESS loop.last %] [% format_seq = format_seq _ "<br />" %] [% END %]  
  [% END %]
    <div class="sequence-download">
                        <form action="/rest/download/">
			  <input type="hidden" name="type" value="[% object.name.data.id %].fa" >
			  <input type="hidden" name="sequence" value="[% format_seq %]" >
			  <input type="submit" value="download"> 
		      </form>
    </div>

      <div class="toggle">View expanded context</div>
     <div class="sequence-container">
 		[% format_seq %]    
     </div>
[% END %]

[% WRAPPER $field_block title="Estimated Molecular Weight" %]
  [% fields.estimated_molecular_weight.data %]
[% END %]

[% WRAPPER $field_block title="Estimated Isoelectric Point" %]
  [% fields.estimated_isoelectric_point.data %]
[% END %]

[% WRAPPER $field_block title="Amino Acid Composition" %]
  [% data = fields.amino_acid_composition.data  %]
  [% keys = data.keys.sort  %]
  <table  border= 0, width= '100%' ><tr><td> [% keys.join('</td><td>')%] </td></tr>
  <tr>
  [% FOREACH key IN keys %]
  <td>[% data.$key %]</td>
  [% END %]
  </tr>
  </table>
[% END %]
