[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]

[% WRAPPER $field_block title="Name" %]
  [% tag2link(fields.name.data,fields.name.data.id) %]
[% END %]

 
   [% PROCESS "shared/fields/species.tt2" %]

[% WRAPPER $field_block title="Gene" %]
  [% FOREACH obj IN fields.genes.data %]
    [% tag2link(obj) %]  <br>
  [% END %]
[% END %]

[% WRAPPER $field_block title="Transcripts" %]
   [% FOREACH obj IN  fields.transcripts.data %]
   [% tag2link(obj) %]<br>
  [% END %]
[% END %]

[% WRAPPER $field_block title="Type" %]
  [% fields.type.data %]
[% END %]

 [% PROCESS "shared/fields/remarks.tt2" %]

[% IF fields.status.data.defined %]
[% WRAPPER $field_block title="Status" %]
  [% fields.status.data %]
[% END %]
[% END %]

[% IF fields.description.data.defined %]
[% WRAPPER $field_block title="Description" %]
  [% fields.description.data %]
[% END %]
[% END %] 