[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


<h2>[% tag2link(fields.name.data) %]</h2>

[% 
   WRAPPER highlight_box;
 
   taxonomy;

   WRAPPER $field_block title="Status" key="status";
      fields.status.data;
   END;
 
   WRAPPER $field_block title="WormBase ID";
       fields.name.data.id;
   END;
 
END;
 
WRAPPER $field_block title="";
  central_dogma;
END;

WRAPPER $field_block title="Type";
   fields.type.data;
END;

WRAPPER $field_block title="Description" key="description";
    fields.description.data;
END;

remarks;

%]