DEPRECATED: THIS WIDGET IS NOW MAINTAINED VIA THE WEB INTERFACE.

  [% title = "<span class='species'>C. elegans</span> Key Papers"  %]


  <div class="editors-comments">

  </div>

Dear Max,

These notes record and extend our discussions on the possible expansion of research activities in the Molecular Biology Laboratory.

First, some general remarks. It is now widely realized that nearly all the "classical" problems of molecular biology have either been solved or will be solved in the next decade. The entry of large numbers of American and other biochemists into the field will ensure that all the chemical details of replication and transcription will be elucidated. Because of this, I have long felt that the future of molecular biology lies in the extension of research to other fields of biology, notably development and the nervous system. This is not an original thought because, as you well know, many other molecular biologists are thinking in the same way. The great difficulty about these fields is that the nature of the problem has not yet been clearly defined, and hence the right experimental approach is not known. There is a lot of talk about control mechanisms, and very little more than that.

It seems to me that, both in development and in the nervous system, one of the serious problems is our inability to define unitary steps of any given process. Molecular biology succeeded in its analysis of genetic mechanisms partly because geneticists had generated the idea of one gene-one enzyme, and the apparently complicated expressions of genes in terms of eye color, wing length and so on could be reduced to simple units which were capable of being analyzed. Molecular biology succeeded also because there were simple model systems such as phages which exhibited all the essential features of higher organisms so far as replication and expression of the genetic material were concerned, and which simplified the experimental work considerably. And, of course, there were the central ideas about DNA and protein structure.

In the study of development and the nervous system, there is nothing approaching these ideas at the present time. It is possible that the repressor/operator theory of Jacob and Monod will be the central clue, but there is not very much to suggest that this is so, at least in its simple form. There may well be insufficient information of the right kind to generate a central idea, and what we may require at the present is experimentation into these problems.

The experimental approach I would like to follow is to attempt to define the unitary steps of development using the techniques of genetic analysis. At present, we are producing and analyzing conditional lethal mutants of bacteria. These are mutants which are unable to grow at 44C but do grow normally at 37C. The mutations affect genes controlling the more sophisticated processes of the bacterial cell, and some work which we have already done indicates that it will be possible to dissect the process of cell division into its unitary steps. We have mutants in which neither a cell membrane septum nor a cell wall is made, others in which a septum is made but not a cell wall septum and so on. We have mutants in which the control of DNA replication is affected. I intend to expand this research activity in the near future.

Our success with bacteria has suggested to me that we could use the same approach to study the specification and control of more complex processes in cells of higher organisms. As a first stage, I would like to initiate studies into the control of cell division in higher cells, in particular to try to find out what determines meiosis and mitosis. In this work there is a great need to "microbiologize" the material so that one can handle the cells as one handles bacteria and viruses. Hence, like in the case of replication and transcription, one wants a model system. For cell division, in particular meiosis, the ciliates seem the likely candidates. Already, in these cells, the basic plan of meiosis is present and there is no doubt that the controlling elements must be the same in ciliates as they are in the oocytes of mammals.

Another possibility is to study the control of flagellation and ciliation. This again is a differentiation in higher cells and its control must resemble the control in amoebo-flagellates.

As a more long term possibility, I would like to tame a small metazoan organism to study development directly. My ideas on this are still fluid and I cannot specify this in greater detail at the present time.

As an even more long term project, I would like to explore the possibilities of studying the development of the nervous system using insects...
</div>