<h1>Protein Alignments</h1>

<p>This is the Wormbase protein aligner. To use it, enter a WormBase protein ID.</p>

[% align_url = c.uri_for('/tools','protein_aligner','run').path %]

<form method="POST" action="[% align_url %]">

<input type="text" name="sequence" value="[% c.stash.sequence %]" />
<input type="submit" value ="Run" /> <br />
 (e.g. <cite><a href="[% align_url _ '?sequence=CE25115' %]">CE25115</a> or <a href="[% align_url _ '?sequence=CBP00571' %]">CBP00571</a></cite>)
</form>