<div style='padding:5px'>
[% IF c.req.params.type == 'CG' %]
    [% IF desc %]<b>[% c.req.params.name %]</b>: [% desc.replace('^(.{512}).+','$1...') %]</b>
    [% ELSE    %][%c.req.params.name %]
    [% END     %]
[% ELSIF c.req.params.type == 'EXPR_PATTERN' %]
    <span style="color:steelblue">[% title %]</span><br>
    <p><i>[% desc %]</i></p>
    [% IF expr_image %]
       <img src="/draw/[% expr_image %]" style="width:300px">
    [% END %]
[% END %]
</div>
