[%

MACRO tableAffected(type, tag, order) BLOCK;
    build_data_table(
	order = order || ['phenotype','affected_gene','affected'],
	columns = {
	    affected  => "$type",
        affected_gene => 'Gene',
	    phenotype => 'Phenotype',
	}, key = "$tag" );
END;

WRAPPER $field_block title="RNAi" key="affected_rnai";
      tableAffected('RNAi', 'affected_rnai');
END;


WRAPPER $field_block title="Transgenes" key="affected_transgenes";
    table_settings = '
        "drawCallback": WB.partitioned_table(0, function(rowData){
            return "<td>" + rowData[0] + "</td>";
        }),
        "columnDefs": [
            { "targets": 2, "width": "20%" }
        ],
        aaSorting: [],
        "autoWidth": false
    ';

    build_data_table(
	order = ['affected_gene','phenotype','phenotype_not','affected'],
	columns = {
	    affected  => "Details",
        affected_gene => 'Gene',
	    phenotype => 'Phenotype',
	    phenotype_not => 'Phenotype not observed',
	}, key = "affected_transgenes",
      style = table_settings
     );
END;

WRAPPER $field_block title="Variations" key="affected_variations";
      tableAffected('Variation', 'affected_variations');
END;

WRAPPER $field_block title="Strains" key="affected_strains";
      tableAffected('Strain', 'affected_strains', ['phenotype','affected']);
END;

%]