<h2>[% fields.name.data.label %]</h2>

[%

WRAPPER highlight_box;
 WRAPPER $field_block title=pluralize('Synonym', fields.synonyms.data.size) key="synonyms";
   tags2link(fields.synonyms.data);
END;

    WRAPPER $field_block title='InChi', key="inchi";
        fields.inchi.data;
    END;

    WRAPPER $field_block title='InChi Key', key="inchi_key";
        fields.inchi_key.data;
    END;

    WRAPPER $field_block title='IUPAC', key="iupac";
        fields.iupac.data;
    END;

    WRAPPER $field_block title='Formula', key="formula";
        fields.formula.data;
    END;

    WRAPPER $field_block title='SMILES', key="smiles";
        fields.smiles.data;
    END;

    WRAPPER $field_block title='Monoisotopic mass', key="monoisotopic_mass";
        fields.monoisotopic_mass.data;
    END;

END;


'<div class="description">';

WRAPPER $field_block title="" key="chebi_id";
    chebi_base_url = 'http://www.ebi.ac.uk/chebi/';

    MACRO format_url(url_base, params) BLOCK;
      paramStrings = [];
      FOREACH key IN params.keys;
        value =  params.$key;
        paramStrings.push("$key=$value");
      END;
      url_base _ '?' _ paramStrings.join('&');
    END;

    chebi_image_url = format_url(chebi_base_url _ 'displayImage.do', {
        chebiId => fields.chebi_id.data,
        defaultImage => 'true',
        imageIndex => 0,
        dimensions => 400
    });
    chebi_image = image(chebi_image_url);

    chebi_url = format_url(chebi_base_url _ 'searchId.do', {
        chebiId => 'CHEBI:' _ fields.chebi_id.data
    });

    '<div class="molecule--chebi-image-container" style="width:180px;height:210px;position:relative;display:none;margin:0 auto;">' _
    '<div class="molecule--chebi-image">' _
    external_link(chebi_url, chebi_image) _
    '</div>' _
    '<p class="fade" style="text-align:center;position:absolute;top:180px">Molecular structure powered by ' _ external_link(chebi_base_url, 'ChEBI') _ '</p>' _
    '<script type="application/javascript">
        // avoid broken image link when ChEBI image isn\'t available
        $jq.ajax({
            type: "GET",
            url: "' _ chebi_image_url _ '",
            success: function(data, status, jqxhr) {
                if (data.length > 0) {
                    $jq(".molecule--chebi-image-container").show();
                }
            }
        });

        // expand image on hover
        $jq(".molecule--chebi-image").hover(function(){
            $jq(this).css({
                width: "400px",
                position: "absolute",
                border: "1px solid grey",
                "z-index": 10000
            });
        }, function() {
            $jq(this).css({
                width: "180px",
                position: "absolute",
                border: "initial",
                "z-index": "initial"
            });
        });
    </script>' _
    '</div>';
END;

WRAPPER $field_block title="Molecule Use" key="molecule_use";
    FOREACH mu IN fields.molecule_use.data;
    evidence(mu.evidence, '', mu.text);
    END;
END;

WRAPPER $field_block title="Gene Regulation Activity" key="gene_regulation";
	tags2link(fields.gene_regulation.data);
END;

WRAPPER $field_block title=pluralize('Biofunction role', fields.biofunction_role.data.size) key="biofunction_role";
    FOREACH role IN fields.biofunction_role.data;
        evidence(role.evidence, '', role.text);
    END;
END;

WRAPPER $field_block title="Status" key="detection_status";
    cell_content(fields.detection_status.data);
END;

WRAPPER $field_block title=pluralize('Detection method', fields.detection_method.data.size) key="detection_method";
    cell_content(fields.detection_method.data);
END;

WRAPPER $field_block title=pluralize('Extraction method', fields.extraction_method.data.size) key="extraction_method";
    cell_content(fields.extraction_method.data);
END;

WRAPPER $field_block title='Nonspecies source' key="nonspecies_source";
    fields.nonspecies_source.data;
END;

remarks(no_toggle=1);
'</div>';
%]