<h2>[% fields.name.data.label %]</h2>

[%

WRAPPER highlight_box;
 WRAPPER $field_block title=pluralize('Synonym', fields.synonyms.data.size) key="synonyms";
   tags2link(fields.synonyms.data);
END;

END;


'<div class="description">';
WRAPPER $field_block title="Molecule Use" key="molecule_use";
    FOREACH mu IN fields.molecule_use.data;
    evidence(mu.evidence, '', mu.text);
    END;
END;

WRAPPER $field_block title="Gene Regulation Activity" key="gene_regulation";
	tags2link(fields.gene_regulation.data);
END;

WRAPPER $field_block title="" key="chebi_id";
    chebi_base_url = 'http://www.ebi.ac.uk/chebi';

    MACRO format_url(url_base, params) BLOCK;
      paramStrings = [];
      FOREACH key IN params.keys;
        value =  params.$key;
        paramStrings.push("$key=$value");
      END;
      url_base _ '?' _ paramStrings.join('&');
    END;

    '<div class="molecule--chebi-image" style="width:300px; position:relative;">' _
    image(format_url(chebi_base_url _ '/displayImage.do', {
        chebiId => fields.chebi_id.data,
        defaultImage => 'true',
        imageIndex => 0,
        dimensions => 400
    })) _
    '<p class="fade" style="text-align:center;">Molecular structure powered by ' _ external_link(chebi_base_url, 'ChEBI') _ '</p>' _
    '</div>';

END;

remarks(no_toggle=1);
'</div>';
%]