[%

    '<style type = "text/css" scoped>
        #structure-content .field {
            margin: 5px 0;  /* add more spacing around fields in this widget */
         }
    </style>';

    WRAPPER $field_block title='IUPAC', key="iupac";
        fields.iupac.data;
    END;

    WRAPPER $field_block title='InChi', key="inchi";
        fields.inchi.data;
    END;

    WRAPPER $field_block title='InChi Key', key="inchi_key";
        fields.inchi_key.data;
    END;

    WRAPPER $field_block title='SMILES', key="smiles";
        fields.smiles.data;
    END;

    WRAPPER $field_block title='Formula', key="formula";
        fields.formula.data;
    END;

    WRAPPER $field_block title='Monoisotopic mass', key="monoisotopic_mass";
        fields.monoisotopic_mass.data;
    END;

%]