[% IF data.tool == 'gmap' || data.object.class == 'Map' %]
    [% UNLESS noboiler %]
	<h1>WormBase Genetic Map Viewer for [% data.object.class %]: [% data.object.name %]</h1>
    [% END %]
    <p>
    <form method="POST" action="[% c.uri_for('/tools','gmap','run').path %]">
	Chromosome name:
	<select name="name">
	    <option value="I" selected="1">I</option>
	    <option value="II">II</option>
	    <option value="III">III</option>
	    <option value="IV">IV</option>
	    <option value="V">V</option>
	    <option value="X">X</option>
	</select>
	&nbsp;
	<input type="submit" name="Change" value="Change" style="background: white" />
    </form>
    </p>

    <p>
    <form method="POST" action="[% c.uri_for('/tools', 'gmap' ,'run').path %]">
      <table>
	<tr><th>WormBase ID</th>
	    <td><input type="text" name="name" onchange="document.question.submit()" /></td>
	    <th>Class</th>
	    <td><select name="class">
		  <option value="Gene" selected="1">Gene</option>
		  <option value="Rearrangement">Rearrangement</option>
	    </select></td>
	    <td><input type="submit" name="Change" value="Search" style="background: white" /></td>
	</tr>
      </table>
    </form>
    </p>
[% ELSE %]
    [% UNLESS noboiler %]
	<h1>WormBase ACeDB Graphic Display for [% data.object.class %]: [% data.object.name %]</h1>
    [% END %]

    <p>
    <form method="POST" action="[% c.uri_for('/tools',data.tool,'run').path %]" name"question">
	<table>
	    <tr>
		<th>WormBase ID</th>
		<td><input type="text" name="name" value="[% data.object.name %]" onchange="document.question.submit()" /></td>
		<th>Class</th>
		<td><input type="text" name="class" value="[% data.object.class %]" size="15" onchange="document.question.submit()" /></td>
		<td><input type="submit" name="Change" value="Change" style="background: white" /></td>
	    </tr>
	</table>
    </form>
    </p>
[% END %]

[% IF data.msg %]
    <div class="not-found">[% data.msg %]</div>
[% ELSE %]
    [% data.img_panel.join(' ') %]
    [% data.img.join(' ') %]
    [% data.img_map.join(' ') %]
    <br>
    <hr>
    <h2>Key</h2>
    <br>
    <p>Yellow and orange markers represent loci that have been cloned. Markers indicated in yellow are well-characterized experimental markers. Markers indicated in orange are inferred and match one or m
ore are of the following criteria:</p>
    <ul>
        <li>
            Lack an experimentally determined genetic map position
        </li>
        <li>
            Lack experimental multi-pt mapping data
        </li>
        <li>
            Are linked to a sequence and have an interpolated map position
        </li>
        <li>
            Have associated alleles
        </li>
    </ul>
[% END %]

<script type="text/javascript">
    function send_click(e,url) {
      if (e.offsetX)
	  send_click_ie(e,url);
      else
	  send_click_ns(e,url);
    }
    function send_click_ns(e,url) {
      window.location = url + (e.x-document.theMapImg.x) + '-' + (e.y-document.theMapImg.y);
    }
    function send_click_ie(e,url) {
      window.location = url + e.offsetX + '-' + e.offsetY;
    }
    function toolTip(box,comment) {
      if (box != null) box.title=comment;
      window.status=comment;
      return true;
    }
</script>
