[% 


laboratory(title="Laboratory affiliation");

WRAPPER $field_block title="Strain designation" key="strain_designation";
      tag2link(fields.strain_designation.data);
END;

WRAPPER $field_block title="Allele designation" key="allele_designation";
      fields.allele_designation.data;
END;

WRAPPER $field_block title="Gene classes" key="gene_classes";
      FOREACH gene_class IN fields.gene_classes.data;
         tag2link(gene_class) _  '&nbsp;';
      END;
END;


WRAPPER $field_block title="Previous affiliations" key="previous_laboratories";
      FOREACH item IN fields.previous_laboratories.data;
         tag2link(item.0) _ '(' _ tag2link(item.1) _ ')';
      END;
END;

%]