[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% WRAPPER $field_block title="Strain Designation"-%] 
            [% tag2link(fields.lab_id.data) %] 
            [% ## fields.allele_designation.data %]
   [% END %]


 [% WRAPPER $field_block title="Allele Designation"-%] 
 	[% fields.allele_designation.data %]
 [% END %]
 
  [% WRAPPER $field_block title="Gene Classes"-%]
            
     [% FOREACH gene_class IN fields.gene_classes.data %]
     	[% tag2link(gene_class) %] &nbsp;
     [% END %]
  [% END %]