[% 


laboratory(title="Laboratory affiliation");

WRAPPER $field_block title="Lab information" key="lab_info";
	build_data_table(
		order=['lab', 'rep', 'strain', 'allele'],
		columns={
			strain 	=> 'Strain',
			allele	=> 'Allele',
			lab		=> 'Laboratory',
			rep		=> 'Representative'
		},
		key='lab_info'
	);
END;


WRAPPER $field_block title="Gene classes" key="gene_classes";
    build_data_table(
		order=['gene_class','desc','lab'],
		columns={
			gene_class	=> 'Gene class',
			desc		=> 'Description',
			lab			=> 'Laboratory'
		},
		key='gene_classes'
    );
END;


WRAPPER $field_block title="Previous affiliations" key="previous_laboratories";
      FOREACH item IN fields.previous_laboratories.data;
         tag2link(item.0) _ ' (' _ tag2link(item.1) _ ')';
	 UNLESS loop.last; ', '; END;
      END;
END;


%]