[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[%

WRAPPER $field_block title="Labs" key="all_labs";

   build_data_table(order=['lab','representative','affiliation','email','allele_designation','url'],
                    columns={ lab                => 'Lab',
		    	      affiliation        => 'Affiliation',
		              representative     => 'Representative',
			      email              => 'Email',
			      allele_designation => 'Allele ID',
			      url                => 'URL',
			      },
                    key='all_labs'); 
END;

%]