[% 

WRAPPER $field_block title="" key="alleles";

    build_data_table(order=['allele','gene','type','sequenced'],
                    columns={ allele => 'Allele',
		              gene   => 'Gene',
			      type   => 'Type',
			      sequenced => 'Sequence known?' },
                    key='alleles');

END;

%] 
