[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

	[% WRAPPER $field_block title="Alleles"-%] 
            	[% ## set counter and number of columns %]
            	[% n = 1 %]
            	[% cols = 10 %]
            	
            	[% ## start table %]
            	<table cellpadding = "3">
            		[% FOREACH allele IN fields.alleles.data %]
            			[% IF n == 1 %]
							<tr><td>
								[% tag2link(allele)%]
							</td>             			
            				[% n = n + 1 %]
            			
            			[% ELSIF n == cols %]
							<td>
								[% tag2link(allele)%]
							</td></tr>            				
            				[% n = 1 %]
            			[% ELSE %]
							<td>
								[% tag2link(allele)%]
							</td>
							[% n = n + 1 %]
            			[% END %]
            		[% END %]
            	</table>
   [% END %]

