[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


[% build_data_table(order=['allele','gene'],
                    columns={ allele => 'Allele',
		              gene   => 'Gene'},
                    key='alleles',
                    title='Alleles') %] 
