[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


[% 

WRAPPER $field_block title="" key="gene_classes";

   build_data_table(order=['gene_class','description'],
                    columns={ gene_class  => 'Gene Class',
		              description => 'Description'},
                    key='gene_classes');
END;

%]

