[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

	<h2>[% tag2link(fields.name.data) %]</h2>

<div class="details ui-corner-all">

   [% WRAPPER $field_block title="Fax"-%] 
            [% fields.fax.data %]
   [% END %]


   [% WRAPPER $field_block title="Email"-%] 
            [% fields.email.data %]
   [% END %]
   
	[% WRAPPER $field_block title="WormBase id"-%] 
            [% tag2link(fields.name.data) %]
   [% END %]            

</div>


<div class="text-width" style="clear:left">

	[% WRAPPER $field_block title="Representative"-%] 
            [% tag2link(fields.representative.data) %]
   [% END %]

		[% WRAPPER $field_block title="Strain_designation"-%] 
            [% fields.strain_designation.data %]
   [% END %]
   
   	[% WRAPPER $field_block title="Allele_designation"-%] 
            [% fields.allele_designation.data %]
   [% END %]

	[% WRAPPER $field_block title="Phone"-%] 
            [% fields.phone.data %]
   [% END %]
   
   [% WRAPPER $field_block title="Web Page"-%] 
          <a href="http://[% fields.web_site.data %]">[% fields.web_site.data %]</a><br>
   [% END %]

   
   
</div>





   
   

   





