<h2 style="float:left">[% fields.name.data.label %]</h2>


[% WRAPPER highlight_box %]
	[% WRAPPER $field_block title="WormBase ID" key="name"-%] 
		[%  fields.name.data.id %]
	[% END %]
[% END %]

[% # WRAPPER $field_block title="term"-%] 
	[% # tag2link(fields.term.data) %]
[% # END %]

[% WRAPPER $field_block title="definition"-%] 
	[% fields.definition.data %]
[% END %]

[% WRAPPER $field_block title="type"-%] 
	[% fields.type.data %]
[% END %]






