[% species_name = (s_arr = species.split('_').1) ? species.substr(0,1) _ '. ' _ s_arr : species FILTER ucfirst; %]

WormBase does not maintain [% IF !class.match('all'); class; END; %] data for <span class="species">[% species_name %]</species>