<table width="100%">
   <tr>
     [% IF (species == 'all') %]<th width="30%">Species</th>[% END %]
     <th width="20%">FTP Home</th>
     <th width="20%">Genomic Sequence</th>
     <th width="10%">GFF2</th>
     <th width="10%">GFF3</th>
     <th width="10%">Protein</th>
   </tr>

   [% s_list = (species != 'all') ? [species] : c.config.sections.species_list.keys.sort(); %]
   
   [% FOREACH option IN s_list %]
      [% NEXT IF (option == 'all'); %]
      <tr>
        [% IF (species == 'all') %]
           <td><a href="/species/[% option %]" class="species">[% c.config.sections.species_list.$option.genus %] [% c.config.sections.species_list.$option.species %]</a></td>
       [% END %]
       <td><a href="ftp://ftp.wormbase.org/pub/wormbase/species/[% option %]">[% (species == 'all') ? 'FTP home' : c.config.sections.species_list.$option.genus _ ' ' _ c.config.sections.species_list.$option.species %]</a></td>
       <td><a href="ftp://ftp.wormbase.org/pub/wormbase/species/[% option %]/sequence/genomic/[% option %].[% constants.acedb_version %].genomic.fa.gz">[% option %].fa.gz</td>
       <td><a href="ftp://ftp.wormbase.org/pub/wormbase/species/[% option %]/gff/[% option %].[% constants.acedb_version %].annotations.gff2.gz">[% option %].gff2.gz</td>
       <td><a href="ftp://ftp.wormbase.org/pub/wormbase/species/[% option %]/gff/[% option %].[% constants.acedb_version %].annotations.gff3.gz">[% option %].gff3.gz</td>
       <td><a href="ftp://ftp.wormbase.org/pub/wormbase/species/[% option %]/sequence/protein/[% option %].[% constants.acedb_version %].protein.fa.gz">[% option %].fa.gz</td>
      </tr>
   [% END %]
</table>
<br />
<div class="caveat-emptor">Links point to the most current assemblies. Additional datasets and older versions are available on the summary page for each species or on the FTP home.</div>