[%





WRAPPER $field_block title="Anatomic Expression Patterns" key="expression_patterns";
    gene_image = fields.anatomic_expression_patterns.data.image;
    IF gene_image;
      '<div style="max-width:500px;">';
        '<a href="'_ gene_image _ '" target="_blank">' _
           '<img src="' _ gene_image _ '" width="100%">' _
        '</a>';
      '</div>';
    END;
           build_data_table(order=['expression_pattern','type', 'description', 'database', 'expressed_in', 'life_stage', 'go_term', 'transgene'],
                      columns={
                          expression_pattern => 'Pattern',
                          description  => 'Description',
                          database => 'Database',
                          type => 'Type',
                          expressed_in => 'Expressed in',
                          life_stage => 'Life stage',
                          go_term => 'GO term',
                          transgene => 'Transgene'
                             },
                    key='expression_patterns');

END;


WRAPPER $field_block title="Expression Profiling Graphs" key="expression_profiling_graphs";
           build_data_table(order=['expression_pattern','type', 'description', 'database', 'expressed_in', 'life_stage', 'go_term', 'transgene'],
                      columns={
                          expression_pattern => 'Pattern',
                          description  => 'Description',
                          database => 'Database',
                          type => 'Type',
                          expressed_in => 'Expressed in',
                          life_stage => 'Life stage',
                          go_term => 'GO term',
                          transgene => 'Transgene'
                             },
                    key='expression_profiling_graphs');

END;
WRAPPER $field_block title="Anatomy terms" key="anatomy_terms";
  tags2link(fields.anatomy_terms.data, '<br />', 'anatomy terms');
END;



# This is BROKEN. Model issue? Returns a one-element empty data structure.
WRAPPER $field_block title="4D expression movies" key="fourd_expression_movies";
        '<ul>';
  FOREACH mv IN fields.fourd_expression_movies.data.keys;
              '<li>' _ tag2link(mv.value.object) _ ': ' _ mv.value.details _ '<br />';
            external_link(mv.value.movie, mv.value.movie);
              '</li>';
         END;
         '</ul>';
END;



WRAPPER $field_block title="Expression Cluster" key="expression_cluster";
  build_data_table(
    order=['expression_cluster','description'],
    columns={
      expression_cluster => 'Expression clusters',
      description  => 'Description'
    },
    key='expression_cluster');
END;


WRAPPER $field_block title="Microarray, Tiling Array and RNAseq";
     '<a href="' _ site.external_urls.spell_wormbase.base _ '/spell/search/">Perform Clustering Analysis in SPELL</a> (<a href="http://wiki.wormbase.org/index.php/SPELL">documentation</a>)';
     '<br />';
     external_link('spell_wormbase', 'Show Expression Levels of ' _ span_class(object.name.data.label, 'locus', 0, 1) _ ' in All Datasets', object.name.data.label);
END;


WRAPPER $field_block title="Microarray \"topography map\" data" key="microarray_topology_map_position";
    tags2link(fields.microarray_topology_map_position.data);
END;

WRAPPER $field_block title=pluralize("Site", fields.anatomy_function.data.size) _ " of Action" key="anatomy_function";
      build_data_table( order = ['bp_inv', 'assay', 'phenotype', 'reference'],
              columns = { 'bp_inv'   => 'Anatomical Sites',
                          'assay' => 'Assay',
                      'phenotype'   => 'Phenotype',
                      'reference' => 'Reference'},
              key = 'anatomy_function');
END;

%]
<!--fpkm expression field will be loaded with an ajax call-->
<div id="fpkm_holder">
    <div class="field">
        <div class="field-title"><span>FPKM expression data:  </span></div>
        <div class="field-content"><div class="loading"><img src="/img/ajax-loader.gif" alt="Loading..." /></div></div>
    </div>
</div>

<script type="text/javascript" >
WB.getPlugin("colorbox", function(){
$jq(".exprbox").colorbox({width:"90%", inline:true});
$jq(".exprcamera").colorbox({width:"80%", height:"80%", opacity:"0.4"});
});

setTimeout(function(){
// There is some arcana here that will not let us use
// c.uri_for in this context. It will point to, typically,
// wormbase.org when prebaking which might not be concurrent
// with the version being prebaked.
//    WB.ajaxGet($jq("#fpkm_holder"), "[% c.uri_for("/rest/field", class, fields.name.data.id, "fpkm_expression_summary_ls") %]", {noLoadImg: true});
    WB.ajaxGet($jq("#fpkm_holder"), "[% '/rest/field/' _ class _ '/' _ fields.name.data.id _ '/fpkm_expression_summary_ls' %]", {noLoadImg: true});
}, 1000);

</script>
