[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[%# 2011.02: IN USE BY PROTEIN %]


[% FOREACH tag IN fields.external_links.data.keys.sort %]
    [% WRAPPER $field_block title=tag %]
	  [% external_link(fields.external_links.data.$tag.class,fields.external_links.data.$tag.label,fields.external_links.data.$tag.id) %]
	  [% IF tag == 'GenBank/EMBL' %][% tag2link(fields.external_links.data.$tag.detail,' [details]') %] [% END %]
    [% END %]
[% END %]