[%

    # Some instances of this widget require an image.
    IF fields.feature_image.data;
	feature_image = fields.feature_image.data;

	WRAPPER $field_block title="Genome Browser Preview";
	   jbrowse_view(feature_image, undef, "Curated_Genes,RNASeq Asymmetries,RNASeq,RNASeq Splice Junctions (common),RNASeq Splice Junctions (rare),Polysomes,DNAseI hypersensitive site,Regulatory regions,Promoter regions,Histone binding sites,Transcription factor binding regions,Transcription factor binding sites,Binding sites (predicted),Binding sites (curated),Binding regions");
	END;

	WRAPPER toggle title="Legacy GBrowse image";
	   '<div style="clear:both;">';
	   img_url = gbrowse_url(feature_image.taxonomy, feature_image.id, '', 1);
	   img_url = img_url _ ';t=' _ feature_image.tracks.join(';t=');
	      tag2link(feature_image, image(img_url));
	   '</div>';
	END;
	'<br />';
    END;

    build_data_table(
        order = ['name', 'description', 'method', 'interaction', 'expr_pattern', 'bounded_by', 'tf'],
        columns = {
            name => 'Feature',
            description => 'Description',
            method => 'Method',
            interaction => '<div style="width:12em">Interaction</div>',
            expr_pattern => '<div style="width:10em">Drives expression in</div>'
            bounded_by => 'Bound by',
            tf => 'Transcription factor'
        },
        passed_data = fields.features.data,
        separator = ';<br/>'
    );
                   #       key = 'gene_models_constructed' );



%]