[%
IF object.name.data.class == 'protein';

    WRAPPER $field_block title="Curatorial History" key="history";
        build_data_table(
            order=['version','event','prediction'],
            columns={
                prediction => 'Predicted gene',
                event      => 'Event',
                version    => 'Release',
            },
            key='history'
        );
    END;

ELSE;
    WRAPPER $field_block title="Curatorial History" key="history";
		build_data_table(
			order=['version','date','action','remark','gene','curator'],
            columns={
				version => 'Version',
				date    => 'Date',
			    action  => 'Action',
 				remark  => 'Remark',
				gene    => 'Gene',
				curator => 'Curator'
            },
			key='history'
		);
    END;

    WRAPPER $field_block title="Curatorial History" key="history_lite";
		build_data_table(
			order=['action','remark'],
            columns={
			    action  => 'Action',
 				remark  => 'Remark'
            },
			key='history_lite'
		);
    END;

	WRAPPER $field_block title="Curatorial Annotations" key="old_annot";
		build_data_table(
			order=['class','name'],
			columns={
				class	=> 'Class',
				name	=> 'Name'
			},
			key = 'old_annot'
		);
	END;

END;

%]