[%


    IF class.match('variation');
        WRAPPER $field_block title="Comparative info";
            agr_explore_link('WB:' _ fields.name.data.id _ '#disease-associations', 'allele');
        END;
    ELSIF class.match('transgene');
        WRAPPER $field_block title="Comparative info";
            agr_explore_link('WB:' _ fields.name.data.id _ '#disease-associations', 'transgene');
        END;
    ELSE;
        WRAPPER $field_block title=pluralize("Disease associations", fields.detailed_disease_model.data) key="detailed_disease_model";
            build_human_diseases_table;
        END;
    END;

%]



