[%

    class = object.name.data.class FILTER lower;
    # Transcripts lone class not placed on genetic map
    UNLESS class.match('transcript') || fields.genomic_position.data;
     '<div style="white-space:nowrap;"';
    WRAPPER $field_block title="Genetic position" key="genetic_position";
      IF fields.genetic_position.data;
        positions = ref(fields.genetic_position.data) == 'ARRAY' ? fields.genetic_position.data : [fields.genetic_position.data];
        FOREACH position IN positions;
          IF position.chromosome;
                 position.formatted;
                 IF position.method;
                      ' (' _ position.method _ ')';
                 END;
          ELSE;
               '<div class="caveat-emptor">This ' _ class _ ' has not been placed on the genetic map or its coordinates are unknown.</div>';
          END;
        END;
      ELSE;
               '<div class="caveat-emptor">This ' _ class _ ' has not been placed on the genetic map or its coordinates are unknown.</div>';
      END;
    END;
     '</div>';
    END;

    IF fields.genomic_position.data;
             # label=  fields.genomic_position.data.chromosome _ ":" _ fields.genomic_position.data.start _ ".." _ fields.genomic_position.data.stop
       	       FOREACH position IN fields.genomic_position.data;
                 idx = loop.index();

                 IF idx > 0;
                   '<hr />';
                 END;

                 # Transcripts lone class not placed on genetic map
                 UNLESS class.match('transcript');
                   '<div style="white-space:nowrap;"';
                 WRAPPER $field_block title="Genetic position" key="genetic_position";
                   genetic_position = fields.genetic_position.data.$idx;
                   UNLESS genetic_position;
                     genetic_position = fields.genetic_position.data;
                   END;
                   IF genetic_position;
                     IF genetic_position.chromosome;
                       genetic_position.formatted;
                       IF genetic_position.method;
                         ' (' _ genetic_position.method _ ')';
                       END;
                     ELSE;
                       '<div class="caveat-emptor">This ' _ class _ ' has not been placed on the genetic map or its coordinates are unknown.</div>';
                     END;
                   ELSE;
                       '<div class="caveat-emptor">This ' _ class _ ' has not been placed on the genetic map or its coordinates are unknown.</div>';
                   END;
                 END;
                 '</div>';
                 END;


                 WRAPPER $field_block title="Genomic position" key="genomic_position";

                   #jbrowselink(position, undef, undef, fields.jbrowse_tracks.data);
                   jbrowse2link(position, undef, undef, fields.jbrowse_tracks.data);
                   UNLESS loop.last;
     	                 ',&nbsp;';
                   END;
     	         END;

                 '<div style="clear:both;">';
                 IF ref(fields.genomic_image.data) == 'ARRAY';
                   genomic_image = fields.genomic_image.data.$idx;
                 ELSE;
                   genomic_image = fields.genomic_image.data;
                 END;

                 img_url = gbrowse_url(genomic_image.taxonomy, genomic_image.id, '', 1);
                 IF fields.tracks.data;
                   img_url = img_url _ ';t=' _ fields.tracks.data.join(';t=');
                 END;
                 WRAPPER $field_block title="Genome Browser";
                    '<span>Launch full Genome Browser window </span>';
                    jbrowse2link(position, undef, undef, fields.jbrowse_tracks.data);
                    '<span><i><br />JBrowse 2-driven fully functional genome browser. Explore via the menu in the upper left corner</i></span>';
                    jbrowse2_view(position);
                 END;
                 '<br /><br />';

                 WRAPPER toggle title="Legacy Genome Browser image";
                    '<span>JBrowse 1</span>';
                    jbrowse_view(position, undef, fields.jbrowse_tracks.data, fields.name.data.class == 'pcr_oligo' ? {tracklabels => 0} : {});
                 END;
                 '</div>';
               END;
    ELSE;
        WRAPPER $field_block title="Genomic position";
                  '<div class="caveat-emptor">This ' _ class _ ' has not been placed on the physical map or its coordinates are unknown.</div>';
        END;
    END;

    '<div style="clear:both;">';
    IF fields.genomic_image.data && !fields.genomic_position.data;
             # setting vars up
             # Will need to have gbrowse installed and (perhaps) proxied by nginx for this URL to work.
             img_url = gbrowse_url(fields.genomic_image.data.taxonomy, fields.genomic_image.data.id, '', 1);
             IF fields.tracks.data;
                 img_url = img_url _ ';t=' _ fields.tracks.data.join(';t=');
             END;
             '<br><br>';
             tag2link(fields.genomic_image.data, image(img_url));
     END;
     '</div>';
%]
