[% link='/tools/ontology_browser/run?inline=1&class=' _ object.name.data.class _ '&name=' _ object.name.data.id  %]
   <div id="o_browser"></div>

<script>
  WB.ajaxGet($jq("#o_browser"), "[% link %]");
</script>