[%

# Movies
WRAPPER $field_block title="Movies" key="movies";
    FOREACH item IN fields.movies.data;
        embed_video(item, 1);
    END;
END;

%]

[%

  # TODO: add a download button or note eg. "right click to save movie", movie may not play under linux, use gecko-mediaplayer instead of totem
%]
