[%

# Movies
WRAPPER $field_block title="Movies" key="movies";
    FOREACH item IN fields.movies.data;

    WRAPPER toggle title='<a href="http://www.rnai.org/movies/' _ item.file _ '">' _ item.label _ '</a>'  open=1;
            embed_video(get_url(item.class, item.id));
    END;

    END;
END;

%]

[%

  # TODO: add a download button or note eg. "right click to save movie", movie may not play under linux, use gecko-mediaplayer instead of totem
%]
