[%# breadcrumbs.tt2 - a navigational element to show
    not only where users (may) have been, but where
    they can go, too.
    
    This borrows conceptually from the classic contextual
    navbar. Presentation includes the NAME of the page
    hyperlinked to the default version of the page as well
    as the page linked with the current object. Layout
    follows the central dogma.
%]

[% FOREACH target IN c.config.navigation %]


[% END %]