<!-- the contextual navbar -->
<table class="searchtitle" border="0" width="100%">
      <tr valign="bottom">

  <td class="small" align="center">
       <font color="red">
           [% class FILTER ucfirst %] Summary
       </font>
  </td>

  [% IF class.search("variation") %]
       <td class="small" align="center">
               <a target="_top" href="/db/gene/gene?name=[% name %];class=[% class %]">Gene Summary</a>
       </td>

       <td class="small" align="center">
               <a target="_top" href="/db/gene/locus?name=[% name %];class=[% class %]">Locus Summary</a>
       </td>

       <td class="small" align="center">
               <a target="_top" href="/db/gb2/gbrowse/c_elegans?name=[% name %];class=[% class %]">Genome Browser</a>
       </td>

  [% END %]  
 

   [%# Default navbar elements %]
   <td class="small" align="center">
           <a target="_top" href="/db/misc/etree?name=[% name %];class=[% class %]">Tree Display</a>
    </td>
   <td class="small" align="center">
         <a target="_top" href="/db/misc/xml?name=[% name %];class=[% class %]">XML</a>
   </td>
   <td class="small" align="center">
         <a target="_top" href="/db/misc/model?name=[% name %];class=[% class %]">Schema</a>
   </td>
   <td class="small" align="center">
         <a target="_top" href="/db/misc/epic?name=[% name %];class=[% class %]">Acedb Image</a>
   </td>
    </tr>
</table>

<br />





