[%# The per-page horizontal table of contents, called from report.tt2 %]

<div align="center"><table><tr>
   [% FOREACH widget IN widgets %]
        <th><a href="#[%- widget.name -%]">[[% widget.title FILTER lower %]]</a></th> 
   [% END %]
</tr></table></div>
