[%

WRAPPER $field_block title="Gene Classes" key="all_gene_classes";

   build_data_table(order=['gene_class','laboratory','description','phenotype','genes'],
                    columns={ gene_class     => 'Gene Class',
		    	      laboratory     => 'Laboratory',
		              description    => 'Description',
			      phenotype      => 'Phenotype',
			      genes          => 'Number of Genes',
			      },
                    key='all_gene_classes'); 
END;

%]