[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% MACRO genes_by_species BLOCK;


   # loop through each element in <subroutine>.<return_data_key>.<... to array data> array
   # One table for each species
   FOREACH species IN fields.$key.data.keys.sort;

          WRAPPER $field_block title="" key="$key";

 	  # declare array of columns named via keys in the data structure
	  order = ['species','locus', 'sequence'];
	
	  # declare hash for column headers, keyed as above
	  headers = {	species  => 'Species',
			locus    => 'Locus',
			sequence => 'Sequence' };	  
		
          # declare rows array
          rows = [];

          FOREACH r IN fields.$key.data.$species;
      	       row = [];
	       row.push(r.species);
               row.push(tag2link(r.locus));
               row.push(r.sequence);
				
	       # enter data row array into rows
               rows.push(row);
	  END;
	  	  	  
   	  # populate name array;
	  names = [];
	  FOREACH o IN order; names.push(headers.$o); END;
          table_count = table_count + 1;

	  # generate table
          IF species == "Caenorhabditis elegans";
             '<div class="toggle" style="display:block">';

          ELSE;
             '<div class="toggle">';
	  END;
	  
   	  '<span class="species">' _ species _ '</span></div>';
          '<div class="returned">';
          dataTable_list(names, rows, "table_${table_count}");
          '</div>';         

	END; # END of WRAPPER
    END; # END of SPECIES
  END; # END of MACRO
%]

[% genes_by_species(title="Genes" key="genes") %]


