[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


        <h1>[% tag2link(fields.name.data) %]</h1><br>

 
      	[% WRAPPER $field_block title="Designating Lab"-%] 
            [% tag2link(fields.laboratory.data) %]
   [% END %]
   
      	[% WRAPPER $field_block title="Description"-%] 
            [% fields.description.data %]
   [% END %]
   
   
      	[% WRAPPER $field_block title="Phenotype"-%] 
            [% fields.phenotype.data ##tag2link()  %]
   [% END %]

      	[% WRAPPER $field_block title="Other name"-%] 
            [% fields.other_name.data %]
   [% END %]
<div class="details ui-corner-all">


	[% WRAPPER $field_block title="Wormbase ID"-%] 
            [% tag2link(fields.id.data) %]
   [% END %]
         

</div>