[% mytitle = "Previous <b>" _ object.name.data.id _ "</b> Genes";
    gene_list_by_species(title="$mytitle" key="former_genes") %]

[% mytitle = "Reassigned <b>" _ object.name.data.id _ "</b> Genes";
    gene_list_by_species(title="$mytitle" key="reassigned_genes") %]
