[%
    breadcrumbs = [];
    breadcrumbs.push('<a href="'_ c.uri_for('/about') _ '">About</a>');
    breadcrumbs.push('<a href="'_ c.uri_for('/about','userguide') _ '">Userguide</a>');

    breadcrumbs.push('<a href="'_ c.uri_for('/about','userguide','for_developers') _ '">For Developers</a>');
    breadcrumbs.push('<span>RESTful API</span>');
    title = breadcrumbs.join(" &raquo; ");

    report_page("WormBase RESTful API Documentation");

%]

