
<entry><h3>What's popular on WormBase:</h3></entry>
[% results = c.stash.popular %]
[% PROCESS "search/results.tt2" no_count=1%]

<br />
<br />

<entry><h3>Recently saved by others on WormBase:</h3></entry>
[% results = c.stash.recent %]
[% PROCESS "search/results.tt2" no_count=1%]

  
[% PROCESS "shared/generic/how_to_star.tt2" %]