
[% IF c.stash.comments.size == 0 %]
No comments currently!
[% ELSE %]

  [% FOREACH cm IN c.stash.comments %]
    <div class="entry"> 
      [% cm.time_lapse %] by <a href="">[% cm.people %]</a> - 
      [% array=cm.location.split('/') %]
      [% text2link(array.3,array.4, array.6 _ ' ' _ array.3 _ ' page (' _ array.5 _ ')') %]<br />
      [% cm.content %]
    </div>
  [% END %]

  <a href="[% c.uri_for('/tools/comments') %]">View More ›</a>
[% END %]