[% BLOCK release_widget_field_block %]
    <div class="release-widget--field">
    [% IF fields.$key %]
        <h4 class="release-widget--field--title">[% title %]:</h4>
        [% content %]
    [% ELSE %]
        <p class="fade"><em>There are no [% title %] in this release.</em></p>
    [% END %]
    </div>
[% END %]

[%
IF error && error.collapse;
    '<em>Sorry, we encountered a problem with fetching change information. Please check back later.</em>';
ELSE;

WRAPPER release_widget_field_block title="Genes with changed approved names" key="Genes_with_changed_CGC_names";
build_data_table(
    order = [
          'old_CGC',
          'new_gene',
          'new_SequenceID'
        ]
    columns = {
        'old_CGC' => 'Old approved name',
        'new_gene' => 'New approved name',
        'new_SequenceID' => 'Sequence'
    },
    key = 'Genes_with_changed_CGC_names');
END;

WRAPPER release_widget_field_block title="Genes with new approved names" key="new_CGC_names";
build_data_table(
    order = [
          'new_gene',
          'new_SequenceID'
        ]
    columns = {
        'new_Biotype' => 'Biotype',
        'new_SequenceID' => 'Sequence',
        'new_gene' => 'New approved name'
    },
    key = 'new_CGC_names');
END;

WRAPPER release_widget_field_block title="Removed approved names" key="removed_CGC_names";
build_data_table(
    order = [
          'old_CGC',
          'old_SequenceID',
          'old_Biotype'
        ]
    columns = {
        'old_CGC' => 'Old approved name',
        'old_SequenceID' => 'Old sequence',
        'old_GeneID' => 'Old gene ID',
        'old_Biotype' => 'Old biotype'
    },
    key = 'removed_CGC_names');
END;

WRAPPER release_widget_field_block title="Biotype changes" key="Biotype_changed";
build_data_table(
    order = [
          'new_gene',
          'new_SequenceID',
          'old_Biotype',
          'new_Biotype'
        ]
    columns = {
        'new_gene' => 'Gene',
        'new_SequenceID' => 'Sequence',
        'new_Biotype' => 'New biotype',
        'old_Biotype' => 'Old biotype'
    },
    key = 'Biotype_changed');
END;

END;



# available columns
# 'new_gene',    # programmatically added field
# 'old_CGC',
# 'old_GeneID',
# 'old_SequenceID',
# 'old_Biotype',
# 'new_CGC',
# 'new_GeneID',
# 'new_SequenceID',
# 'new_Biotype'

# available fields
# $VAR1 = 'new_CGC_names';
# $VAR2 = 'Biotype_changed';
# $VAR3 = 'assigned_Gene_changed';
# $VAR4 = 'removed_CGC_names';
# $VAR5 = 'Genes_with_changed_CGC_names';
# $VAR6 = 'other_changes';
%]
