[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]

[% widget = widget %]
 
GO terms associated with this phenotype:<br>
   &nbsp;[% short_list(fields.go_term.data.aaData) %]

[% # WRAPPER $field_block  title="" key="go_term" %]

[% # END %]