[%# widget = c.stash.widget %]

[%# widget = widget %]
 
[%# base = c.req.base %] 
[%# base_elements = base.split('/') %]
 
[% link='/tools/ontology_browser/run?inline=1&class=phenotype&name=' _ object.name.data.id  %]
     <iframe name ="browser" src="[% link %]" width ="100%" height ="300" />
      </iframe>  