[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[%

IF fields.rnai.data.defined;

    WRAPPER $field_block  title="" key="rnai";
       '<span class="caveat-emptor">Gene knockdown via RNAi results in the ' 
               _ tag2link(object.name.data) _ ' phenotype in these experiments.</span>';

	build_data_table (
		order = [ 
			'rnai',
			'species',
			'sequence',
			'strain',
			'genotype',			
			'treatment'
			],
		columns = {				 		
			rnai => 'RNAi',
			species => 'Species',
			sequence => 'Sequence',
			strain  => 'Strain',
			genotype => 'Genotype',
			treatment => 'Treatment'
			},
		key = 'rnai');
    END;	

ELSE;

    '<span class="caveat-emptor">No gene knockdown experiments have noted this phenotype.</span>';

END;

IF fields.rnai_not.data.defined;

    WRAPPER $field_block  title="" key="rnai_not";
       '<span class="caveat-emptor">Gene knockdown via RNAi DOES NOT result in the ' _ tag2link(object.name.data) _ ' phenotype in these experiments.</span>';
	
	build_data_table (
		order = [ 
			'rnai',
			'species',
			'sequence',
			'strain',
			'genotype',
			'treatment'
			],
		columns = {				 		
			rnai => 'RNAi',
			species => 'Species',
			sequence => 'Sequence',
			strain   => 'Strain',
			genotype => 'Genotype',
			treatment => 'Treatment'
			},
		key = 'rnai_not');
     END;

END;

%]