[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% widget = c.stash.widget %]

[% widget = widget %]
 

[% WRAPPER $field_block  title="phenotype observed in the Transgene entries" key="transgene" %]
    [% object_list(fields.transgene.data.aaData) %]
[% END %]