<h2>[% tag2link(fields.name.data) %]</h2>

[% 

class = fields.name.data.class;
  
WRAPPER highlight_box;


END;



WRAPPER $field_block title='Contained In' key='canonical_parent';
  tag2link(fields.canonical_parent.data);
END;

IF fields.oligos.data;
      left  = fields.oligos.data.0; 
      right = fields.oligos.data.1;
      IF left.obj.id.match('_b$'); tmp = left; left = right; right = tmp; END; # SWAP

      WRAPPER $field_block title='Left Oligo' key='';
         tag2link(left.obj) _ ': ' _ left.sequence;
      END;
   
      WRAPPER $field_block title='Right Oligo' key='';
          tag2link(right.obj) _ ': ' _ right.sequence;
      END;
END;

WRAPPER $field_block title='Amplicon size' key='segment';
     IF fields.segment.data; fields.segment.data.length; END;
END;

WRAPPER $field_block title=(pluralize('Gene', fields.overlapping_genes.data.size) _
           ' Overlapping the Amplicon') key='overlapping_genes';
   link_objects(fields.overlapping_genes.data);
END;

WRAPPER $field_block title=pluralize('Overlaps CDS', fields.overlaps_CDS.data.size) key='overlaps_CDS';
    link_objects(fields.overlaps_CDS.data);
END;

WRAPPER $field_block title=pluralize('Overlaps transcript', fields.overlaps_transcript.data.size) key='overlaps_transcript';
    link_objects(fields.overlaps_transcript.data);
END;

WRAPPER $field_block title=pluralize('Overlaps pseudogene', fields.overlaps_pseudogene.data.size) key='overlaps_pseudogene';
   link_objects(fields.overlaps_pseudogene.data);
END;

WRAPPER $field_block title=pluralize('Overlaps variation', fields.overlaps_variation.data.size) key='overlaps_variation';
   link_objects(fields.overlaps_variation.data);
END;

WRAPPER $field_block title='Amplified cDNA?' key='amplified';
   IF fields.amplified.data;
   	  'Yes (' _ fields.amplified.data _ 'X)';
   ELSE;
   	  'No';
   END ;
END;

# TODO: the following should be in details box 
WRAPPER $field_block title='ORFeome Project' key='on_orfeome_project';
   '<a href="..' _  fields.on_orfeome_project.data _ '">' _ fields.on_orfeome_project.data _ '</a>';
END;


remarks;

# TODO: more class-specific logic;
IF class == 'PCR_product';
    WRAPPER $field_block title=pluralize('Locus', fields.SNP_loci.data.size) key='SNP_loci';
         'PCR product spans ' _ fields.SNP_loci.data.size _ ' SNPs:';
         loci = [];
         FOREACH locus IN fields.SNP_loci.data; loci.push(tag2link(locus)); END;
             loci.join(', ');
    END;

   laboratory;

   WRAPPER $field_block title='Microarray results' key='microarray_results';
       link_objects(fields.microarray_results.data);
    END;

    WRAPPER $field_block title='Assay conditions' key='assay_conditions';
         fields.assay_conditions.data;
    END;
END;

# TODO: logic for product on ORFeome project;

%]
