



SEE ALSO:

http://wiki.wormbase.org/index.php/Reagents



<div id="resources">

<h2>Nomenclature</h2>
<p>
There are seven different types of "Clone" objects in WormBase. 
Although WormBase does not provide clones many of these can be
 ordered directly from independent sources.
</p>
<p>
<table border="1">
   <tr><th bgcolor="gray">Type</th>
       <th bgcolor="gray">Nomenclature</th>
   </tr>
   <tr>
      <td>Cosmid</td>
      <td>A*, B*, C*, D*, F*,J*,K*,M*,R*,T*,W*,Z*</td>
  </tr>
  <tr>
      <td>Fosmid</td>
      <td>H* WRM*</td>
  </tr>
  <tr>
      <td>YAC</td>
      <td>Y*</td>
  </tr>
  <tr>
      <td>cDNA</td>
      <td>yk*, EC*, EB*, OST*, CK*, EF*, CEE*, CEM*, CES*, CB*, CN*, cm*</td>
  </tr>
  <tr>
      <td>Plasmid: PCR clones</td>
      <td>V*,EGAP*</td>
  </tr>
  <tr>
      <td>Other</td>   
      <td>telo clones, 1 BAC, plasmid</td>
  </tr>
</table>
</p>

<h2>Fosmids</h2>

<h3>C. elegans fosmids from the Moerman library</h3>

<p>
<a href="http://www.lifesciences.sourcebioscience.com/">Source BioScience LifeSciences</a> is a leading provider of genomic services and products to the life sciences market. 
</p>
<p>
They are the distributors of <a target="_blank" href="http://www.lifesciences.sourcebioscience.com/clone-products/genomic-dna-clones/c-elegans-fosmid-library-.aspx">Don Moerman's C.elegans fosmid library</a>.
</p>
<p>
<a target="_blank" href="http://elegans.bcgsc.bc.ca/perl/fosmid/CloneSearch/">Search for your clone</a>. 
</p>

<b>Nomenclature</b>
<p>
<table border="1">
<tr>
<td>Example </td>
<td>WRM prefix </td>
<td>Plate No. </td>
<td>Filter (a,b,c,d) </td>
<td>Plate Position</td>
</tr>
<tr>
<td>WRM069bF08</td>
<td>WRM </td>
<td>069 </td>
<td>b </td>
<td>F08</td>
</tr>
<tr>
<td>WRM069cF08</td> 
<td>WRM </td>
<td>069 </td>
<td>c </td>
<td>F08</td>
</tr>
<tr>
<td>WRM069dF08 </td>
<td>WRM </td>
<td>069</td>
<td>d</td>
<td>F08</td>
</tr></table>
</p>


<b>Library info</b>

<table border="1">
|-
| Library Details 
| C. elegans Fosmid Library
|-
| Library Plate numbers 
| 061-069 0610-0641 (41)
|-
| Number of clones 
| 12874 (verified) 15744 (total)
|-
| [http://en.wikipedia.org/wiki/Microtiter_plate Plate Format] 
| 384
|-
| Source material 
| [http://en.wikipedia.org/wiki/Nematode nematode] total organism
|-
| Strain 
| N2
|-
| Vector 
| [http://www.geneservice.co.uk/products/clones/datasheets/Celegans_Fos/vector.jsp pCC1FOS] (Epicentre)
|-
| Host 
| maintained at low copy number until induced.
|-
| Average insert size 
| 43.3kB
|-
| Cloning site 
| &nbsp;?
|-
| Genomic coverage 
| 5.74X (86.7% correct paired ends)<br>
|-
| Creator 
| [http://www.zoology.ubc.ca/~alorch/homepage.php Don Moerman] et al
|-
| Stock center 
| [http://www.geneservice.co.uk/products/clones/Celegans_Fos.jsp GeneService<br>]
|}


<h4>C. elegans fosmids from the Incyte Genomics Inc. fosmid library.</h4>

<p>
This is an old fosmid library that was lost for quite some time. 
29 of these fosmids were used in the C. elegans sequencing project 
to fill holes left in the cosmid assembly. 
</p>

<p>
These clones can be requested from the Sanger Centre at the links listed below.
</p>

<p>
<b>Nomenclature</b>

<table border="1">
<tr>
<th>Example </th>
<th>H prefix </th>
<th>Plate No. </th>
<th>Well pos.</th>
</tr>
<tr>
<td>H27D07 </td>
<td>H </td>
<td>27 </td>
<td>d07</td>
</tr>
<tr>
<td>H30E23 </td>
<td>H </td>
<td>30 </td>
<td>e23</td>
</tr>
</table>
</p>

<p>
<b>Library info</b>

Easy to Screen High-Density Filters, created 1 November 2000, sold by Incyte Genomics Inc.
</p>

<table border="1">
<tr>
<th>Library Details</th>
<td>Fosmid C. elegans</td>
</tr>
<tr>
<th>Library Plate numbers</th>
<td>1-43, 1-5</td>
</tr>
<tr>
<th>Number of clones </th>
<td>16,512</td>
</tr>
<tr>
<th><a target="_blank" href="http://en.wikipedia.org/wiki/Microtiter_plate"> Plate Format</a> </th>
<td>384</td>
</tr>
<tr>
<th>Source material 
<td><a target="_blank" href="http://en.wikipedia.org/wiki/Nematode">nematode</> total organism</th></td>
</tr>
<tr>
<th>Strain </th>
<td>N2</td>
</tr>
<tr>
<th>Vector </th>
<td><a target="_blank" href="http://www.neb.com/nebecomm/tech_reference/restriction_enzymes/maps/pFOS1_map.pdf">pFOS1</a></td>
</tr>
<tr>
<th>Host </th>
<td>XL1 Blu MR</td>
</tr>
<tr>
<th>Average insert size </th>
<td>40 kb</td>
</tr>
<tr>
<th>Cloning site </th>
<td>BamHI</td>
</tr>
<tr>
<th>Genomic coverage </th>
<td>6.6x</td>
</tr>
<tr>
<th>Creator</th>
<td>Stephanie Chissoe</td>
</tr>
<tr>
<th>Stock center </th>
<td><a target="_blank" href="http://genome.wustl.edu/">G.S.C. St. Louis</td>
</tr></table>




<h3>YACs</h3>

Specific YAC information can be found in these publications:

[http://www.nature.com/doifinder/10.1038/335184a0 Nature. 1988 Sep 8;335(6186):184-6. Genome linking with yeast artificial chromosomes. Coulson A, Waterston R, Kiff J, Sulston J, Kohara Y.]

[http://www.sciencemag.org/cgi/content/abstract/236/4803/806 science 1987 May 15;236(806-812) Cloning of large segments of exogenous DNA into yeast by means of artificial chromosome vectors.   DT Burke, GF Carle, and MV Olson]

<b><font color=blue size=4>Note</font></b> When ordering YAC clones.<br>
Suffixes appended to YAC names (e.g. Y73B3A, Y73B3B) indicate sequenced segments of the YAC that have been used to bridge gaps between finished Cosmids<br>
<br>
They do not exist as subclones so you will be sent the whole YAC.<br> 

<center>
http://wormbase.sanger.ac.uk/wiki_pics/yac.png
</center>
<br>







<h3>Ordering Clones</h3>

Most Cosmids, Fosmids, and YACs can be requested from The Wellcome Trust Sanger Centre via <a target="_blank" href=http://www.sanger.ac.uk/technology/clonerequests/">this web form</a>.

Details are then automatically forwarded to [mailto:archives@sanger.ac.uk Anne Angell].  Please do not send request directly to this address.
<b><font color=red size=4>Important!</font></b><br>
'''Please remember to include a [http://fedex.com/gb/account/ http://wormbase.sanger.ac.uk/wiki_pics/fedex.jpeg] <b>or</b> [http://www.dhl.co.uk/publish/gb/en/eshipping/open_a_dhl_account.high.html http://wormbase.sanger.ac.uk/wiki_pics/dhl.jpeg] Account number''' to which shipping cost can be charged. 



OTHER CLONES
----------------
cDNA (yk*) from Dr. Yuji Kohara. 

The EGAP* plasmids can be obtained from MRC Geneservice. 

WRM [http://wiki.wormbase.org/index.php/Fosmids Vancouver_fosmid]

'''The V* plasmids are no longer available.'''




*C. briggsae genomic clones: [http://bacpac.chori.org/library.php?id=26 information] | [http://bacpac.chori.org/ordering_information.htm ordering] 
*[http://www.its.caltech.edu/~wormbase/userguide/OtherResource/ObtainingReagents.html#ykest YK EST clones]








<h2>Constructs</h2>

*Fire vectors [ftp://ftp.wormbase.org/pub/wormbase/datasets/fire_vectors/ Full list] | [http://www.addgene.org/Andrew_Fire purchase (AddGene)]


<h3>Vector Sequences</h3>
</u>
{| border="1" class="wikitable"
| bgcolor="gray" | Clone series || bgcolor="gray" | Vector Sequence || bgcolor="gray" | Comment || bgcolor="gray" | Vector publication || bgcolor="gray" | NCBI/DB Accession
|- 
| A || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lambda.seq Lambda 2001?] || <i>Sau</i>3A1 partial || [http://www.ncbi.nlm.nih.gov/pubmed/6099311 Gene.  1984 Dec;32(1-2):217-24.] || [http://genome-www.stanford.edu/vectordb/vector_descrip/NOTCOMPL/LAM2001.SEQ.html Vector db]
|- 
| ZL || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lambda.seq Lambda 2001?] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/6099311 Gene.  1984 Dec;32(1-2):217-24.] || [http://genome-www.stanford.edu/vectordb/vector_descrip/NOTCOMPL/LAM2001.SEQ.html Vector db]
|- 
| YSL || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lambda.seq Lambda 2001?] || <i>Sau</i>3A1 partial, YAC subclones || [http://www.ncbi.nlm.nih.gov/pubmed/6099311 Gene.  1984 Dec;32(1-2):217-24.] || [http://genome-www.stanford.edu/vectordb/vector_descrip/NOTCOMPL/LAM2001.SEQ.html Vector db]
|- 
| B || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Sau</i>3A1 partial || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612]
|- 
| C || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Sau</i>3A1 partial, microtitre array || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612] 
|- 
| D || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Sau</i>3A1 partial, filter gridded || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612]
|- 
| E || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Sau</i>3A1 partial, <i>Eco</i>K- host || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612]
|- 
| R || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Eco</i>R1 partial || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612] 
|- 
| M || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Mbo</i>1 partial || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612]
|- 
| ZC || | [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pjb8.seq pJB8] || <i>Eco</i>R1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed?term=burke%20ish%20horowicz%201981&cmd=correctspelling Nucleic Acids Res. 1981 Jul 10;9(13):2989-98.]  || [http://www.ncbi.nlm.nih.gov/nuccore/X98612 X98612]
|- 
| K || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/loristB.seq loristB] || <i>Sau</i>3A1 partial || [http://www.ncbi.nlm.nih.gov/pubmed/3552884 Gene.  1986;49(1):9-22.] || [http://www.ncbi.nlm.nih.gov/nuccore/3319652 X98613]
|- 
| T || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| W || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Not</i>I complete, <i>Sau</i>3A1 partial  || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| F 1-28 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| F 29 on || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 15-56 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 57-130 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK131-164 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 165-177 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 178-192 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 193-344 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 345-354 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 355-514 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 515-552 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 553-596 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 597-616 || lorist || <i>Sau</i>3A1 partial, probe selected || ||
|- 
| ZK 617-626 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 627-692 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|- 
| ZK 693-756 || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist2.seq lorist2] || <i>Sau</i>3A1 partial, probe selected  || [http://www.ncbi.nlm.nih.gov/pubmed/3301536 Gene.  1987;53(2-3):275-81.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98409.1 X98409]
|- 
| ZK 757 on || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/lorist6.seq lorist6] || <i>Sau</i>3A1 partial, probe selected || [http://www.ncbi.nlm.nih.gov/pubmed/3038694 Gene.  1987;53(2-3):283-6.] || [http://www.ncbi.nlm.nih.gov/nuccore/X98450.1 X98450]
|-
| Y || [ftp://ftp.sanger.ac.uk/pub/vector_sequences/pYAC4.seq pYAC4] || || [http://www.ncbi.nlm.nih.gov/pubmed/8163163 Gene.  1994 Apr 8;141(1):125-7.] || [http://www.ncbi.nlm.nih.gov/nuccore/401849 XXU01086] [http://genome-www.stanford.edu/vectordb/vector_descrip/PYAC4.html Vector db]
|}





=== Protocols and Methods ===
</u>
The Protocols and methods used when generating the Physical Map of C. elegans and the Genome Sequencing Project can be found in this book chapter [[http://books.google.co.uk/books?id=AUxd_e4mzHIC&pg=PA538&lpg=PA538&dq=pJB8&source=bl&ots=ViMao3y2x3&sig=QXZxjqVNC6u99qDsOEloaN-i1Us&hl=en&ei=HbxFTIfMOIPO4gaim8T7CQ&sa=X&oi=book_result&ct=result&resnum=9&ved=0CDIQ6AEwCA#v=onepage&q=pJB8&f=false Methods in cell biology, Volume 48]


===Clone ends within wormbase===
</u>
The set of clone ends is dumped as part of the gff files: 

[http://www.sanger.ac.uk/Projects/C_elegans/WORMBASE/GFF_files.shtml http://www.sanger.ac.uk/Projects/C_elegans/WORMBASE/GFF_files.shtml] 

This is the source for the extents displayed in WormBase. 

The caveat with this is that the 'true' end is not marked up for all clones. The early cosmids do not have such annotations because nobody thought about marking them up. Later cosmids do have clone left and right ends as this became part of the standard procedure. Finally, many of the YACs do not have clone ends because the segment submitted to GenBank/EMBL is much smaller than the full clone, and hence the true ends lie within sequences already finished at that stage of the sequencing (i.e. we never went back to update clone ends in sequence already finished). 







SOURCEs from the wiki
http://wiki.wormbase.org/index.php/Cosmids/YACs
* C. elegans [[Fosmids]]
