<h2>Microarrays</h2>

*[http://www.affymetrix.com/products/arrays/specific/celegans.affx Affymetrix] 
*[http://www.chem.agilent.com/Scripts/PDS.asp?lPage=29452 Agilent] 
*[http://genome.wustl.edu/genome/celegans/microarray/ma_gen_info.cgi WUSTL]

