<div id="resources">
<h2>Clone Libraries</h2>

*[http://www.lifesciences.sourcebioscience.com/clone-products/mirna--rnai-resources.aspx RNAi libraries (Source BioScience)]
*[http://www.openbiosystems.com/GeneExpression/Non-Mammalian/Worm/CelegansORF-RNAi/ RNAi libraries (Open BioSystems)]
*[http://www.openbiosystems.com/GeneExpression/Non-Mammalian/Worm/C_%20elegans%20ORFs/ Orfeome v1.1 (Open BioSystems)]
*[http://www.openbiosystems.com/GeneExpression/Non-Mammalian/Worm/CelegansPromoters/ Promoterome (Open BioSystems)]
*[http://www.openbiosystems.com/GeneExpression/Non-Mammalian/Worm/TranscriptionFactors/ Transcription Factor Clones (Open BioSystems)]
</div>