Source: 



The ''Caenorhabditis'' Genetics Center ([http://www.cbs.umn.edu/CGC/CGChomepage.htm CGC]) is supported by the National Institutes of Health - National Center for Research Resources. The CGC has been in operation since 1978, first at the University of Missouri, Columbia and since 1992 at the University of Minnesota, Twin Cities. 

Ann Rougvie is the director; Theresa Stiernagle is the curator. The CGC collects, maintains, and distributes stocks of ''C. elegans''. 

*[http://www.cbs.umn.edu/CGC/order.html How to order strains] 
*[http://biosci.umn.edu/CGC/strains/ CGC strains] 
*[http://wormbase.org/db/gene/strain CGC strain list] (searchable‚ takes you to WormBase). 
*[http://biosci.umn.edu/CGC/strains/recent.html Recent additions to the CGC strain collection] (may contain strains not yet listed in Wormbase). 
*[http://biosci.umn.edu/CGC/strains/gophstrnt.txt Strain list: one big text file] (may contain strains not yet listed in Wormbase). 
*[http://biosci.umn.edu/CGC/strains/send.html Sending strains to the CGC] 
*[http://biosci.umn.edu/CGC/strains/wild.html Wild Caenorhabditis strains] 
*[http://biosci.umn.edu/CGC/strains/non.html Non-Caenorhabditis species] 
*[http://biosci.umn.edu/CGC/strains/acknowledge.html Acknowledging the CGC]




*Knockouts: [http://celeganskoconsortium.omrf.org/ KO Consortium] | [http://shigen.lab.nig.ac.jp/c.elegans/index.jsp NBP-Japan] | [http://pbil.univ-lyon1.fr/segalat/data/mos.php NemaGENETAG Mos insertions] |
