[% SET class    = 'advisory_board' %]
  [% title = "Advisory Board"  %]

  [% widgets = [] %]
  [% widgets.push({ title="Page Contents" type="title"}) %]
  [% widget_list = ['members','alumni'] %]

  [% FOREACH widget_name IN widget_list -%]
    [% t = widget_name FILTER ucfirst %]
    [% w = { id = widget_name
             title = t
             href =  c.uri_for('/resources','advisory_board', widget_name)
             type = 'resources'
            };
    %]
    [% widgets.push(w) %]
  [% END %]

  [%# Add the sidebar %]
  [% PROCESS "shared/sidebar_structure.tt2" widgets=widgets %]


    <script>
      
  [% UNLESS c.user_session.layout.$class.defined %]
    $jq("#nav-members").trigger('open');
    updateLayout();
  [% END %]

    </script>


