[% SET class    = 'reagents' %]
  [% title = c.config.sections.resources.reagents.title  %]

  [% widgets = [] %]
  [% widgets.push({ title="Page Contents" type="title"}) %]

  [% FOREACH item IN c.config.sections.resources.reagents.widgets -%]
    [% widget_symbolic = item.key %]
    [% widget = c.config.sections.resources.reagents.widgets.$widget_symbolic %]
    [% t = widget.title FILTER ucfirst %]
    [% w = { id = widget.name
             title = t
             href =  c.uri_for('/resources','reagents', widget.name)
             type = 'resources'
            };
    %]
    [% widgets.push(w) %]
  [% END %]

  [%# Add the sidebar %]
  [% PROCESS "shared/sidebar_structure.tt2" widgets=widgets %]


    <script>
      
  [% UNLESS c.user_session.layout.$class.defined %]
    $jq("#nav-members").trigger('open');
    updateLayout();
  [% END %]

    </script>
