<table border="0" cellpadding="4" cellspacing="1" width="100%">
<tr>
<td bgcolor="#b4cbdb" align="center" style="cursor:pointer" nowrap onClick="c('/')">
			  <a href="http://www.wormbase.org/" class="bactive" ><font color="#FFFF99"><b>Home</b></font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/seq/gbrowse/c_elegans/')">
			  <a href="http://www.wormbase.org/db/gb2/gbrowse/c_elegans/" class="binactive" onMouseOver="balloon.showTooltip(event,'Genome')"><font color="#FFFFFF">Genome</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/cgi-bin/gbrowse_syn/compara/')">
              <a href="http://www.wormbase.org/cgi-bin/gbrowse_syn/compara/" class="binactive" onMouseOver="balloon.showTooltip(event,'Synteny')"><font color="#FFFFFF">Synteny</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/searches/blast_blat')">
			  <a href="http://www.wormbase.org/db/searches/blast_blat" class="binactive" onMouseOver="balloon.showTooltip(event,'Blast / Blat')"><font color="#FFFFFF">Blast / Blat</font></a></td>

<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('http://www.wormbase.org/Multi/martview')">
			  <a href="http://www.wormbase.org/biomart/martview" class="binactive" onMouseOver="balloon.showTooltip(event,'WormMart')"><font color="#FFFFFF">WormMart</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/searches/strains')">
			  <a href="http://www.wormbase.org/db/searches/strains" class="binactive" onMouseOver="balloon.showTooltip(event,'Markers')"><font color="#FFFFFF">Markers</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/gene/gmap')">
			  <a href="http://www.wormbase.org/db/gene/gmap" class="binactive" onMouseOver="balloon.showTooltip(event,'Genetic Maps')"><font color="#FFFFFF">Genetic Maps</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/curate/submit')">

			  <a href="http://www.wormbase.org/db/curate/submit" class="binactive" onMouseOver="balloon.showTooltip(event,'Submit')"><font color="#FFFFFF">Submit</font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/misc/site_map?format=searches')">
			  <a href="http://www.wormbase.org/db/misc/site_map?format=searches" class="binactive" onMouseOver="balloon.showTooltip(event,'Searches')"><font color="#FFFFFF"><b>Searches</b></font></a></td>
<td bgcolor="#5870a3" align="center" style="cursor:pointer" nowrap onClick="c('/db/misc/site_map')">
			  <a href="http://www.wormbase.org/db/misc/site_map" class="binactive" ><font color="#FFFFFF"><b>Site Map</b></font></a></td>
</tr>
</table><!-- End WormBase Header -->


<img align="right" border="0" src="/img/classic_banner.jpg" alt="WormBase Banner" />
<a href="/"><h3>WormBase Release [% constants.acedb_version %]</h3></a>

<div id="mainSearch" style="text-align:left"><form method="post" action="http://www.wormbase.org/db/searches/basic" enctype="multipart/form-data">
 <b>Find:</b> <input type="text" name="name" value="WBGene00006763" size="20" /> <i><select name="class"  id="class_search_menu">
<option value="Any">Anything</option>
<option value="AnyGene">Any Gene</option>
<option value="Author_Person">Author/Person</option>
<option value="Variation">Allele</option>
<option value="Cell">Cell/Tissue</option>
<option value="Clone">Clone</option>
<option value="Model">Database Model</option>
<option value="GO_term">Gene Ontology Term</option>
<option value="Gene_class">Gene class</option>
<option value="Genetic_map">Genetic Map</option>
<option value="Accession_number">Genbank Acc. Num</option>
<option value="Paper">Literature Search</option>
<option value="Microarray_results">Microarray Expt</option>
<option value="Operon">Operon</option>
<option value="Phenotype">Phenotype</option>
<option value="PCR_Product">Primer Pair</option>
<option value="Protein">Protein, Any</option>
<option value="Wormpep">Protein, C. elegans</option>
<option value="Motif">Protein Family/Motif</option>
<option value="RNAi">RNAi Result</option>
<option value="Sequence">Sequence, Any</option>
<option value="Genome_sequence">Sequence, C. elegans</option>
<option value="Strain">Strains</option>
<option value="Y2H">Y2H interaction</option>
<option value="YH">YH interaction</option>
</select></i> </form></div>

<br clear="all" >

<!-- END boilerplate/banner_classic -->
<br />
