 [% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF c.config.debug_view %]

<!-- BEGIN boilerplate/banner -->
<div id="wrap">

      [% message_id = c.config.system_message.id %]
      [% IF message_id AND !c.user_session.close_system_message.$message_id %]
        <div id="top-system-message" class="system-message">
          [% c.config.system_message.message %]
          <span class="system-message-close" onClick="systemMessage('hide', '[% message_id %]')">
            <span class=" ui-icon ui-icon-close"></span>
          </span>
        </div>
        <div class="system-message" ></div>
        <script>
          systemMessage('show');
        </script>
      [% END %]

<div id="header">

  [% PROCESS "boilerplate/search_bar.tt2" %]

  <div id="title">
       <h1><a href="/" title="WormBase Home">[% template.title or c.config.site_name %]</a></h1>
     <p>  
          [% # The current release of the software and its codename %]
          Version: [% constants.acedb_version %]
      </p>
  </div>


  <div id="nav-bar">
    <ul class="nav-bar">
    [% FOREACH title IN c.config.nav_bar.option %]
      <li><a href="/[% title %]" id="section-[% title %]" class="[% IF(c.stash.section == title); 'selected'; END;%]">
          [% c.config.sections.$title.title %]</a>
          <ul class="dropdown">

            [% IF (title == 'species') %]
     
	
    	[%# Force C. elegans to the top without having to hard-code it in configuration %]
        [% species = c.config.sections.species_list.keys.sort %]
        [% species.unshift('c_elegans') %]
        [% species.unshift('all') %]
        [% species = species.unique %]

          [% FOREACH option IN species %]
            [% IF c.config.sections.species_list.$option.display_in_dropdown == 'yes' %]

            <li><a href="/[% title %]/[% option %]" class="species">[% c.config.sections.species_list.$option.title %]</a>
              <ul class="dropdown">  
                <li>[% text2link('genomic_location',option,'Browse Genome') %]</li>

              [% FOREACH class IN c.config.sections.species_list.$option.available_classes.class %]
                <li><a href="[% c.uri_for('/species',option,class) %]">[% pluralize(c.config.sections.species.$class.title || c.config.sections.resources.$class.title) %]</a></li>
              [% END %]

              </ul>
            </li>
            [% END %]
          [% END %]


        [% ELSE %]
          [% FOREACH option IN c.config.sections.$title.sort() %]
            [% IF option == 'title'; NEXT; END; %]
			[% UNLESS c.config.sections.$title.$option.title; NEXT; END; %]
            [% UNLESS c.config.sections.$title.$option.display_in_dropdown; NEXT; END; %]
            <li>[% IF option == 'operator' %]
		     <a id="[% option %]" href="#"  
			[% IF c.user_exists && !c.check_user_roles("operator") && c.check_any_user_role("admin", "curator")   %]
			  rel="redirect" 
			[%  END  %]
		      > 
		[% ELSE %]<a href="/[% title %]/[% option %]"> 
		[% END %]
		[% IF title == 'resources'; pluralize(c.config.sections.$title.$option.title); ELSE; c.config.sections.$title.$option.title; END; %]</a></li>
          [% END %]
        [% END %]
          </ul>
      </li>
    [% END %]
  <span class="status-bar"></span>
    </ul>
  </div>
 
  [% PROCESS timer %]

</div>

<div id="operator-box-wrap">
[% IF !c.user_session.livechat.defined ||  c.user_session.livechat == 1 %]
  <div id="operator-box"  class="ui-corner-left minimize" ></div>   
[% END %]
</div> 

<script>
 
operator();
 
[% PROCESS page_info %]
$jq.post("/rest/history", { 'ref': "[% url %]" , 'name' : "[% label %]", 'id':"[% object.name.data.id %]", 'class':"[% object.name.data.class %]", 'type': "[% c.stash.section %]", 'is_obj': "[% is_obj %]" });
 
 
</script>

<!-- END boilerplate/banner -->
   
    

    <div id="content">