
[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF c.config.debug_view %]

<!-- BEGIN boilerplate/banner -->
    <div id="wrap">
<div id="header">

  [% PROCESS "boilerplate/search_bar.tt2" %]

  <div id="title">
  <h1><a href="/" title="Go to WormBase Home">[% template.title or c.config.site_name %]</a></h1>
      <p>  
          [% # The current release of the software and its codename %]
<!--          Database version <a tip="[% c.config.codename %]" class="tip-simple feed ui-corner-all">[% constants.acedb_version %]</a> -->
	  Database version [% constants.acedb_version %] ([% c.config.codename %])
      </p>
  </div>


  <div id="nav-bar">
    <ul class="nav-bar">
    [% FOREACH title IN c.config.sections.nav_bar.option %]
      <li><a href="/[% title %]" id="section-[% title %]" class="[% IF(c.stash.section == title); 'selected'; END;%]">
          [% c.config.sections.$title.title %]</a>
          <ul class="dropdown">
        [% IF (title == 'species') %]
	
	[%# Force C. elegans to the top without having to hard-code it in configuration %]
        [%# species = [] %]
        [%# species.push('c_elegans') %]
        [%# species.push(c.config.species_list.keys.sort()) %]

          [% FOREACH option IN c.config.species_list.keys.sort() %]
	  [%# elegans_seen = 0 %]
	  [%# FOREACH option IN species %]
	  [%# elegans_seen = 1 IF option == 'c_elegans' %]
	  [%# NEXT if elegans_seen > 1 %]
            <li><a href="/[% title %]/[% option %]" class="species">[% c.config.species_list.$option.Title %]</a>
              <ul class="dropdown">  
                <li><a href="#">Browse Genome</a></li>

              [% FOREACH class IN c.config.species_list.$option.available_classes.class %]
                [% IF class == 'title'; NEXT; END; %]
                <li><a href="/species/[% option %]/[% class %]">[% c.config.sections.species.$class.title %]</a></li>
              [% END %]

              </ul>
            </li>
          [% END %]
        [% ELSE %]
          [% FOREACH option IN c.config.sections.$title.sort() %]
            [% IF option == 'title'; NEXT; END; %]
            <li><a href="/[% title %]/[% option %]">[% c.config.sections.$title.$option.title %]</a></li>
          [% END %]
        [% END %]
          </ul>
      </li>
    [% END %]
  <span class="status-bar"></span>
    </ul>



  </div>




  [% PROCESS timer %]
</div>

<script>
$jq.post("/rest/history", { 'ref': window.location.pathname , 'name' : "[% object.name.data.label %]", 'id':"[% object.name.data.id %]", 'class':"[% object.name.data.class %]", 'type': "[% c.stash.section %]" });
</script>

<!-- END boilerplate/banner -->

    <div id="content">