<!-- begin boilerplate/footer -->
</div>

<div id="footer">
    <div id="footer-nav">

      <div class="footer-column">
        <div class="footer-title">About</div>
        <ul>
          <li><span>Nematodes</span></li>
          <li><a href="[% c.uri_for('/about','userguide', 'nomenclature').path  %]">Nomenclature</a></li>
        </ul>

        <ul>
          <li><span>WormBase</span></li>
          <li><a href="[% c.uri_for('/about').path  _ '#0--10' %]">Mission</a></li>
          <li><a href="[% c.uri_for('/about','advisory_board').path  _ '#01--10' %]">Advisory Board</a></li>
          <li><a href="[% c.uri_for('/about','policies').path  _ '#1--10' %]">Privacy</a></li>
          <li><a href="[% c.uri_for('/about','policies').path  _ '#0--10' %]">Acceptable Use</a></li>
          <li><a href="[% c.uri_for('/about','policies').path  _ '#2--10' %]">Copyright</a></li>
          <li><a href="[% c.uri_for('/about','release_schedule').path  _ '#01--10' %]">Release Schedule</a></li>
          <li><a href="[% c.uri_for('/about','citing_wormbase').path  _ '#012--10' %]">How to Cite</a></li>
          <li><a href="[% c.uri_for('/about', 'acknowledgments').path _ '#0--10' %]">Acknowledgments</a></li>
          <li><a href="[% c.uri_for('/about','staff').path  _ '#01--10' %]">WormBase Staff</a></li>
          <li>[% external_link("http://legacy.wormbase.org/", 'Legacy Site') %]</li>
        </ul>
      </div>


      <div class="footer-column">
        <div class="footer-title">Support</div>
        <ul>
          <li><a href="[% c.uri_for('/about','userguide', 'submit_data').path  _ '#01--10'%]">Submit Data</a></li>
          <li><a href="mailto:help@wormbase.org">Email</a></li>
          <li><a href="[% c.uri_for('/about','Frequently_asked_questions').path  %]">FAQ</a></li>
          <li><a href="[% c.uri_for('/about','userguide').path  %]">User Guide</a></li>
	  <li><a href="[% c.uri_for('/tools', 'webinar.cgi').path %]">Webinar</a></li>
	  <li>[% external_link('https://www.youtube.com/user/WormBaseHD', 'WormBaseHD YouTube') %]</li>
          <li><a href="[% c.uri_for('/tools', 'support').path  _ '?url=' _ c.req.uri.path %]">Contact Help</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <div class="footer-title">Community</div>
        <ul>
          <li>[% external_link("https://wiki.wormbase.org/index.php/WormBoard", 'WormBoard') %]</li>
          <li>[% external_link("http://www.wormbook.org/", 'WormBook') %]</li>
          <li>[% external_link("https://community.alliancegenome.org/c/model-organism-worms/7", 'Forum') %]</li>
          <li><a href="[% c.uri_for('/resources','laboratory').path  _ '#012--10' %]">Worm Labs</a></li>
          <li>[% external_link("http://blog.wormbase.org", 'Blog') %]</li>
          <li>[% external_link("http://twitter.com/wormbase", 'Twitter') %]</li>
          <li><a href="[% c.uri_for('/species', 'c_elegans').path  _ '#1--10' %]">Key Papers</a></li>
        </ul>

        <ul>
          <li><span>Friends</span></li>
          <li>[% external_link("https://cgc.umn.edu/", 'CGC') %]</li>
          <li>[% external_link("http://www.wormatlas.org", 'WormAtlas') %]</li>
          <li>[% external_link("http://www.nematodes.org/", 'Nematodes.org') %]</li>
          <li>[% external_link("http://www.ipm.ucdavis.edu/NEMABASE/", 'NEMABASE') %]</li>
          <li>[% external_link("http://nematode.net/", 'Nematode.net') %]</li>
          <li>[% external_link("http://www.smid-db.org/", 'SMID-DB') %]</li>
          <li>[% external_link("https://www.wormwiring.org/", 'WormWiring') %]</li>
        </ul>
      </div>


      <div class="footer-column">
        <div class="footer-title">Developer</div>
        <ul>
<!--           <li>[% external_link("", 'Amazon EC2 AMI') %]</li> -->
          <li><a href="[% c.uri_for('/about','userguide','for_developers').path  %]">Developer Documentation</a></li>
          <li><a href="[% c.uri_for('/about','userguide','for_developers','api-rest').path  %]">RESTful API</a></li>
          <li>[% external_link("http://github.com/WormBase", 'Code Repositories (Github)') %]</li>
          <li><a href="[% c.uri_for('/about','internal_documentation').path  %]">Staff Documentation</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <div class="footer-title">Downloads</div>
        <ul>
          <li><a href="ftp://ftp.wormbase.org/pub/wormbase/">FTP site</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <div class="footer-title">Data Freezes</div>
        <ul>
          <li>
            <select id="data-freezes" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option selected="selected" value="--">--</option>
                <option value="http://legacy.wormbase.org">WS230 (Mar 2012)</option>
                <option value="http://ws220.wormbase.org">WS220 (16 Dec 2010)</option>
                <option value="http://ws210.wormbase.org">WS210 (15 Jan 2010)</option>
                <option value="http://ws205.wormbase.org">WS205 (18 Sep 2009)</option>
                <option value="http://ws204.wormbase.org">WS204 (13 Aug 2009)</option>
                <option value="http://ws200.wormbase.org">WS200 (16 Mar 2009)</option>
                <option value="http://ws190.wormbase.org">WS190 (07 May 2008)</option>
                <option value="http://ws180.wormbase.org">WS180 (07 Sep 2007)</option>
                <option value="http://ws170.wormbase.org">WS170 (09 Feb 2007)</option>
                <option value="http://ws160.wormbase.org">WS160 (31 Jul 2006)</option>
                <option value="http://ws150.wormbase.org">WS150 (30 Nov 2005)</option>
                <option value="http://ws140.wormbase.org">WS140 (26 Mar 2005)</option>
                <option value="http://ws130.wormbase.org">WS130 (16 Aug 2004)</option>
                <option value="http://ws120.wormbase.org">WS120 (07 Mar 2004)</option>
                <option value="http://ws110.wormbase.org">WS110 (01 Oct 2003)</option>
                <option value="http://ws100.wormbase.org">WS100 (10 May 2003)</option>
            </select>
          </li>
        </ul>
      </div>

    </div>

    <br clear="all" />


     <div id="footermeta">
      <a id="footer-mail" href="mailto:help@wormbase.org"><div class="social-icons"></div></a>
      <a id="footer-tweet" href="http://twitter.com/wormbase"><div class="social-icons"></div></a>
      <a id="footer-rss"  href="http://feeds.feedburner.com/wormbase"><div class="social-icons"></div></a>
    </div>
    <div id="footercredit">
    <br style="clear:both" />
      [% IF git_update_time %]
      <span>Last software update: [% git_update_time %]
      </span><br />
      [% END %]
        <div class="credit-badge-container">
            <div class="credit-badge">[% external_link('AGR', '<img width="200px" src="/img/agr_founding_member_badge.png" alt="Alliance of Genome Resources" />'); %]</div>
            <div class="credit-badge">[% external_link('http://www.caltech.edu/', '<img width="150px" src="/img/caltech_logo.png" alt="Caltech" />'); %]</div>
            <div class="credit-badge">[% external_link('https://www.ebi.ac.uk/', '<img width="200px" src="/img/embl_ebi_logo_white.svg" alt="European Bioinformatics Institute" />'); %]</div>
            <div class="credit-badge">[% external_link('https://oicr.on.ca/', '<img height="65px" src="/img/oicr_logo_white.png" alt="Ontario Institute for Cancer Research" />'); %]</div>
        </div>
        <div class="credit-text-container">
        <span>
          WormBase is supported by grant #U24 HG002223 from the
          [% external_link("http://www.genome.gov/", "National Human Genome Research Institute") %]
        </span><br />
        <span>at the [% external_link("http://www.nih.gov/", "US National Institutes of Health") %],
          the [% external_link("http://www.mrc.ac.uk/", "UK Medical Research Council") %] and the
          [% external_link("http://www.bbsrc.ac.uk/home/home.aspx", "UK Biotechnology and Biological Sciences Research Council") %].
        </span>
        </div>
    </div>


</div>


<!-- end boilerplate/footer -->

</div><!--end wrap-->
