[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF c.config.debug_view %]

<!-- begin boilerplate/footer -->
    <div id="spacer"></div>
    
</div>

<div id="footer">
    <div id="footer-nav">
       <div class="footer-column">
          <div class="footer-title">About WormBase</div>
           <ul>
             <li><a href="http://wiki.wormbase.org/index.php/Citing_WormBase">Citing WormBase</a></li>
             <li><a href="http://wiki.wormbase.org/index.php/Acceptable_use_policy">Acceptable Use Policy<a/></li>
             <li><a href="http://wiki.wormbase.org/index.php/Acceptable_use_policy#Privacy_statement">Privacy Statement</a></li>
             <li><a href="[% c.uri_for('/resources', 'advisory_board') %]">Advisory Board</a></li>
           </ul>                
         </div>


       <div class="footer-column">
          <div class="footer-title">Support</div>
           <ul>
             <li><a href="/tools/operator">Chat with an online curator</a></li>
             <li><a href="#">Submit data</a></li>
             <li><a href="mailto:feedback@wormbase.org">Ask a question</a></li>
           </ul>                
         </div>

    <div class="footer-column">
       <div class="footer-title">Social</div>
        <ul>
          <li><a href="http://forums.wormbase.org">WormBase Discussion Forums</a></li>
          <li><a href="http://blog.wormbase.org">WormBase Blog</a></li>	  
        </ul>
 
    </div>

    <div class="footer-column">
       <div class="footer-title">Recent Papers</div>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>

    <div class="footer-column">
       <div class="footer-title">Status</div>
        <ul>
          <li>Beta Test Known Issues</li>
          <li>User Survey</li>
          <li></li>
        </ul>
    </div>
   </div>

   <br clear="all" />

    <div id="footercredit">
     <!--     Questions? Comments? <a href="mailto:feedback@wormbase.org">feedback@wormbase.org</a> or
          <a href="https://groups.google.com/a/wormbase.org/group/help/post" target="_blank">web form</a>
      -->     
          <p>
             
               WormBase is supported by a grant from the <a href="http://www.genome.gov/">National Human Genome Research Institute</a> <br />
               at the <a href="http://www.nih.gov/">US National Institutes of Health</a> #P41 HG02223 and the <a href="http://www.mrc.ac.uk/">British Medical Research Council</a>.


          </p>

     </div>

    <div id="footermeta">
        <div id="footer-icons">
          <a id="footer-mail" href="mailto:help@wormbase.org"></a>
          <a id="footer-tweet" href="http://twitter.com/wormbase"></a>
          <a id="footer-rss" href="http://feeds.feedburner.com/wormbase"></a>
       </div>
    </div>
</div>







<!-- end boilerplate/footer -->
[% INCLUDE google_analytics %]

    </div><!--end wrap-->


<!--  

      Database Version [% constants.acedb_version %] 
      Software Version: [% c.config.codename %]
      [% server_details("") %]
      Loading time: [% FILTER format('%5f') %][% c.stats.elapsed %][% END %]s-->                

