print h2("Paper Identifiers");
print table(
	      #	TR(
	      #	  th({-colspan=>'2'},'Paper IDs')),
	      TR(td('WormBase'),
		 td(ObjectLink($paper))),
	      TR(td('PubMed (PMID)'),
		 td(($paper->PMID)
		    ? a({-href=>Configuration->Pubmed_retrieve . $paper->PMID},$paper->PMID)
		    : 'not available')),
	      TR(td('CGC'),
	      	 td(($paper->CGC_name)
		    ? a({-href=>Object2URL($paper)},"[" . $paper->CGC_name . "]")
		    : 'not available'))
	     );
