[%#

  Widget  : 
  Section : 
  Stash   :     push @data,{ wt_seq   => $wt,
		 mut_seq   => $mut,
		 wt_label  => $wt_label,
		 mut_label => $mut_label,};
  }

%]


[%- WRAPPER "boilerplate/field" title="Affects" -%]

  <pre> [%# Dumper.dump(affects) %]</pre>

    [% FOREACH feature_type IN affects.keys %]
              [% WRAPPER "boilerplate/subfield" title="$feature_type"-%] 

                        [% FOREACH feature IN affects.$feature_type %]
	               <div>
                              <div>[% feature.affected %]  TODO: needs to be linked </div> 
			      
			      [%# Display all the features of a given type that contain the variation %]
[% IF feature.protein_effects %]
  <pre>
Effect on protein:
[% FOREACH row IN feature.protein_effects %]
  [% row.join(' ') %] TODO: needs evidence
[% END %]
  </pre>
[% END %]

[% IF feature.contained_in %]
  <pre>
Contained in:
[% FOREACH row IN feature.contained_in %]
  [% row.join(' ') %] TODO: needs evidence
[% END %]
  </pre>
[% END %]

[% IF feature_type == "Predicted_CDS" && feature.conceptual_translation %]
[% SET trans=feature.conceptual_translation %]
<pre>
Conceptual translation
[% feature.aa_type %] [[% trans.formatted_aa_change %]]

[% trans.wildtype_translation_fragment %] -- Wild type
[% trans.mutant_translation_fragment %] -- [% current_object %]
</pre>

TODO: This was a toggle:
<pre>
[% trans.wildtype_translation_complete %]
[% trans.mutant_translation_complete %]
</pre>
 
</div>

[% END %]

<!-- Display coordinates -->
<pre>
View coordinates
[% feature.affected %] coordinates: [% feature.feature_start %]..[% feature.feature_stop %]
[% current_object %] coordinates relative to [% feature.affected %]: [% feature.start %]..[% feature.stop %]
</pre>


        [% END %]
     [% END %]			
  [% END %]    
[% END %]


