[%#

  Widget  : Gene.Identification
  Section : Concise Description
  Stash   :     push @data,{ wt_seq   => $wt,
		 mut_seq   => $mut,
		 wt_label  => $wt_label,
		 mut_label => $mut_label,};
  }

%]


[%- WRAPPER "boilerplate/field" title="Nucleotide Change" -%]

    TODO: mk_accessor to create accessor of defaults in the configuration
    file isn't working.  See _fetch_sequence_from_ace

    [% FOREACH change IN nucleotide_change %]
      [% IF change.type %]
          [% change.type %]:
      [% ELSE %]
          [% site.unknown %]:
      [% END %]

      [% IF change.wt_seq && change.mut_seq %]
         [% change.wt_seq %] / [% change.mut_seq %] ([% change.wt_label %] / [% change.mut_label %])
      [% ELSE %]
         (sequence unknown / unlisted) 
      [% END %]
   [% END %]

[% END %]


