<div id="advisory-board">

<div class="field-title">
  <img src="" />
</div>

<div class="field-content">
<h3>FIRST LAST</h3>
<h4>INSTITUTE; DESCRIPTION
<div class="description">Prose description</div>
</div>

</div>

