

<head>
    <link rel="stylesheet" type="text/css" href="/css/blast_pages.css" />
</head>


<form method="POST" action="[% c.uri_for('/tools','blast_blat','run').path %]">

<div class="form_container">

<h1>BLAST/BLAT SEARCH</h1>

<div class="spacer">
    &nbsp;
</div>

<div class="small_container">
    <font class="bold">1) Enter Your Query Sequence:</font>
    <p/>
    <img id="sample_nucleotide" src="/img/blast_blat/sample_nucleotide.png"></img>
    <img id="sample_peptide" src="/img/blast_blat/sample_peptide.png"></img>
    <br/>
    <textarea id="query_sequence" name="query_sequence" rows="12" cols="80">[% query_sequence %]</textarea>
    <br/>
    <font class="bold">Query Type:</font>
    <input type="radio" [% check_query_type_nucl %] id="query_type_nucl" name="query_type" value="nucl">Nucleotide</input>
<!--    <input type="radio" [% check_query_type_prot %] id="query_type_prot" name="query_type" value="prot">Protein</input>-->
    <input type="radio" selected="1" id="query_type_prot" name="query_type" value="prot">Protein</input>
</div>

<div class="small_container">
    <font class="bold">2) Select an application (BLAST or BLAT) and parameters:</font>
    <p/>
    <input type="radio" checked="checked" id="search_type_blast" name="search_type" value="blast"><font class="search_type">BLAST</font></input>

    <select id="blast_app" name="blast_app">
        <option [% selected_blastn %] value="blastn"  query="nucl" db="nucl">blastn &nbsp;(nucleotide query vs. nucleotide database)</option>
<!--<option [% selected_blastp %] value="blastp"  query="prot" db="prot">blastp &nbsp;(protein query&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs. protein database)</option>
-->
        <option selected="1" value="blastp"  query="prot" db="prot">blastp &nbsp;(protein query&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs. protein database)</option>
        <option value="blastx"  query="nucl" db="prot">blastx &nbsp;(nucleotide query vs. protein database)</option>
        <option value="tblastn" query="prot" db="nucl">tblastn (protein query&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs. nucleotide database)</option>
    </select>

    <p/>

    <div class="indent_one">
    <font class="italic">E-value Threshold:</font>
    <select name="blast_e_value">
        <option value="1E-32"            >1E-32</option>
        <option value="1E-16"            >1E-16</option>
        <option value="1E-8"             >1E-8</option>
        <option value="1E-4"             >1E-4</option>
        <option value="1E-2"             >1E-2</option>
        <option value="1E+0" selected="1">1E+0</option>
        <option value="1E+1"             >1E+1</option>
        <option value="1E+2"             >1E+2</option>
        <option value="1E+4"             >1E+4</option>
    </select>
    </div>

    <p/>

    <div class="indent_one italic">
        <input type="checkbox" checked="1" name="process_query"> <b>Filter*</b></input>
<!--        <select name="process_query_type">
            <option value="filter">Filter</option>
            <option value="mask">Mask</option>
        </select>-->
<!--
        by
        <select id="process_query_param" name="process_query_param">
            <option value="dust"       query="nucl">dust (nucleotide query)</option>
            <option value="seg"        query="all" >seg (nucleotide or protein query)</option>
            <option value="xnu"        query="prot">xnu (protein query)</option>
            <option value="lower-case" query="all" >lower-case (nucleotide or protein query)</option>
        </select>
-->
    </div>

    <p/>

    <input type="radio" id="search_type_blat" name="search_type" value="blat"><font class="search_type">BLAT</font></input>

    <p/>

    <font class="bold">3) Select a database:</font>
    <p>
    Version:
    <select id="version" name="version">
[%
    FOREACH version IN c.stash.blast_databases.keys.sort;
      '<option value="' _ version _'"'; IF loop.last; ' selected="1" '; END; '>' _ version _ '</option>';
    END;
%]
    </select>
    </p>
    <p>
    Type:
    <select id="typeBox" name="typeBox">
[%
    FOREACH version IN c.stash.blast_databases.keys.sort;
      database_types = c.stash.blast_databases.$version.keys.sort;
      IF c.stash.blast_databases.$version.Genome.defined;
	database_types.unshift('Genome');
	database_types = database_types.unique;
      END;
      FOREACH database_type IN database_types;
	IF database_type == "Protein";
	    queryType = "prot";
	ELSE;
	    queryType = "nucl";
	END;
	'<option version="' _ version _ '" nucl_prot="' _ queryType _ '" value="' _ database_type _'">' _ database_type _ '</option>';
      END;
    END;
%]
    </select>
    </p>
    <p>
    Species:
    <select id="database" name="database">
[%
    FOREACH version IN c.stash.blast_databases.keys.sort;
      FOREACH database_type IN c.stash.blast_databases.$version.keys.sort;
	specieskeys = c.stash.blast_databases.$version.$database_type.keys.sort;
	IF c.stash.blast_databases.$version.$database_type.c_elegans.defined;
	  specieskeys.unshift('c_elegans');
	  specieskeys = specieskeys.unique;
	END;
	FOREACH specieskey IN specieskeys;
	  species = c.stash.blast_databases.$version.$database_type.$specieskey;
	  SWITCH database_type;
	    CASE "Genome";
	      IF species.name.match('c_elegans');
		'<option selected="1" type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '_genome" query-app="nucl:blastn prot:tblastn" version="' _ version _ '">' _ species.symbolic _ '</option>';
	      ELSE;
		'<option type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '" query-app="nucl:blastn prot:tblastn" version="' _ version _ '">' _ species.symbolic _ '</option>';
	      END;
	      '<option type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '" query-app="nucl:blat" version="' _ version _ '">' _ species.symbolic _ '</option>';
	    CASE "Protein";
	      '<option type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '" query-app="prot:blastp nucl:blastx prot:blat" version="' _ version _ '">' _ species.symbolic _ '</option>';
	    CASE "genes";
	      '<option type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '" query-app="nucl:blastn prot:tblastn" version="' _ version _ '">' _ species.symbolic _ '</option>';
	    CASE "ESTs";
	      '<option type="' _ database_type _ '" species="' _ specieskey _ '" value="' _ species.name _ '" query-app="nucl:blastn prot:tblastn nucl:blat" version="' _ version _ '">' _ species.symbolic _ '</option>';
	  END;
	END;
      END;
    END;
%]
    </select>
    </p>
    <p>
    Bioproject:
    <select id="bioproject" name="bioproject" multiple="multiple" size="3" style="vertical-align: top;">
[%
    FOREACH version IN c.stash.blast_databases.keys.sort;
      FOREACH database_type IN c.stash.blast_databases.$version.keys.sort;
	specieskeys = c.stash.blast_databases.$version.$database_type.keys.sort;
	FOREACH specieskey IN specieskeys;
          bioprojectkeys = c.stash.blast_databases.$version.$database_type.$specieskey.keys.sort;
          IF c.stash.blast_databases.$version.$database_type.$specieskey.PRJNA13758.defined;
              bioprojectkeys.unshift('PRJNA13758');
              bioprojectkeys = bioprojectkeys.unique;
          END;
          FOREACH bioprojectkey IN bioprojectkeys;
            IF bioprojectkey == "name" || bioprojectkey == "symbolic";
            ELSE;
              bioproject = c.stash.blast_databases.$version.$database_type.$specieskey.$bioprojectkey;
		'<option type="' _ database_type _ '" value="' _ bioproject.name _ '" selected="selected" species="' _ specieskey _ '" version="' _ version _ '">' _ bioproject.description _ ' (' _ bioproject.symbolic _ ')</option>';
            END;
          END;
        END;
      END;
    END;
%]
    </select>
    </p>

    <div id="message" class="message">
        &nbsp;
    </div>
    <div id="message2" class="message">
        &nbsp;
    </div>

    <p/>


    <div class="to_right">
    <input type="submit" name="submit" value="Submit"/>
    <input type="button" id="reset" name="reset" value="Reset"/>
    </div>

</div>


<div class="spacer">
    &nbsp;
</div>

<div class="to_right">
Documentation
<hr>
* The filter option preprocesses the sequence to mask low-complexity regions<br /><br />
<a href="[% c.uri_for('/tools', 'blast_blat', 'about_blat').path %]" target="_blank">About the BLAT algorithm</a>.
</div>


</div>

</form>



<script src="/js/blast_blat/search_form.js"></script>
