
<head>
    <link rel="stylesheet" type="text/css" href="/css/blast_pages.css" />
    <script src="/js/blast_blat/display_results.js"></script>
 
</head> 

<select class="blast_blat" onchange="location=this.options[this.selectedIndex].value">
    [% count = 0 %]
    [% link = c.uri_for('/tools', 'blast_blat', 'run').path %]
    [% FOREACH obj IN data %]
	[% count = count + 1  %]
	<option id="[% count %]" value="#blast_result_[% count %]" [% IF count==1 %] selected="selected" [% END %]>[% count _ ":" _ obj.query_name %]</option>
    [% END %] 
</select>
 

[% count = 0 %] 
[% FOREACH obj IN data %]
  [% count = count + 1  %]  
  [% PROCESS tools/blast_blat/display.tt2  obj=obj %] 
[% END %]

 