
<head>
    <link rel="stylesheet" type="text/css" href="/css/blast_pages.css" />
    <script src="/js/blast_blat/display_results.js"></script>
 
</head> 

<select class="blast_blat" >
    [% count = 0 %]
    [% FOREACH obj IN data %]
	[% count = count + 1  %]
	<option id="[% count %]">[% count _ ":" _ obj.query_name %]</option>
    [% END %] 
</select>
 

[% count = 0 %] 
[% FOREACH obj IN data %]
  [% count = count + 1  %]
  [% INCLUDE tool/blast_blat/display.tt2 %] 
[% END %]


<script type="text/javascript">
 

    $jq(".blast_blat").change(function () {
          
	   
	  $jq(".blast_container:visible").hide();
           
           var str = $jq(".blast_blat option:selected").attr("id");
            
          $jq("." + str).show();
	  
        })
        .change();
 
</script> 