[%
  WRAPPER $field_block title="Variations" key="alleles";
              variation_table(
              order=['variation','molecular_change','locations','effects','composite_change','isoform', 'phen_count', 'sources', 'gene'],
              key='alleles');
  END;
 %]

[% WRAPPER $field_block title=pluralize("Gene", fields.genes.data.size) key="genes" %]
      [% tags2link(fields.genes.data, '<br />', 'genes found') %]
[% END %]

[% WRAPPER $field_block title=pluralize("Rearrangements", fields.rearrangements.data.size) key="rearrangements" %]
      [% tags2link(fields.rearrangements.data, '<br />', 'rearrangements found') %]
[% END %]

[%
    WRAPPER $field_block title=pluralize("Clone", fields.clones.data.size) key="clones";
        clone_data = fields.clones.data;
        IF clones_data;
            tags2link(clones_data, '<br />', 'clones found');
        ELSE;  # a string is returned
            searchlink('clone', object.name.data.id, clone_data);
        END;
    END;
%]

[% WRAPPER $field_block title=pluralize("Transgene", fields.transgenes.data.size) key="transgenes" %]
      [% tags2link(fields.transgenes.data, '<br />', 'transgenes found') %]
[% END %]