[%
  WRAPPER $field_block title="Variations" key="alleles";
               build_data_table(
              order=['variation','molecular_change','locations','effects','aa_change','aa_position','isoform', 'phen_count', 'method_name', 'gene'],
              columns={ variation         => 'Allele',
                        molecular_change  => 'Molecular<br /> change',
                        effects           => 'Protein<br /> effects',
                        locations         => 'Locations',
                        phen_count        => '# of<br /> Phenotypes',
                        aa_change         => 'Protein<br /> change',
                        aa_position       => 'Amino acid<br />position',
                        isoform           => 'Isoform',
                        gene              => 'Gene',
                        method_name       => 'Method'
              },
              key='alleles',
              classsearch='variation');
  END;
 %]

[% WRAPPER $field_block title=pluralize("Gene", fields.genes.data.size) key="genes" %]
      [% tags2link(fields.genes.data, '<br />', 'genes found') %]
[% END %]

[% WRAPPER $field_block title=pluralize("Rarrangement", fields.rearrangements.data.size) key="rearrangements" %]
      [% tags2link(fields.rearrangements.data, '<br />', 'rearrangements found') %]
[% END %]

[%
    WRAPPER $field_block title=pluralize("Clone", fields.clones.data.size) key="clones";
        clone_data = fields.clones.data;
        IF clones_data;
            tags2link(clones_data, '<br />', 'clones found');
        ELSE;  # a string is returned
            searchlink('clone', object.name.data.id, clone_data);
        END;
    END;
%]

[% WRAPPER $field_block title=pluralize("Transgene", fields.transgenes.data.size) key="transgenes" %]
      [% tags2link(fields.transgenes.data, '<br />', 'transgenes found') %]
[% END %]