
[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

<h2>[% tag2link(fields.name.data) %]</h2>

[% WRAPPER highlight_box %]

    [% WRAPPER $field_block title="" -%]
       [% species %]
    [% END %] 

    [% WRAPPER $field_block title="Genotype" -%]
        [% fields.genotype.data %]
    [% END %]

[% END %]

[% other_names %]

[% WRAPPER $field_block title="Contains" %]
    [% WRAPPER $field_block title="Genes" key="genes" %]
         [% FOREACH gene IN fields.genes.data %]
             [% tag2link(gene) %]<br />
	 [% END %]
    [% END %]

    [% WRAPPER $field_block title="Alleles" key="alleles" %]
         [% FOREACH allele IN fields.alleles.data %]
             [% tag2link(allele) %]<br />
	 [% END %]
    [% END %]

    [% WRAPPER $field_block title="Rearrangements" key="rearrangements" %]
         [% FOREACH rearrangement IN fields.rearrangements.data %]
             [% tag2link(rearrangement) %]<br />
	 [% END %]
    [% END %]

    [% WRAPPER $field_block title="Clones" key="clones" %]
         [% FOREACH clone IN fields.clones.data %]
             [% tag2link(clone) %]<br />
	 [% END %]
    [% END %]

    [% WRAPPER $field_block title="Transgenes" key="transgenes" %]
         [% FOREACH gene IN fields.transgenes.data %]
             [% tag2link(gene) %]<br />
	 [% END %]
    [% END %]

[% END %]

[% WRAPPER $field_block title="Reference strain" key="referenc_strain" -%] 
    [% tag2link(fields.reference_strain.data) %]
[% END %]

[% WRAPPER $field_block title="Properties" %]
         [% WRAPPER $field_block title="Mutagen" key="mutagen" %]
             [% fields.genotype.data %]         
         [% END %]

         [% WRAPPER $field_block title="Outcrossed" key="outcrossed" %]
             [% fields.outcrossed.data %]         
         [% END %]

         [% WRAPPER $field_block title="Males?" key="throws_males" %]
             [% fields.throws_males.data %]
         [% END %]

[% END %]


[% WRAPPER $field_block title="Phenotypes" %]
    [% WRAPPER $field_block title="Observed" key="phenotypes_observed" %]
      This should be a data table
         [% FOREACH phenotype IN fields.phenotypes_observed.data %]
            [% phenotype %]         
         [% END %]
    [% END %]

    [% WRAPPER $field_block title="Not Observed" key="phenotypes_not_observed" %]
      This should be a data table
         [% FOREACH phenotype IN fields.phenotypes_not_observed.data %]
            [% phenotype %]         
         [% END %]
    [% END %]
[% END %]


[% remarks %]