<h2>[% tag2link(fields.name.data) %]</h2>

[% 
  
  WRAPPER highlight_box;
   other_names;
  END;



  '<div class="description">';
   WRAPPER $field_block title="Genotype";
       # fields.genotype.data;
       # Instead, let's mark up the genotype string.

       genotype=fields.genotype.data;
       linking=[fields.genes.data,
		fields.alleles.data,
		fields.rearrangements.data,
	        fields.clones.data,
	        fields.transgenes.data];

       FOREACH array IN linking;           
      	   FOREACH entry IN array;
	       IF genotype.match(entry.label);
	           genotype=genotype.replace(entry.label,tag2link(entry));
	       END;
           END;
       END;
    
       genotype;
   
    END;

%]


[% 

   WRAPPER $field_block title="Reference strain" key="reference_strain";
        tag2link(fields.reference_strain.data);
   END;

  # WRAPPER $field_block title="Properties";
         WRAPPER $field_block title="Mutagen" key="mutagen";
             fields.mutagen.data;
         END;

         WRAPPER $field_block title="Outcrossed" key="outcrossed";
              fields.outcrossed.data;
         END;

         WRAPPER $field_block title="Males?" key="throws_males";
             fields.throws_males.data;
         END;

  # END;

  '</div>';
   phenotypes;

   phenotypes_not_observed;

   remarks;

%]