<table>
[% FOREACH type IN bench.store.keys %]
  
    <th>[% type %]</th>
     
      [% FOREACH path IN bench.store.$type.nsort %] 
      <tr>
      <td> [% bench.store.$type.$path %]</td>
	  [% FOREACH p IN path.split('\/') %]
	      [% UNLESS loop.first %]
	      <td>[% p %]</td>
	      [% END %]
	  [% END %]
      <td><a href="[% path %]">go to page</a></td>
       
    </tr>
    [% END %]
[% END %]
</table>
  
 