<a class="bench_update" wbid="[% c.stash.id %]" href="/rest/workbench" ref="[% c.stash.path %]" name="[% c.stash.name %]" style="float:right">
<div id="save" class="ui-icon ui-icon-stars
[% IF c.stash.star == 1 %]
  ui-icon-star-yellow" title="remove this report from your workbench" 
[% ELSE %]
  ui-icon-star-gray" title="add this report to your workbench" 
[% END %]
></div>
</a>   