<h1>WormBase Schema Display</h1>

<p>
This is the WormBase Schema Display, useful for exploring the underlying data model of an object.
</p>

[% IF c.user_exists %]

<p>
To browse, enter a class (eg Gene_class).
</p>

<p>
Examples:<br />
<a href="[% c.uri_for('/tools','schema','run').path %]?class=Gene">Browse the Gene class data model</a>.<br />
</p>


<p>
<form method="POST" action="[% c.uri_for('/tools','schema','run').path %]">
  <table>
     <tr><th>Class</th>
         <td><input type="text" name="class" size="15" onchange="document.question.submit()" /></td>
         <td><input type="submit" name="Change" value="Change" style="background: white" /></td>
    </tr>
  </table>
</form>
</p>





[% ELSE %]

You need to be a registered user of WormBase to use this tool. If you aren't a registered user, please log in now.  

If you're just scraping the website, there's much easier, faster, and cheaper ways to get the data.

[% END %]