[%

WRAPPER $field_block title="Associations" key="associations";

    build_data_table (
		order = [
			'label',
			'association',
			],
		columns = {
			label => 'Association Type',
			association => 'Associate',
			},
		key = 'associations');
END;

%]