[%

sequence('flanking_sequences');

WRAPPER $field_block title='Flanking sequence' key='flanking_sequences';
	'<div style="white-space:nowrap;">' _ tag2link(fields.flanking_sequences.data.seq) _ '</div>';
END;

WRAPPER $field_block title='DNA text' key='dna_text';
    '<div class="sequence-container" style="word-wrap:break-word;">' _ fields.dna_text.data _ '</div>';
END;

%]