[%- # This is the generic WormBase Report page             -%]
[%- # Stash contents should contain:                       -%]
[%- #    current_object - the object being displayed       -%]
[%- #    widgets - a list of widgets supported by the page -%]
[%- #    title   - the title of the page                   -%]

   [%
    breadcrumbs = "<span>Tools</span>";
    report_page(breadcrumbs);
 %]
