[%     WRAPPER $field_block title="Comparative info";
    agr_explore_link('WB:' _ fields.name.data.id, 'transgene');
END; %]

[% phenotypes %]


[% phenotypes_not_observed %]

[% phenotype_submission_link; %]