[% data_source_label; %]
[%
   variation_table(
        order=['variation','molecular_change','locations','effects','composite_change','isoform','sources', 'strain']
        passed_data=alleles_other.data,
        key='alleles_other'
   );
%]