[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% FOREACH sd IN fields.keys %]
     [% IF fields.$sd.data.first.text.length > 0 %]
      [% WRAPPER $field_block title=sd-%] 
          [% FOREACH ev IN fields.$sd.data %]
                 [% ev.text %]
                 <div class="evidence">
                 [% evidence_list(ev.evidence) %]
                 </div>
                 <br />
          [% END %]
      [% END %]
     [% END %]
   [% END %]