[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% FOREACH sd IN fields.keys %]
     [% IF fields.$sd.data.first.text.length > 0 %]
       [% USE String(sd.replace('_', ' ')) %]
       [% WRAPPER $field_block title=String.capital-%] 
          [% FOREACH ev IN fields.$sd.data %]
            [% ev.text %]
            [% IF ev.evidence.size > 0 %]
              <div class="evidence">
                [% evidence_list(ev.evidence) %]
              </div>
            [% ELSE %] <br />
            [% END %]
            <br />
          [% END %]
      [% END %]
     [% END %]
   [% END %]