[%# PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]


<script type="text/javascript" >
$jq(".exprbox").colorbox({width:"90%", inline:true});
</script>
  
[% 

WRAPPER $field_block title="Anatomic Expression Patterns" key="anatomic_expression_patterns";
    gene_image = fields.anatomic_expression_patterns.data.image;
    IF gene_image;
        '<a href="/draw/' _ gene_image _ '" target="_blank" >' _ image("/draw/" _ gene_image) _ '</a>';
    END;	
	
    '<div style="display:none">';
	 FOREACH ep IN fields.anatomic_expression_patterns.data.expr;
	    IF ep.value.image;
	       '<div id="' _ ep.value.object.id _ '"><a href="/draw/' _ ep.value.image _ '" target="_blank">'
	       _ image("/draw/" _ ep.value.image) _ '</a></div>';
	    END;
	  END;
     '</div>';
     '<ul>';
        FOREACH ep IN fields.anatomic_expression_patterns.data.expr;             
              '<li>';
	      IF ep.value.image;
		   '<a style="float:left" class="ui-icon ui-icon-image exprbox" rel="expression_pattern_images" href="#' _ ep.value.object.id _ '" title="' _ ep.value.object.label _ '"></a>';
	      END;
	      tag2link(ep.value.object, ep.value.object.id) _ ': ' _ markup(ep.value.details,0) _ '</li>';
         END;
      '</ul>';
END;


# This is BROKEN. Model issue? Returns a one-element empty data structure.
WRAPPER $field_block title="4D expression movies" key="fourd_expression_movies";
        '<ul>';
	FOREACH mv IN fields.fourd_expression_movies.data.keys;
              '<li>' _ tag2link(mv.value.object) _ ': ' _ mv.value.details _ '<br />';
	          external_link(mv.value.movie, mv.value.movie);
              '</li>';
         END;
         '</ul>';
END;



WRAPPER $field_block title="Expression Cluster" key="expression_cluster";
       'Found ' _ searchlink("expression_cluster", object.name.data.id, fields.expression_cluster.data.keys.size 
                              _ " expression cluster " 
                              _ pluralize("object", fields.expression_cluster.data.keys.size));
END;


# Hard-coded link to SPELL at Caltech. Oh well.
WRAPPER $field_block title="Microarray Expression Data" key="microarray_expression_data";
       'Found ' _ searchlink("microarray_results", object.name.data.id, 
                             fields.microarray_expression_data.data.keys.size 
                              _ " microarray " 
                              _ pluralize("result", fields.microarray_expression_data.data.keys.size))
			      _ '<br />';
   	'<a href="http://spell.caltech.edu:3000/search/">SPELL microarray resource</a> (<a href="http://wiki.wormbase.org/index.php/SPELL">documentation</a>)';
END;


WRAPPER $field_block title="Microarray \"topology map\" data" key="microarray_topology_map_position";
     FOREACH ma IN fields.microarray_topology_map_position.data.keys;
         tag2link(fields.microarray_topology_map_position.data.$ma);
	 '<br />';
     END;
END;

WRAPPER $field_block title="Site(s) of Action" key="anatomy_function"

    '<table border=1 class="anatomy_function">';
        '<tr><th>Anatomical Site(s)</th><th>Phenotype</th><th>via Anatomy Function</th></tr>';
        FOREACH i IN fields.anatomy_function.data;
             '<tr>';
                '<td>';
                  FOREACH term IN i.terms;
                     tag2link(term);
                  END;
                '</td>';
                '<td>' _ tag2link(i.phenotype) _ '</td>';
                '<td>' _ tag2link(i.anatomy_fn) _ '</td>';
            '</tr>';
        END;
    '</table>';
END;


   WRAPPER $field_block title="Regulation on Expression Level" key="regulation_on_expression_level";
       FOREACH item IN fields.regulation_on_expression_level.data;
             item.string;
             tag2link(item.target);
	     ' (' _  tag2link(item.gene_regulation, "details") _ ')';
             '<br />';
        END;
   END;


%]