[% 

WRAPPER $field_block title="Anatomic Expression Patterns" key="anatomic_expression_patterns";
    gene_image = fields.anatomic_expression_patterns.data.image;
    IF gene_image;
      '<div style="max-width:500px;">';
        '<a href="'_ gene_image _ '" target="_blank">' _ 
           '<img src="' _ gene_image _ '" width="100%">' _
        '</a>';
      '</div>';
    END;	
	
    hidden = '';
    '<ul class="expr_patterns" id="results">';
        FOREACH key IN fields.anatomic_expression_patterns.data.expr.keys.sort.reverse; 
          ep = fields.anatomic_expression_patterns.data.expr.$key;
          '<li>';
            tag2link(ep.object, ep.object.id);
            IF ep.image;
              '<a class="ui-icon ui-icon-image exprbox"  rel="expression_pattern_images" href="#' _ ep.object.id _ '" title="expression image for ' _ ep.object.id _ '"></a><small>view images</small>';
 
              hidden = hidden _ '<div id="' _ ep.object.id _ '"><a href="' _ ep.image _ '" target="_blank">'
              _ image(ep.image) _ '</a></div>';
            END;
            IF ep.curated_images;
              '<a  class="ui-icon ui-icon-image exprcamera"   href="/rest/field/expr_pattern/' _ ep.object.id _ '/curated_images"  title="curated pictures for ' _ ep.object.id _ '"></a><small>view images</small>';      
            END;
          '</li>';
          '<div class="text-width text-min">' _ markup(ep.details,0) _ '</div>';
        END;
    '</ul>';

    '<div style="display:none">';
        hidden;
    '</div>';
END;

WRAPPER $field_block title="Anatomy terms" key="anatomy_terms";
  tags2link(fields.anatomy_terms.data, '<br />', 'anatomy terms');
END;



# This is BROKEN. Model issue? Returns a one-element empty data structure.
WRAPPER $field_block title="4D expression movies" key="fourd_expression_movies";
        '<ul>';
	FOREACH mv IN fields.fourd_expression_movies.data.keys;
              '<li>' _ tag2link(mv.value.object) _ ': ' _ mv.value.details _ '<br />';
	          external_link(mv.value.movie, mv.value.movie);
              '</li>';
         END;
         '</ul>';
END;



WRAPPER $field_block title="Expression Cluster" key="expression_cluster";
  tags2link(fields.expression_cluster.data, '<br />', 'expression clusters');
END;


WRAPPER $field_block title="Microarray Expression Data" key="microarray_expression_data";
     tags2link(fields.microarray_expression_data.data, '<br />', 'microarray expression results');
     '<br /><a href="' _ site.external_urls.spell_wormbase.base _ '/spell/search/">SPELL microarray resource</a> (<a href="http://wiki.wormbase.org/index.php/SPELL">documentation</a>)';
END;


WRAPPER $field_block title="Microarray \"topology map\" data" key="microarray_topology_map_position";
     tags2link(fields.microarray_topology_map_position.data);
END;

WRAPPER $field_block title="Site(s) of Action" key="anatomy_function"

    '<table border=1 class="anatomy_function">';
        '<tr><th>Anatomical Site(s)</th><th>Phenotype</th><th>via Anatomy Function</th></tr>';
        FOREACH i IN fields.anatomy_function.data;
             '<tr>';
                '<td>';
                  FOREACH term IN i.terms;
                     tag2link(term);
                  END;
                '</td>';
                '<td>' _ tag2link(i.phenotype) _ '</td>';
                '<td>' _ tag2link(i.anatomy_fn) _ '</td>';
            '</tr>';
        END;
    '</table>';
END;

%]
<script type="text/javascript" >
WB.getPlugin("colorbox", function(){
$jq(".exprbox").colorbox({width:"90%", inline:true});
$jq(".exprcamera").colorbox({width:"80%", height:"80%", opacity:"0.4"});
});
</script>
