[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% WRAPPER $field_block title="Regulation on Expression Level" key="regulation_on_expression_level"-%] 
      [% FOREACH item IN fields.regulation_on_expression_level.data %]
        [% item.string %] [% tag2link(item.target) %] [[% tag2link(item.gene_regulation, "details") %]]
        <br />
      [% END %]
   [% END %]

   [% WRAPPER $field_block title="Protein domains" key="protein_domains"-%] 
      [% FOREACH i IN fields.protein_domains.data.keys.sort %]
        [% tag2link(fields.protein_domains.data.$i) %] <br />
      [% END %]
      [% external_link('phosphopep', '...access more phosphorylation information in phosphopep') %]
   [% END %]


   [% WRAPPER $field_block title="Site(s) of Action" key="anatomy_function"-%] 

  <table border=1 class="anatomy_function">
      <tr><th>Anatomical Site(s)</th><th>Phenotype</th><th>via Anatomy Function</th></tr>
    [% FOREACH i IN fields.anatomy_function.data %]
          <tr>
              <td>
          [% FOREACH term IN i.terms %]
            [% tag2link(term) %], 
          [% END %]
              </td>
              <td>[% tag2link(i.phenotype) %]</td>
              <td>[% tag2link(i.anatomy_fn) %]</td>
          </tr>
    [% END %]
    </table>


   [% END %]

   [% WRAPPER $field_block title="Interactions" key="interactions"-%]
      [%# FOREACH item IN fields.interactions.data %]
        [%# tag2link(item) %]
      [%# END %]
      Found
      [% IF fields.interactions.data.size == 1 %]
        [% searchlink('interaction', object.name.data.id, fields.interactions.data.size _ " interaction") %]
      [% ELSE %]
        [% searchlink('interaction', object.name.data.id, fields.interactions.data.size _ " interactions") %]
      [% END %]
   [% END %]