[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% WRAPPER $field_block title="Regulation on Expression Level" key="regulation_on_expression_level"-%] 
      [% FOREACH item IN fields.regulation_on_expression_level.data %]
        [% item.string %] [% tag2link(item.target) %] [[% tag2link(item.gene_regulation, "details") %]]
        <br />
      [% END %]
   [% END %]

   [% WRAPPER $field_block title="Protein domains" key="protein_domains"-%] 
      [% FOREACH i IN fields.protein_domains.data.keys.sort %]
        [% tag2link(fields.protein_domains.data.$i) %] <br />
      [% END %]
      [% external_link('phosphopep', '...access more phosphorylation information in phosphopep') %]
   [% END %]

   [% WRAPPER $field_block title="Interactions" key="interactions"-%]
      [%# FOREACH item IN fields.interactions.data %]
        [%# tag2link(item) %]
      [%# END %]
      There
      [% IF fields.interactions.data.size == 1 %]
        is [% searchlink('interaction', object.name.data.id, fields.interactions.data.size) %] interaction which involves
      [% ELSE %]
        are [% searchlink('interaction', object.name.data.id, fields.interactions.data.size) %] interactions which involve
      [% END %]
      [% tag2link(object.name.data) %]
   [% END %]