[%

   # Reference allele
   WRAPPER $field_block title=pluralize("Reference allele", fields.reference_allele.data.size) key="reference_allele";
	   tags2link(fields.reference_allele.data);
   END;

   # Alleles
   WRAPPER $field_block title="Alleles" key="alleles";
       build_data_table(
            order=['variation','molecular_change','locations','effects','aa_change','aa_position','isoform', 'phen_count', 'method_name', 'strain'],
            columns={ variation         => 'Allele',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
                      aa_change         => 'Protein<br /> change',
                      aa_position       => 'Amino acid<br />position',
                      isoform           => 'Isoform',
                      method_name       => 'Method',
                      strain            => 'Strain',
            },
            key='alleles',
            classsearch='variation');
   END;

   # Polymorphisms
   WRAPPER $field_block title="Polymorphisms & Natural variants" key="polymorphisms";
        build_data_table(
            order=['variation','type','molecular_change','locations', 'effects','aa_change','aa_position','phen_count', 'strain'],
            columns={ variation         => 'Polymorphism',
                      type              => 'Type',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
                      aa_change         => 'Protein<br /> change',
                      aa_position       => 'Amino acid<br />position',
                      strain            => 'Strain',
            },
            key='polymorphisms',
            classsearch='variation');
    END;

   # Strains
   WRAPPER $field_block title="Strains" key="strains";
  strains;
   END;


%]
