[% 
    gene_ontology(title="Gene Ontology" key="gene_ontology");
%]



[%#    This is the OLD gene ontology formatting.
FOREACH annotation_basis IN fields.gene_ontology.data.keys.sort;
    FOREACH term_type IN fields.gene_ontology.data.$annotation_basis.keys.sort;
        USE String(term_type.replace('_', ' '));
        WRAPPER $field_block title=String;
           '<table>';
            FOREACH data IN fields.gene_ontology.data.$annotation_basis.$term_type.keys.sort;
	      obj = fields.gene_ontology.data.$annotation_basis.$term_type.$data;
              '<tr><td>' _ obj.display_method _ '</td>';		  
		  '<td>' _ tag2link(obj.term) _  '</td>'
		  '<td>' _ obj.evidence_code _  '</td>';
	      '</tr>';
         END;
       '</table>';
    END;
   END; 
END;
%]
  