[%

   # Reference allele
   WRAPPER $field_block title="Reference allele" key="reference_allele";
       FOREACH obj IN fields.reference_allele.data;
	   tag2link(obj);
       END;
   END;

   # Alleles
   WRAPPER $field_block title="Alleles" key="alleles";
       build_data_table(
            order=['variation','molecular_change','locations','effects','composite_change','isoform', 'phen_count', 'method_name', 'strain'],
            columns={ variation         => 'Allele',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
		      composite_change  => 'Protein<br />change',
                      isoform           => 'Isoform',
                      method_name       => 'Method',
                      strain            => 'Strain',
            },
            key='alleles',
            classsearch='variation');
   END;

   # Polymorphisms
   WRAPPER $field_block title="Polymorphisms & Natural variants" key="polymorphisms";
        build_data_table(
            order=['variation','type','molecular_change','locations', 'effects','composite_change','phen_count', 'strain'],
            columns={ variation         => 'Polymorphism',
                      type              => 'Type',
                      molecular_change  => 'Molecular<br /> change',
                      effects           => 'Protein<br /> effects',
                      locations         => 'Locations',
                      phen_count        => '# of<br /> Phenotypes',
		      composite_change  => 'Protein<br />change',
                      strain            => 'Strain',
            },
            key='polymorphisms',
            classsearch='variation');
    END;

   # Strains
   WRAPPER $field_block title="Strains" key="strains";
  strains;
   END;


%]
