[%

   # Reference allele
   WRAPPER $field_block title=pluralize("Reference allele", fields.reference_allele.data.size) key="reference_allele";
	   tags2link(fields.reference_allele.data);
   END;

   # Alleles
   IF fields.alleles.data || fields.alleles_count.data.alleles_other || fields.alleles_count.data.polymorphisms;
       WRAPPER $field_block title="Alleles with phenotype data";
           variation_table(
                order=['variation','molecular_change','locations','effects','composite_change','isoform', 'phen_count', 'sources', 'strain'],
                order_by='phen_count',
                key='alleles');

            IF fields.alleles_count.data.alleles_other;
                WRAPPER toggle title="<strong>Load other alleles</strong> (currently with no associated phenotype)" lazy=1 href=c.uri_for('/rest','field','gene', object.name.data.id,'alleles_other').path id="alleles_other_toggle";
                END;
            END;

            IF fields.alleles_count.data.polymorphisms;
                WRAPPER toggle title="<strong>Load other polymorphisms & natural variants</strong> (currently with no associated phenotype)" lazy=1 href=c.uri_for('/rest','field','gene', object.name.data.id,'polymorphisms').path id="polymorphisms_toggle";
                END;
            END;
       END;
   END;

   # Strains
   WRAPPER $field_block title="Strains" key="strains";
  strains;
   END;


%]
