[% WRAPPER $field_block title=pluralize("Paralog", fields.paralog.data.size) key="paralogs" %]
     [% FOREACH obj IN fields.paralogs.data %]
	   [% tag2link(obj) %]
      [% END %]
       
[% END %]


[% WRAPPER $field_block title=pluralize("Ortholog", fields.orthologs.data.size) key="orthologs" %]
     [% FOREACH obj IN fields.orthologs.data %]
	[% taxonomy(obj.species) %]: [% tag2link(obj.ortholog) %] [[% tag2link(obj.sequence) %]] 
	[% IF obj.evidence.check %] 
            <a class="tooltip" href="#" title="evidence" rel="/rest/evidence/gene/[% object.name.data.id %]/[% obj.evidence.tag %]/[% obj.evidence.index %]/[% obj.evidence.right %]"></a>
        [% END %]
	<br>
      [% END %]
[% END %]

[% WRAPPER $field_block title=pluralize("InParanoid group", fields.inparanoid_groups.data.size) key="inparanoid_groups" %]

   <div class="toggle">[% fields.inparanoid_groups.data.size %] InParanoid groups for [% object.name.label %]</div> 
  <div class="toggle-container">
   [% FOREACH cluster IN fields.inparanoid_groups.data %]
    <table  border= 1, width= '100%' >
    <tr><td colspan=2>InParanoid cluster:[% tag2link(cluster) %]</td></tr>
     
	[% FOREACH species IN cluster.proteins.keys.sort %]
	  <tr>
	  <td>[% species.replace('_',' ') %]</td>
	  <td>[% FOREACH obj IN cluster.proteins.$species %]
		[% tag2link(obj) %]
	      [% END %]
	  </td>
	  </tr>
	 [% END %]
   </table> <br>  
   [% END %]
   </div>  
[% END %]

[% WRAPPER $field_block title="TreeFam" key="treefam" %]
  [% USE url= format(site.external_urls.treefam.image) %]
  [% FOREACH obj IN fields.treefam.data %]
    TreeFam ID: [% text2link('Treefam_report',obj,obj) %] <br>
    <div class="toggle">Treefam image</div> 
    <div class="toggle-container"> 
      <iframe name='treefam' src=[% url(obj,obj) %] width=680 height=500 scrolling='auto'></iframe>
    </div>
  [% END %]
  Phylogenetic trees provided by the [% text2link('treefam','','Treefam') %] project.
[% END %]

   [% WRAPPER $field_block title="Protein domains" key="protein_domains"-%] 
      [% FOREACH i IN fields.protein_domains.data.keys.sort %]
        [% tag2link(fields.protein_domains.data.$i) %] <br />
      [% END %]
      [% external_link('phosphopep', '...access more phosphorylation information in phosphopep') %]
   [% END %]

[% WRAPPER $field_block title="Best BLAST Hits" %]
 
   
  <table  border= 0, width= '100%' >
  <tr align= 'left'><th>Species</th><th>Hit</th><th>Description</th><th>BLAST E-value</th><th>% Length</th></tr>
   [% FOREACH row IN fields.best_blastp_matches.data %]
    <tr>    
    [% FOREACH obj IN row %]
      <td>[% IF obj.species.defined %]
        <span class="species">[% obj.genus %].[% obj.species %]</span>
           [% ELSIF obj.class.defined %] [% tag2link(obj) %] 
           [% ELSIF obj.match('(\d+)e[-](\d+)') %] <span class="no-wrap">[% obj %]</span>
           [% ELSE %] [% obj %]
           [% END %]</td>
     [% END %]
    </tr>
   [% END %]
   </table>   
[% END %]

