[%


    WRAPPER $field_block title="Comparative info";
        agr_explore_link('WB:' _ fields.name.data.id _ '#orthology', 'gene');
    END;

   # Best BLASTP matches
   best_blastp_matches;

    # Nematode orthologs (species hosted at WormBase)
    WRAPPER $field_block title="Nematode orthologs" key="nematode_orthologs";
    build_data_table(order=['species','ortholog','method'],
   	             columns={species  => 'Species',
		              ortholog => 'Ortholog',
		              method  => 'Method',
 		              },
	             key='nematode_orthologs');
   END;


    # Other orthologs: humans, mice, rats, pigs, golden retrievers.
    WRAPPER $field_block title="Other Orthologs" key="other_orthologs";
    build_data_table(order=['species','ortholog','method'],
   	             columns={ortholog => 'Ortholog',
		              species  => 'Species',
		              method   => 'Method',
 		              },
	             key='other_orthologs');
    END;
    # Paralogs
    WRAPPER $field_block title="Paralogs" key="paralogs";
    build_data_table(order=['ortholog','method'],
		     columns={ortholog => 'Paralog',
		              method   => 'Method',
		              },
	             key='paralogs');
    END;

   WRAPPER $field_block title="Protein domains" key="protein_domains";
         FOREACH i IN fields.protein_domains.data.keys.sort;
             tag2link(fields.protein_domains.data.$i);
	    '<br />';
         END;
   END;


   WRAPPER $field_block title="TreeFam" key="treefam";
       FOREACH obj IN fields.treefam.data.unique;
          external_link('treefam', obj, obj);
       END;
   END;

%]
