

    [% IF fields.human_diseases.data.experimental_model; %]
    <p><h3>Curated Experimental Model</h3></p>
      [% FOREACH item IN fields.human_diseases.data.experimental_model; 
          text = object.name.data.label _ ' is an experimental model for ' _ tag2link(item, item.label _ ' (' _ item.id _ ')');
          '<div class="description">';
            evidence(item.ev, 0 , text);
          '</div>';
        END;%]
    [% END %]

[%

IF (fields.human_disease_relevance.data.defined);
'<p><h3>Curated Human disease associations</h3></p><p>';
    FOREACH obj IN fields.human_disease_relevance.data;
        '<div class="description">';
            evidence(obj.evidence,sd, obj.text);
        '</div>';
    END;
'</p>';
END;
%]

[% IF fields.human_diseases.data.defined; %]
  <p>
    <h3>Automatically inferred from human protein orthology</h3>
  </p>
  <div class="description">
    [% IF fields.human_diseases.data.potential_model; %]
      [% FOREACH item IN fields.human_diseases.data.potential_model; 
          text = object.name.data.label _ ' is a potential model for ' _ tag2link(item, item.label _ ' (' _ item.id _ ')');
          evidence(item.ev, 0 , text);
          '<br />';
        END;%]
    [% END %]

  [% FOREACH type IN ['disease', 'gene'] %]
    [% IF fields.human_diseases.data.$type; %]
    <h4>[% pluralize(type, fields.human_diseases.data.$type.size) | ucfirst %]</h4>
      [% FOREACH item IN fields.human_diseases.data.$type; 
       external_link('omim',"OMIM:" _ item,item) _ '<br />';
        END;%]
    [% END %]
    <br />
  [% END %]
  </div>
[% END %]
