
[%
IF (fields.human_disease_relevance.data.defined);
'<p><h3>Curated Human disease associations</h3></p><p>';
    FOREACH obj IN fields.human_disease_relevance.data;
        '<div class="text-width">';
            evidence(obj.evidence,sd, obj.text);
        '</div>';
    END;
'</p>';
END;
%]

[% IF fields.human_diseases.data.defined; %]
  <p>
    <h3>Automatically inferred from human protein orthology</h3>
  </p>
  <div class="description">
    [% IF fields.human_diseases.data.potential_model; %]
      [% FOREACH item IN fields.human_diseases.data.potential_model; 
          text = object.name.data.label _ ' is a potential model for ' _ tag2link(item, item.label _ ' (' _ item.id _ ')');
          item.ev ? evidence(item.ev, 0 , text) : text;
          '<br />';
        END;%]
    [% END %]

  [% FOREACH type IN ['disease', 'gene'] %]
    [% IF fields.human_diseases.data.$type; %]
    <h4>[% type %]</h4>
      [% FOREACH item IN fields.human_diseases.data.$type; 
       external_link('omim',"OMIM:" _ item,item) _ '<br />';
        END;%]
    [% END %]
    <br />
  [% END %]
  </div>
[% END %]
