[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

[% 

   WRAPPER $field_block title="Interactions" key="interactions";
      'Found ';
       IF fields.interactions.data.size == 1;
            searchlink('interaction', object.name.data.id, fields.interactions.data.size _ " interaction");
       ELSE;
            searchlink('interaction', object.name.data.id, fields.interactions.data.size _ " interactions");
       END;

      build_data_table(order=['type','effector','effected','direction','phenotype','interaction'],
     	               columns={type  => 'Interaction Type',
		                effector => 'Effector',
		                effected  => 'Effected',
				direction => 'Direction',
				phenotype => 'Phenotype',
				interaction => 'Details',
 		                },	    
	               key='interactions');


   END;

%]