[% 

   WRAPPER $field_block title="Interactions" key="interactions";
      'Found ';
      searchlink('interaction', object.name.data.id, fields.interactions.data.size _ " " _ pluralize("interaction", fields.interactions.data.size));


      build_data_table(order=['type','effector','effected','direction','phenotype','interaction'],
     	               columns={type  => 'Interaction Type',
		                effector => 'Effector',
		                effected  => 'Effected',
				direction => 'Direction',
				phenotype => 'Phenotype',
				interaction => 'Details',
 		                },	    
	               key='interactions');


   END;

%]