[%
   build_data_table(
        order=['variation','molecular_change','locations','effects','composite_change','isoform', 'phen_count', 'method_name', 'strain'],
        columns={ variation         => 'Allele',
                  molecular_change  => 'Molecular<br /> change',
                  effects           => 'Protein<br /> effects',
                  locations         => 'Locations',
                  phen_count        => '# of<br /> Phenotypes',
          composite_change  => 'Protein<br />change',
                  isoform           => 'Isoform',
                  method_name       => 'Method',
                  strain            => 'Strain',
        },
        passed_data=million_mutation_project_alleles.data,
        classsearch='variation');
%]