[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF c.config.debug_view %]

   [% WRAPPER $field_block title="Name" key="name"-%] 
            [% tag2link(fields.name.data) %]
   [% END %]

   [% WRAPPER $field_block title="Sequence name"-%] 
        [% tag2link(fields.ids.data.sequence_name)%]
   [% END %]

   [% WRAPPER $field_block title="Other names" %]
        [% tag2link(fields.name.data, fields.ids.data.other_names.join(', ')) %]
   [% END %]

   [% WRAPPER $field_block title="Aceview ID" %]
        [% fields.ids.data.aceview_id %]
   [% END %]

   [% WRAPPER $field_block title="RefSeq ID" %]
        [% fields.ids.data.refseq_id.join(', ') %]
   [% END %]

   [% PROCESS "shared/fields/species.tt2" %]

   [% WRAPPER $field_block title="Concise Description" key="concise_description"%]
         [% markup(fields.concise_description.data) %]
         [% IF fields.structured_description.data.size > 0 %]
         <div class="toggle">Details:</div>
         <div class="returned">
	  [% id =0 %]
          [% FOREACH sd IN fields.structured_description.data.keys %]
              [% USE String(sd.replace('_', ' ')) %]
              [% WRAPPER $subfield_block title=String.capital-%]  
                  [% FOREACH ev IN fields.structured_description.data.$sd %]
                    <div style="margin:0.5em">
                      [% markup(ev.text) %]
                      [% IF ev.evidence %] 
			[% id = id+1; c.session.$id= ev.text; c.session.object= object.object %]
                        <a class="tooltip" href="#" title="evidence" rel="/rest/evidence/gene/[% object.name.data.id %]/[% id %]"></a>
                      [% END %]
                    </div>
                  [% END %]
              [% END %]
          [% END %]
         </div>
         [% END %]
   [% END %]

   [% WRAPPER $field_block title="WormBase Referential ID"-%] 
           [% tag2link(fields.name.data,fields.name.data.id) %]
   [% END %]