<h2><i>[% fields.name.data.label %]</i>
[% IF fields.classification.data.type == 'pseudogene'; %]
   [% fields.classification.data.type _ ' '; %]
[% END %]
<span id="fade" style="font-size:0.7em;">
[% IF fields.gene_class.data %]
  ([% fields.gene_class.data.description %])
[% END %]
</span></h2>



[%

WRAPPER highlight_box;

   WRAPPER $field_block title="Sequence" key="sequence_name";
        fields.sequence_name.data;
   END;

   WRAPPER $field_block title=pluralize("Other name", fields.other_names.data.size) key="other_names";
        markup_locus(fields.other_names.data.join(', '), 1);
   END;

   IF fields.classification.data.type;
   WRAPPER $field_block title="Type" key="classification";
           fields.classification.data.type;
   END;
   END;

   WRAPPER $field_block title="Gene class" key="gene_class";
           tag2link(fields.gene_class.data.tag);
   END;

   WRAPPER $field_block title="Gene cluster" key="gene_cluster";
           tag2link(fields.gene_cluster.data);
   END;

   WRAPPER $field_block title="Operon" key="operon";
           tag2link(fields.operon.data);
   END;

   WRAPPER $field_block title="Transposon" key="transposon";
           tags2link(fields.transposon.data);
   END;

   status;

   WRAPPER $field_block title="Cloned by" key="cloned_by";
           tag2link(fields.cloned_by.data.cloned_by);
   END;

   WRAPPER $field_block title="Clone" key="clone";
           tags2link(fields.clone.data);
   END;

   WRAPPER $field_block title="Parent seq" key="parent_sequence";
           tag2link(fields.parent_sequence.data);
   END;

   WRAPPER $field_block title="Gene name evidence" key="named_by";
           tags2link(fields.named_by.data, ";<br/>");
   END;

   IF fields.name.data.taxonomy == 'c_elegans' && fields.classification.data.type != 'Transposon in origin';
       WRAPPER $field_block title="Comparative Info";
            'Integrated model organism details available at the ';
            agr_logo_link('WB:' _ fields.name.data.id, 'gene');
       END;
   END;


END;

# The main concise description
'<div class="description">';
    evidence(fields.concise_description.data.evidence, 'Provisional_description', fields.concise_description.data.text);

'</div>';


IF fields.status.data == 'Dead';
	'<br/>';
	'<h3>';
	'This gene is dead!<br/>';

	IF fields.merged_into.data;
		'Merged into -> ';
		tags2link(fields.merged_into.data);
		'<br/>';
	END;

	'</h3>';
	#'</div>';
	'<br/><br/>';
END;




IF (fields.human_disease_relevance.data.defined);
   WRAPPER toggle title="Human disease relevance";
    FOREACH obj IN fields.human_disease_relevance.data;
        '<div class="text-width">';
            evidence(obj.evidence,sd, obj.text);
        '</div>';
    END;
       END;
END;

# Structured descriptions
IF (fields.structured_description.data.defined);
   WRAPPER toggle title="Details";
    FOREACH sd IN fields.structured_description.data.keys;
      USE String(sd.replace('_', ' '));
      WRAPPER $field_block title=String.capital;
          FOREACH obj IN fields.structured_description.data.$sd;
              '<div class="text-width">';
                  evidence(obj.evidence,sd, obj.text);
              '</div>';
          END;
      END;
    END;
   END;
END;


# Legacy Information
IF fields.legacy_information.data;
   WRAPPER toggle title="From <i>C. elegans I</i> and <i>II</i>";
          FOREACH desc IN fields.legacy_information.data;
              '<li>';
                   markup(desc, 0);
              '</li>';
            END;
   END;
END;

# Also Refers to
# Usually we show empty fields; but some things we actually want to suppress when empty
IF fields.also_refers_to.data;
   WRAPPER toggle title="Also refers to";
               fields.name.data.label;
               'has also been used to refer to:';
               FOREACH item IN fields.also_refers_to.data;
                   tag2link(item);
               END;
   END;
END;


   '<div class="description">';
   IF fields.status.data == 'Dead'; no_toggle = 1; END;
   IF !fields.concise_description.data.text && !fields.structured_description.data;
     no_toggle = 1;
   END;
      remarks;
   '</div>';

%]
