

[%# This phenotype processing diverges from the standard processing ... %]
[%# See also Varation.pm for alternative data processing/structure... %]

[% WRAPPER $field_block title="Phenotypes" key="phenotype" %]
   Alleles for which the sequence change is known are listed in <b>boldface</b>.<br><br>


    <p><i>The following phenotypes have been observed in [% object.name.data.label %]</i>:</p>
    <div>
[%
	build_data_table(order=['object','evidence'],
			columns={object  => 'Phenotype',
				 evidence => 'Supporting Evidence',
			}, key='phenotype_observed',
			passed_data=fields.phenotype.data.Phenotype.values);
%]
    </div>

    <br />
   [% WRAPPER toggle title="<i>The following phenotypes have been reported as NOT observed in " _  object.name.data.label _ "</i>" %]
      [%
	build_data_table(order=['object','evidence'],
			columns={object  => 'Phenotype',
				 evidence => 'Supporting Evidence',
			}, key='phenotype_not_observed',
			passed_data=fields.phenotype.data.Phenotype_not_observed.values);
      %]
   [% END %]
    <br />
[% END %]

[% WRAPPER $field_block title="Interaction-based phenotypes" key="phenotype_by_interaction" %]

    <p><i>The following phenotypes are indirectly caused or affected by some perturbation of [% object.name.data.label %] in the context of a genetic interaction </i>:</p>

    <div>
[%
	build_data_table(
            order=['phenotype','interactions','interaction_type', 'citations'],
			columns={
                phenotype  => 'Phenotype',
                interactions => 'Interactions',
                interaction_type => 'Interaction Type',
				citations => 'Citations'
			}, key='phenotype_by_interaction');
%]
    </div>

[% END %]


    <br />


[% WRAPPER $field_block title="Overexpression" key="drives_overexpression";
   WRAPPER toggle title="<i>Overexpression from the " _  object.name.data.label _ " promoter results in the following phenotypes.</i>";

	build_data_table(order=['object','evidence'],
			columns={object  => 'Phenotype',
				 evidence => 'Supporting Evidence',
			}, key='phenotype',
			passed_data=fields.drives_overexpression.data.Phenotype.values);
  END;
END %]