[%  WRAPPER $field_block title="Comparative info";
    agr_explore_link('WB:' _ fields.name.data.id _ '#phenotypes', 'gene');
END; %]



[% WRAPPER $field_block title="Phenotypes" key="phenotype" %]
    <div id="phenotype-ontology-graph-container" class="ontology-graph-container"></div>
   <br />
   <p>Alleles for which the sequence change is known are listed in <b>boldface</b>.</p>

    <p><i>The following phenotypes have been observed in [% object.name.data.label %]</i>:</p>

[%
    build_phenotype_table(key='phenotype');
%]
    <br />
[% END %]



[% WRAPPER $field_block title="Phenotype not observed" key="phenotype_not_observed" %]
   [% WRAPPER toggle title="<i>The following phenotypes have been reported as NOT observed in " _  object.name.data.label _ "</i>" %]
      [% build_phenotype_table(key='phenotype_not_observed'); %]
   [% END %]
    <br />
[% END %]


[% WRAPPER $field_block title="Interaction-based phenotypes" key="phenotype_by_interaction" %]

    <p><i>The following phenotypes are indirectly caused or affected by some perturbation of [% object.name.data.label %] in the context of a genetic interaction </i>:</p>

    <div>
[%
    build_data_table(
            order=['phenotype','interactions','interaction_type', 'citations'],
            columns={
                phenotype  => 'Phenotype',
                interactions => 'Interactions',
                interaction_type => 'Interaction Type',
                citations => 'Citations'
            }, key='phenotype_by_interaction');
%]
    </div>

[% END %]



    <br />


[% WRAPPER $field_block title="Overexpression" key="drives_overexpression";
   WRAPPER toggle title="<i>Overexpression of the " _  object.name.data.label _ " gene results in the following phenotypes.</i>";
     build_phenotype_table(key='drives_overexpression');
  END;
END %]

[% phenotype_submission_link; %]


<script type="text/javascript">
(function(){
  if (document.getElementById('phenotype-ontology-graph-container')) {
    WB.setupCytoscapePhenotypeGraph('phenotype-ontology-graph-container', 'WB:[% object.name.data.id %]');
  }
})();
</script>
