[% 

   # Antibodies
   WRAPPER $field_block title="Antibodies" key="antibodies";
   build_data_table(order=['antibody','summary','laboratory'],
                    columns={ antibody     => 'Antibody',
	   	              summary      => 'Summary',
		              laboratory   => 'Laboratory',
                            },
                     key='antibodies');
   END;


   # Transgenes
   t = pluralize("Drives Transgene", fields.transgenes.data.size);
   WRAPPER $field_block title="$t" key="transgenes";
   build_data_table(order=['transgene','summary','laboratory'],
		    columns={ transgene    => 'Transgene',
			      summary      => 'Summary',
			      laboratory   => 'Laboratory',
			     },
		    key='transgenes');
   END;

   # Drive by transgene
   t = pluralize("Expressed in Transgene", fields.transgene_products.data.size);
   WRAPPER $field_block title="$t" key="transgene_products";
   build_data_table(order=['transgene','summary','laboratory'],
		     columns={ transgene    => 'Transgene',
			      summary      => 'Summary',
			      laboratory   => 'Laboratory',
                            },
		     key='transgene_products');
    END;

### Jan 27, 2012: These fields were changed to use the tags2link macro and return the actual objects rather than linking to search results (which were sometimes invalid)
    # Matching cDNAs
    WRAPPER $field_block title="Matching cDNAs" key="matching_cdnas";
	tags2link(fields.matching_cdnas.data, '<br />', "matching cDNAs");
    END;

    WRAPPER $field_block title="Primer pairs" key="primer_pairs";
	tags2link(fields.primer_pairs.data, '<br />', "primer pairs");
    END;

    WRAPPER $field_block title="ORFeome Primers" key="orfeome_primers";
	tags2link(fields.orfeome_primers.data, '<br />', "ORFeome primers");
    END;

    WRAPPER $field_block title="SAGE tags" key="sage_tags";
	tags2link(fields.sage_tags.data, '<br />', "SAGE tags");
    END;

    WRAPPER $field_block title="Microarray probes" key="microarray_probes";
	tags2link(fields.microarray_probes.data, '<br />', "microarray probes");        
    END;
###
%]