[%

IF fields.gene_models.data.table;

    IF fields.gene_models.data.table.0.keys.size > 3;
        build_data_table( order = ['model', 'type', 'length_unspliced','cds', 'length_spliced','protein','length_protein'],
                          columns = { model => 'Transcript',
                                      type => 'Type',
                                      length_spliced   => 'Coding<br />Sequence<br />Length (nt)',
                                      length_unspliced => 'Transcript<br />Length (nt)',
                                      cds => 'Coding<br />Sequence<br />(CDS)',
                                      protein => 'Protein',
                                      length_protein => 'Protein<br />Length (aa)'},
                          passed_data = fields.gene_models.data.table,
                          key = 'gene_models_constructed' );
    ELSE;
        build_data_table( order = ['model','length_unspliced','type'],
                          columns = { model => 'Transcript',
                                      type => 'Type',
                                      length_unspliced => 'Transcript<br />Length (nt)'},
                          passed_data = fields.gene_models.data.table,
                          key = 'gene_models_constructed' );
    END;

    IF fields.gene_models.data.remarks;
      WRAPPER toggle title="Curatorial remarks";
        FOREACH n IN fields.gene_models.data.remarks.nsort;
          '<sup>' _ fields.gene_models.data.remarks.$n _ '</sup> ' _ n _ '<br />';
        END;
      END;
    END;

END;


%]
