/* The center divs on the home page */
#main {
  padding-top:25px;
  text-align:center;
  color: #999999;
}
#main h1 {
  font-size:5em;
}
#main a {
    text-decoration: none; 
    color: #6666EE;
}


/* Seach bar and results page */
#results ul li{
   padding-top:0.5em;
   font-size:1.2em;
}

#results ul li a{
   text-decoration:underline; 
}
#results span.forest-green{
   color: #228B22;
}


#fade {
   color: #999999;
   font-size: 0.8em;
}

/* Menus on the top of the screen - home page */
#front-menu, #login-menu, #results, .padding{
	margin: 0;
	padding:0 1em;
	}

#front-menu ul, #login-menu ul, #results ul {
	margin:0;
	padding:0;
    padding-top:1em;
	list-style-type: none;
	}
	
#front-menu ul li {
	float: left;
	}
	
#front-menu li {
	font-size: 1em;
	padding-right: 1em;
}
		
#front-menu li a, #login-menu li a {
    color: #6666EE;
}
#front-menu li a {
    text-decoration: underline; 
}
#login-menu ul li {
	float: right;
	}
	
#login-menu li {
	font-size: 1em;
	padding-right: 0.5em;
  color: #999999;
}

#my-cart {
  float:left;
}

/* The search bar form */
#searchForm {
  padding:1em;
/*   width:35em; */
  height:3em;
/*   float:right; */
}
#searchForm input, .search-select{  
   font-size: 1.2em;  
   height:2em;
   vertical-align:top;
    padding: 0.25em;  
}  
#searchForm input.text{  
    color: #565656;  
    border: 1px solid gray;  
    padding: 0.5em; 
    text-align: left;  
    width:10em;
    height:1em;
}  
#searchForm input.text.active{  
    background: #ddeff6;  
}  
