/* Icons
----------------------------------*/

/*/* states and images */
/* .ui-icon-large { width: 20px; height: 20px; background-image: url(../img/themeroller-icon-set-vector-20px-2010-06-01.png);} */

/* positioning */
/*.ui-icon-triangle-1-s.ui-icon-large { background-position: -80px -22px; }
.ui-icon-close.ui-icon-large { background-position: -100px -160px; }
.ui-icon-circle-close.ui-icon-large { background-position: -40px -240px; }
.ui-icon-circle-triangle-e.ui-icon-large { background-position: -60px -240px; }
.ui-icon-circle-triangle-s.ui-icon-large { background-position: -80px -240px; }

.ui-icon-column { width: 16px; height: 16px; background-image: url(../img/columns.png);}
.ui-icon-pdf {width: 16px; height: 16px; margin-top:0.1em; cursor:pointer; float:right; background-image: url(../img/pdf-icon.png); }
.ui-icon-pubmed { width: 40px; height: 17px; cursor:pointer;  background-image : url(../img/buttons/pubmed.gif); }

.ui-icon-1 { background-position: 0px 0px; }
.ui-icon-1-1 { background-position: -16px 0px; }
.ui-icon-2-1 { background-position: -32px 0px; }
.ui-icon-1-2 { background-position: -48px 0px; }*/
/*
.ui-icon-stars { width: 20px; height: 20px; 
background-image: url(../img/stars.png) !important; 
cursor:pointer;}*/

/* .ui-icon-star-filled { background-position: 0px 0px; } */
/* .ui-icon-star-outline  { background-position: -20px 0px; } */
/* .ui-icon-star-yellow { background-position: -60px 0px; } */
/*
.ui-icon-star-gray  { 
  background-position: -40px 0px; 
  opacity:0.5;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
}

.ui-icon-star-gray:hover  { 
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
}

.ui-icon-star-yellow  { 
  background-position: -60px 0px; 
  opacity:0.7;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
}

.ui-icon-star-yellow:hover  { 
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
}*/





/*/* states and images */
.ui-icon-large { width: 20px; height: 20px; background-image: url(../img/new-icons.png);}

/* positioning */
.ui-icon-triangle-1-e.ui-icon-large { background-position: 0px 0px; }
.ui-icon-triangle-1-s.ui-icon-large { background-position: -40px 0px; }
.ui-icon-close.ui-icon-large { background-position: -80px 0px; }
.ui-icon-circle-close.ui-icon-large { background-position: -100px 0px; }
.ui-icon-circle-triangle-e.ui-icon-large { background-position: -20px 0px; }
.ui-icon-circle-triangle-s.ui-icon-large { background-position: -60px 0px; }

.ui-icon-column { width: 16px; height: 16px; background-image: url(../img/columns.png);}
.ui-icon-pdf {width: 16px; height: 16px; margin-top:0.1em; cursor:pointer; float:right; background-image: url(../img/pdf-icon.png); }
.ui-icon-pubmed { width: 40px; height: 17px; cursor:pointer;  background-image : url(../img/buttons/pubmed.gif); }

.ui-icon-1 { background-position: 0px 0px; }
.ui-icon-1-1 { background-position: -16px 0px; }
.ui-icon-2-1 { background-position: -32px 0px; }
.ui-icon-1-2 { background-position: -48px 0px; }

.ui-icon-stars { width: 20px; height: 20px; 
background-image: url(../img/new-icons.png) !important; 
cursor:pointer;}


.ui-icon-star-gray  { 
  background-position: -120px 0px; 
/*  opacity:0.5;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;*/
}

.ui-icon-star-gray:hover  { 
  background-position: -160px 0px; 
/*  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1*/
}

.ui-icon-star-yellow  { 
  background-position: -140px 0px; 
/*  opacity:0.7;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;*/
}

.ui-icon-star-yellow:hover  { 
  background-position: -180px 0px; 
}

.ui-corner-large-all { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }




.ui-autocomplete {
  z-index:15 !important;
}





/* Button
----------------------------------*/

.ui-button { 
  display: inline-block; 
  position: relative; 
  padding: 0; 
  margin-right: .1em; 
  text-decoration: none !important; 
  cursor: pointer; 
  text-align: center; 
  zoom: 1; 
overflow: visible; 

} /* the overflow property removes extra width in IE */


