/* 

  WormBase - primary stylesheet

  Contents:

  DOCUMENT - document level formatting

*/  


/* = DOCUMENT ========================== */

body, html {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    /*font-size:75%; */    /* Set the default font size from browser medium (16px) to 12px */
    height:100%;
}


h1,h2,h3,h4,h5,h6 { color:black; }

h1 { font-size:1.8em;   }  /* 24px   ; site title */
h2 { font-size:1.4em; }  /* 21.6px ; page title */
h3 { font-size:1.2em; }  /* 19.2px ; page subtitle (if applicable) */  
h4 { font-size:1em; }  /* 16.8px ; widget titles */
h5 { font-size:0.8em; }  /* 13.2px ; field names */
h6 { font-size:0.8em;    /* 12px; subfield names */
     font-weight:bold;
}  


/* IE hack: Force tables and input forms to inherit our default size */
input, select, th, td { font-size:1em; }

/* This wrap is needed to keep the footer at the bottom in all browsers */
#wrap {
  margin: 0;
  padding: 0 0 0 0em;
  background:white;
  min-height: 100%;
  height: auto !important;
  position: relative;
  min-width: 800px;
}

#content {
  background:white;
}



/* Global Links */
a:link {
    text-decoration: none; 
    color: #0000FF;
//    border-bottom:1px dotted #0000FF;
}

a:visited {
    text-decoration: none; 
    color: #AA0088;
    border:none;
}

a:hover {
//    text-decoration: underline; 
    border:none;
}





p  {
    font-size:1em;
    line-height:1.1em;
}

img {
    border:0px;
}


/*********************************
   
   Headers

Note: firefox seems to render header objects funny
   
*********************************/
div#page {
  padding:0;
  position:relative;
  background:#6D869E;
}

div#page h1 a, h1{
  padding: 0;
  margin:0;
  color:white;
}

div#page p {
  padding:0;
  margin:0;
  font-size:0.8em;
  color:white;
}

div#page .release_date { }

/* user warnings */
.caveat-emptor {
    font-style:italic;
    color:gray;
}


/* Header */

div#page div#nav-bar {
  background:#C2D1DF;
  height:2.5em;
  margin: 1.5em 0 0.5em 12em;
}

ul.nav-bar {
  margin:0;
  padding-left:0.5em;
  list-style-type: none;
  font-size:1.2em;
}

ul.nav-bar li {
  float:left;
  position:relative;
}

ul.nav-bar li a{
  float:left;
  padding:0.5em 0.7em 0;
  margin:0;
  color:gray;
  height:1.4em;
}

ul.nav-bar li span {
  float:right;
  margin:0.3em 0;
  visibility:hidden;
}

ul.nav-bar li a.hover, ul.nav-bar li a.selected{
  color:black;
  border-bottom:5px solid #CDCDCD;
}

ul.nav-bar li a.hover span, ul.nav-bar li a.selected span{
  visibility:visible;
}

ul.dropdown {
  margin:0;
  display:none;
  position:absolute;
  top:2.1em;
  left:0px;
  background:white;
  border:1px solid gray;
  z-index:99;
  padding:0;
  min-width:100%;
}

ul.dropdown li{
  float:none;
  padding:0.3em;
  font-size:0.8em;
  list-style: none; 
}

ul.dropdown li:hover{
  background:#CDCDCD;
}

div#page div#title {
  position:absolute;
  left:1em;
  top:0.5em;
  text-align: center;
}

/*********************************
   
   Sections
   
*********************************/

li div.widget-container {
    padding:0.5em 0.5em 1em 0.5em;
    padding:0;
    margin:0em 0.5em 0.5em 0;
    display:none;
    background-color:#FFFFFF; 
    position:relative;
    border:1px solid #CDCDCD;
}

li.visible div.widget-container {
  display:block;
}

.widget-container:hover {
    border:1px solid #888;
    background:#FAFAFA;
}

.content {
  padding:0.5em;
  padding-bottom:1.7em;
  overflow:auto;
  list-style:disc outside none;
}

.content h2 {
  margin:0.3em;
  float:left;
}

#widget-header h3 {
    margin:0px;
    padding:0.3em 0.3em 0.5em;
    border-bottom:1px dotted #CDCDCD;
    height:1em;
    cursor:pointer;
    background: #C2D1DF;
}

#widget-header h3.minimized{
    border:0;
}

.widget-container.bench #widget-header h3 {
  background:#D0DEC1;
}

.widget-container #widget-footer {
    font-size:0.9em;    
    position:absolute;
    bottom:0.5em;
    right:0.5em;
    display:none;
}

.widget-container #widget-footer a{
  float:right;
  opacity:0.5;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
}

.widget-container #widget-footer a span{
  float:left;
}

.widget-container #widget-footer a:hover{
    opacity:1;
    filter:alpha(opacity=100);
    -moz-opacity:1;
}

div.ui-icon-large {
  float:right;
  opacity:0.3;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  cursor:pointer;
  margin:0.4em;
}

#widget-header div.ui-icon:hover {
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
}

h3 div.module-min {
  float:left;
  opacity:0.3;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  margin:2px;
}

h3 span {
  float:left;
}

h3 span.ui-icon {
  margin:0.2em;
  opacity:0.7;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
}

h3 span.ui-icon:hover {
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
}



/* These are subfields - NOT IN USE? */
section.widget .secondary-container {

}

/*********************************
   
   Per-Page styling
   
*********************************/

/* A list of available views */
#available-views {
    color:black;
    overflow:hidden;
    position:absolute;
    bottom:0.5em;
    right:1em;
    font-size:0.8em;
}

/* =========================================
   FOOTER ================================== */

div#footer{
	color: #878787;
    padding: 1.2em 0 0.4em 0;
    margin:0;
	font-size:0.8em;
    border-top: 1px solid #BCC;
    overflow:auto;
    position:absolute;
    width:100%;
    bottom:0px;
}

#footer, #spacer {
    clear:both;
    height: 6.8em;
}


#footercredit {
    text-align: left;
    float: left;
    overflow:hidden;
    margin-left:1.4em;
}

#footermeta {
    text-align: right;
    float: right;
    overflow:hidden;
    margin-right: 1em;
}

/*********************************

         REPORTS

*********************************/

/* Formatting for the main index page */
/* These should be things like container instead */
div.page_listing {
    padding-bottom:5px;
    margin-bottom:2px;
    text-align:left;
    /*    border-bottom:1px dotted gray; */
}

div.widget_listing {
    margin-left:30px;
    text-align:left;
}



/* Formatting for the debug index page */
div.debug-widget-title {
    font-size:1.4em;
    padding-bottom:5px;
    margin-bottom:2px;
    margin-top:15px;
    text-align:left;
    border-bottom:1px dotted gray;
}

div.debug-field-list {
    margin-left:15px;
}

.debug-field-list .field-name {
    text-align:right;
    padding-right:15px;
    width:300px;
}

.debug-field-list p.generic a {
    color:gray;
    font-style:italic;    
}

.debug-field-list p.common a {
    color:gray;
    font-style:italic;
}

.debug-field-list p.custom a {
    color:red; 
    font-style:italic;
}

p.debug-view {
    font-family:Courier;
    font-size:0.8em;
}

.description {
   font-style:italic;
}



#returned-data {
    font-family:Courier;
    width:800px;
    padding:25px;
    background:#FFFFCC;
    border:1px solid black;
    display:none;
}

.returned-data {
    font-family:Courier;
    width:800px;
    padding:25px;
    background:#FFFFCC;
    border:1px solid black;
    display:none;
}

.returned {
   display:none;
/*    background:#EEE; */
/*    margin-top:5px; */
   padding:5px;
   padding-left:30px;
/*    padding-right:10px; */
}

.superscript      { vertical-align:super; 
                    font-size:0.8em;
                  }


/*********************************

           WIDGETS
 
   ********************************* */
div.widget {
    padding:1px;
    margin:2px;
/*    border:1px dotted gray; */
    background-color:seafoam;
}

/* The widget title bar. This needs to be a div so I can 
   target it for widget controls like toggle, drag, etc.

   On the other hand, these titles should maybe just be
   structural elements such as H1. DIVs and SPANs
   that lack presentational information, but styled with classes
   can be confusing.
*/
div.widget .title {
    border-bottom:1px solid black;
    padding:3px 0px 3px 6px;
    background-color:#BCC;
    text-transform:uppercase;
}

/* Links to download widgets in a variety of formats */
div.downloadable-formats {
    float:right;
    font-size:0.9em;    
}

div.title {
    overflow:visible;
    padding:0em 1em 0.2em 1em;
    position:relative;
    background-color:white;
    height:1.5em;
}

div.columns {
  float:right;
  margin:0 0.5em;
  padding:0.3em 0 0;
  position:relative;
/*   position:absolute; */
/*   right:2em; */
/*   top:5.5em; */
  cursor:pointer;
/*   clear:both; */
}

div.columns ul {
  width:5em;
  position:absolute;
  z-index:999;
  top:100%;
  left:0em;
  background:white;
  margin:0;
  padding:0;
  border:1px solid #CDCDCD;
  display:none;
}

div.columns ul li{
  list-style: none; 
  position:relative;
  display:block;
  float:none;
  padding:0.2em;
  margin:0;
}

div.columns ul li:hover{
  background: #FAF7DE;
}

div.columns ul li div{
  float:none;
}

div.columns div{
  float:left;
}

div.columns ul div input#layout-input {
/*   width:5em; */
  width:100%;
  color: #999999;
  font-size: 0.75em;
  margin:0;
  padding:0;
}

div.columns ul div li div.ui-icon {
  clear:both;
  float:right;
  opacity:0.3;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
}

div.columns ul div li div.ui-icon:hover {
  opacity:1;
  filter:alpha(opacity=100);
  -moz-opacity:1;
}




.title h2 {
    padding:0;
    margin:0;
    float:left;
}


/* Formatting for the debug index page */
div.widget-section-header {
    padding-bottom:5px;
    margin-bottom:2px;
    margin-top:15px;
    text-align:left;
    border-bottom:1px dotted gray;
}




/* CURRENTLY LIVE: Added by boilerplate/field */

/* widget field titles: ie Identification > IDs */
div.field {
/*   clear:both; */
  line-height:1em;
  padding:0.2em;
  height:1%;
  overflow:auto;
}

div.field h5 {
  float:left;
  width:8em;
  text-align:right;
  margin-top:0em;   /* Pitch default h2 margin and force top alignment with p content */
}

div.field-title {
  float        : left;
  text-align   : right; 
  font-size    : 1em;
  padding-right: 0.8em;
  width        : 9em;
}

div.field-content {
/*   float:left; */
  overflow:hidden;
}


/* Subfields - structure mimics that of fields */
div.subfield { 
    clear:both;
    margin-left:0em;
}
div.subfield h6 {   
    float:left;
    width:10em;
    text-align:right;
    margin-top:0em;   // Force top alignment with content even though we're an h element
}

div.subfield p {
    margin-left:1em;
}

div.subfield-title {
	font-size    : 1em;
/*     padding-bottom: 0.5em; */
	height       : auto;	
	}

div.subfield .subfield-content {
  margin-left:0.5em;
  text-align:left;
  width:auto;
  overflow:hidden;
}










/* Containers */
/* Alert box */
div#alert { 
    background-color: #BFD5E8;
    text-align:center;
    border-bottom:2px solid gray;
    padding:10px;
    margin-bottom:10px;
}














/* Allele-specific markup */
/* Markup to show when the sequence identity of an allele is known */
span .identity_known {
    font-weight:bold;    
}

span .identity_unknown {  }

span.feature_flank {
    text-transform:lowercase;
}

span.highlighted_feature {
    text-transform:uppercase;
    font-weight:bold;
}





/* Evidence Formatting */
div.evidence {
    background-color:#FFDDDD;
    padding:5px;
    font-size:12px;
    margin-left:30px;
}
div.evidence .title {}   /* Currently a static title of "evidence" */
div.evidence .type {     /* ie Paper              */
    float:left;
    padding-right:5px;
}
div.evidence .source {}  /* ie Harris et al., 2003 */


div.evidence tr { 
  text-align:top;
}

div.evidence td { 
  text-align:top;
}

div.evidence tr.updated { 
  font-weight:bold;
  text-align:right;
}




/* obsolete? 
table.multi       { padding: 0;
                    border-spacing: 0;
                    width: 100%;
                  }
*/

/* dataheader and datacell are used in page-wide tables such as in the 
   listing of all rearrangements by chrom on the rearrangment page */

.abstract         { background-color: #FFEEEE;     padding-bottom:5px;}
.acetree          { font-size: small; }
.code             { 
                    background-color: #CCFFFF;
                    font-family: Courier, monospace;
                    border:1px solid grey;
                    font-size:12px;
                    width:75%;
                    margin:10px;
                    padding:5px;
}



/* ===============================================

       Data-specific styles

   =============================================== */
.species { font-style: italic; }

.no-wrap { white-space: nowrap; }

/* The variation summary */
.cgc-strain {   /* strains available from the CGC */
    font-style:italic;
}

.strains-with-single-variation {
     font-weight:bold;
}





/* Generic presentation elements */
/* List of items, displayed inline */
.inline-list {
    display:none;
    margin: 2em;
    width: 60%;
    padding: 2px;
}

.inline-list p {
    display: inline;
}

.inline-list ul, .inline-list li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #339;
}


/* List of items, displayed normally */
.standard-list {
    display:none;
    margin: 2em;
    width: 60%;
    padding: 2px;
}

.standard-list p {
    display: block;
}

.standard-list ul, .standard-list li {
    display: block;
    margin: 0;
    padding: 0;
    color: #339;
}











#container {
  padding:10px;
}








/* SEQUENCE STYLING */

/* a snippet of sequence displayed inline */
.inline-sequence {
   font-family: Courier, monospace;
   font-size:0.8em;
}

/* an expandable sequence container */
.sequence-container {
    font-family: Courier, monospace;
    font-size: 0.8em;
    overflow: hidden;
    clear: both;
    margin: 5px;
    display: none;   /* Hidden by default */
}


/*expandable text container */
.abstract-container {
    font-size: 1em;
    overflow: hidden;
    clear: both;
    display: none;   /* Hidden by default */
    position:relative;
    left:30px;
    background-color: #EEEEFF;
    border: 1px solid black;
    padding: 5px;
/*     width:80%; */
}

.results-abstract {
    padding-bottom:5px;
}

.fasta-sequence {
   font-family: Courier, monospace;
}

.sequence-download {
   float:right;        
}
.sequence-section {
    padding-bottom:5px;
    margin-bottom:2px;
    margin-top:15px;
    text-align:left;
}

.locus, .var {
font-style:italic;
display:inline;
white-space:nowrap;
}

.toggle {
	padding: 5px 0 0 30px;
	background: url(/img/ui_widgets/blue_plus_small.png) no-repeat ;
	font-size: 1em;
	font-weight: normal;
    height:16px;
}

.toggle-container {
    font-family: Courier, monospace;
    font-size: 0.8em;
    overflow: hidden;
    width: 80%; 
    clear: both;
    display: none;   /* Hidden by default */
}



div.active {background: url(/img/ui_widgets/blue_minus_small.png) no-repeat;}


/* Ajax loading animations */
#loadingDiv { background: url(/img/animations/small_loader.gif) no-repeat center; }

.tooltip {
	 padding: 0 0 0 20px;
	background: url(/img/ui_widgets/Magnifying-Glass-icon.png) no-repeat ;
}


/*********************************
   
   Navigation for sidebar view
   
*********************************/

#navigation {
  clear:both;
  width: 9.5em;
  float: left;
  position:relative;
  margin:0.5em 0;
  border-bottom:1px solid #CDCDCD;
}

#navigation .ui-selected { 
  background: #C2D1DF; 
  color: black; 
}

#navigation .ui-selected:hover { 
/*  background-color:#AAA;
  color: white; */
  background: #C2D1DF; 
  color: black; 
}

#navigation ul li:hover {
  background: #FAF7DE;
}

#navigation ul { 
  list-style-type: none; 
  margin: 0 0 0 0em; 
  padding: 0;
  overflow: hidden;
}

#navigation ul li { 
  padding: 0.5em; 
  padding-left: 1.4em;
  padding-bottom:0.6em;
  font-size: 0.9em; 
  height: 1em;
/*   vertical-align:middle; */
  overflow:hidden;
  cursor:pointer;
}

#navigation ul li.title { 
  background: #FFF;
  font-size: 0.9em; 
  cursor:auto;
  font-weight: bold;
  padding-left: 1em;
  border-top:1px solid #CDCDCD;
}

#navigation ul li span.ui-icon{ 
  float:right;
}

#nav-min{
  height:100%;
  width:7px;
  overflow:hidden;
  position: absolute;
  right:-8px;
  top:0;
  cursor:pointer;
  background: #DADADA;
  border:1px solid #CDCDCD;
  z-index:1000;
}

#nav-min-icon{
  position: absolute;
  left:-6px;
  top:50%;
  margin-top:-8px;
  opacity:0.8;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
}

#nav-min:hover {
  background:#BBB;
}

#widget-holder {
  overflow:hidden;
  margin: 0.5em 0 0 0;
  padding: 0 0 0 1em;
  list-style: none;
  position:relative;
}

.sortable{
  min-height:1em;
  width:100%;
  float:left;
  position:relative;
}

#navigation .bench.ui-selected{
  background: #D0DEC1;
}

.right{
  min-height:10em;
}

.placeholder {
  background: #FAF7DE;
  margin: 0 0.5em 0.4em 0em;
  border:1px dashed gray;
}

#navigation div.small li{
  font-size:0.7em;
  line-height:1em;
/*   padding-left:1.8em; */
}

.text-width {
  max-width:35em;
/*   margin:0.5em; */
}

div.details {
  border:1px solid #CDCDCD;
  background:#E9EEF2;
  padding: 0.5em;
  float:right;
  margin:0.5em;

}

div.details div.field div.field-title {
  width: 6.7em;
  padding-right: 0.5em;
}

div.details div.field div.field-content{
  float:left;
}

/*Strain table*/
table tr.venn-a, table th.venn-a, table td.venn-a {
  background:#BBEEFF;
  min-height:1em;
  min-width:1em;
}

table tr.venn-b, table th.venn-b, table td.venn-b {
  background:#EEFF88;
  min-height:1em;
  min-width:1em;
}

table tr.venn-ab, table th.venn-ab, table td.venn-ab {
  background:#BBFFAA;
}


