[% 

WRAPPER $field_block title="Anatomy Terms" key="anatomy_terms";

    build_data_table (
		order = [ 
			'anatomy_term',
			'definition', 
			],
		columns = {				 		
			anatomy_term => 'Anatomy_term',
			definition => 'Definition',
			},
		key = 'anatomy_terms');
END;

WRAPPER $field_block title="Expression Patterns" key="expression_patterns";
    tags2link(fields.expression_patterns.data);
END;

%]