[%

WRAPPER $field_block title="Genes" key="genes";
	tags2link(fields.genes.data, '<br >', 'genes');
END;

#    build_data_table (
#		order = [ 
#			'gene',
#			'species', 
#			],
#		columns = {				 		
#			gene => 'Gene',
#			species => 'Species',
#			},
#		key = 'genes');
#END;

%]