<h2>[% fields.name.data.label %]</h2>

[%

WRAPPER highlight_box;


END;

WRAPPER $field_block title="Description" key="description";
     fields.description.data;
END;

WRAPPER $field_block title="Genes" key="contains_genes";
  tags2link(fields.contains_genes.data, '<br />', 'genes found');
END;

%]