<h3>
Oh my heck. We've encountered an error.
</h3>

<p>
In this case, one of our servers made a mistake.
</p>

<p>
Expected URL: [% c.req.path %]<br />
Server Error: 404

Here's the error message, on the off-chance that it means something to you: <span class="error">[% error %]</span>

</p>
