[%#

  Page    : *
  Widget  : *
  Section : Name
  Stash   : name (string OR Ace::Object)

%]

[% PROCESS identify_templates(my_component=component.name)
                     IF c.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Common Name" %]
   	[% c.stash.common_name.data %]
	<!-- This should be a tooltip -->
        <i>This is the description. It should be a tooltip</i>[% c.stash.common_name.description %]
[% END %]
