[%#

    NAME  : genetic_position
    TYPE  : common_field
    STASH : genetic_position => { chromosome => $chromosome,
  	    		     	  position   => $position,
                                  error      => $error,
                                }

    TODO: View should reduce number of sigfigs
    TODO: Linking, either to the Acepic or the genetic map

Here's how to link the position to the Locus page and/or the genetic map

"position" needs to be linked to the locus display using the 
following as text
##  my $map_data = a({-href=>Url('locus',"name=$LOCUS#Mapping%20Data")},
##		   '[mapping data]');

#   THIS BELONGS IN THE VIEW
# Need to reformat the genetic position
#			      ? sprintf(":%2.2f +/- %2.3f cM %s",$position,$error)
			      : ''));

%]

[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Genetic Position" -%]
    [% IF genetic_position %]
       [% genetic_position.chromosome %]: [% genetic_position.position %]
       [% IF genetic_position.error %]
          +/- [% genetic_position.error %]
       [% END %]
    [% ELSE %]
        [% site.unknown %]
    [% END %]
[% END %]
