[%#

  Page    : *
  Widget  : *
  Section : Name
  Stash   : name (string OR Ace::Object)

%]

[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(my_component=component.name) IF Catalyst.config.debug_view %]

[% WRAPPER "boilerplate/field" title="Name" %]
            [% name %]
[% END %]
