[%#

  Page    : *
  Widget  : *
  Section : Name
  Stash   : name (string OR Ace::Object)

%]

[% # This generic statement belongs at the start of every template %]
[% PROCESS identify_templates(this_component=component.name) IF c.config.debug_view %]

[%# Just a generic list %]
[% WRAPPER "boilerplate/section" title="Remarks" -%]
  [% WRAPPER "boilerplate/subsection"-%]

       [% FOREACH remark IN remarks %]
          [% remark %]
      [% END %]
  [% END %]
[% END %]
